<div class="finacle-container">
	<div class="account-page">
		<div class="col-sm-12">
			<div class="dashboard-pad">
				<div class="dashboard-item-body">
					<div class="dashboard-item-title col-sm-12 margin-bottom-20">
						<div class="item-title text-uppercase" id="deactivateDeviceHeader">
							{{appLiterals.APP.MYPROFILE.MANAGE_AC_DEVICES.DE_ACT_TITLE}}</div>
					</div>
					<p class="col-sm-12 fut-txt1 lh13" id="deactivateDeviceTxt">
						{{appLiterals.APP.MYPROFILE.MANAGE_AC_DEVICES.DE_ACT_MSG1}}
						{{myProfile.oldDeviceName}} -
						{{appLiterals.APP.MYPROFILE.MANAGE_AC_DEVICES.DE_ACT_MSG2}}</p>
					<br> <br> <br>
				</div>
				<section layout="row" layout-align="center center"
					class="btn-wrap button-wrapper">
					<md-button id="deactivateDeviceCancel" type="button"
						class=" md-raised btn--secondary-btn"
						ng-click="setEvent('onNoDeActClick');">{{appLiterals.APP.COMMON.BUTTON.NO}}
					</md-button>
					<md-button id="deactivateDeviceSubmit"
						class=" md-raised btn--primary-btn" type="button"
						ng-click="myProfile.manageDevice.userDeactive();">{{appLiterals.APP.COMMON.BUTTON.YES}}</md-button>
				</section>
<!-- 				<div class="app-cancel title-right"
					ng-click="setEvent('onCancelClick')"></div> -->
			</div>
		</div>
	</div>
</div>
