<div id="forgotPasswordSuccessfulPrev"
	class="display-heading finacle-container finacle-container-successPage col-sm-12"
	ng-init="isTouchIDActivation || isTouchIDLogin ?myProfile.addPwdToKeychain() : '' ;setSingleStepRealmAuthFailure();">
	<!-- Added for Touch id- password flow-->
	<div class=" dashboard-item-body">
		<fin-success
			success-banner="{{appLiterals.APP.MYPROFILE.FP_SUCCESS.MSG_SUCCESS}}"
			success-message="{{successResponse.responsesList[0].frgtPwdresponse}}" 
			cross-click="myProfile.resetPwdFields();setEvent('onDoneButtonClick')"></fin-success>
		<!-- 	<div class="sucs_circle_wrap">
			<span class="app-tickcircle sucs_circle_icon"></span>
		</div> 
			<div id="forgotPwdSuccessDoneClick" class="title-right-succPage"
				ng-click="myProfile.resetPwdFields();setEvent('onDoneButtonClick')"></div>
	<p id="ForgotPasswordSuccessfulMSG_SUCCESS" class="trans_sucs_txt">
		{{appLiterals.APP.MYPROFILE.FP_SUCCESS.MSG_SUCCESS}}</p>
	<div class="trans_id_wrap">
		<div class="id_container"></div>
		<div class="id_txt_wrap">
			<div class="id_txt_pad">
				<p id="ForgotPasswordSuccessfulFrgtPwdresponse" class="sucs-id-txt">{{successResponse.responsesList[0].frgtPwdresponse}}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-10">
		<button type="button" class="btn--special-btn1"
			ng-click="myProfile.resetPwdFields();setEvent('onDoneButtonClick')">{{appLiterals.APP.MYPROFILE.FP_SUCCESS.BTN_DONE}}</button>
	</div> -->

	</div>
</div>