<div id="loginPasswordSuccessfulPrev"
	class="finacle-container finacle-container-successPage col-sm-12 ng-scope"
	ng-init="isTouchIDActivation || isTouchIDLogin ?myProfile.addPwdToKeychain() : '' ;">
	<!-- Added for Touch id- password flow-->
	<div class=" dashboard-item-body">
	<fin-success success-banner="{{appLiterals.APP.MYPROFILE.FP_SUCCESS.MSG_SUCCESS}}" success-message="{{successResponse.responsesList[0].changePasswordResponse}}" cross-click="setEvent('onLoginPasswordDoneClick')"></fin-success>
	<!--  	<div class="sucs_circle_wrap">
			<span class="app-tickcircle sucs_circle_icon"></span> 
				<div id="loginPwdSuccessDoneClick" class="title-right-succPage"
				ng-click="setEvent('onLoginPasswordDoneClick')"></div>
		</div>
		<p id="myProfileLgnPwdSuccessMSG_SUCCESS" class="trans_sucs_txt">{{appLiterals.APP.MYPROFILE.FP_SUCCESS.MSG_SUCCESS}}</p>
		<div class="trans_id_wrap">
			<div class="id_container"></div>
			<div class="id_txt_wrap">
				<div class="id_txt_pad">
					<p id="myProfileLgnPwdSuccessChangePasswordResponse" class="sucs-id-txt">{{successResponse.responsesList[0].changePasswordResponse}}</p>
				</div>
			</div>
		</div> 
			<div class="col-sm-12">
		<button type="button" class="btn--special-btn1"
			ng-click="setEvent('onLoginPasswordDoneClick')">
			{{appLiterals.APP.MYPROFILE.LGN_PASS_SUCCESS.BTN_DONE}}</button>
	</div> -->
	</div>
</div>