<div id="updateCommAddressLandingPage"
	class="app app-arrow2 title-right" ng-click="setEvent('onCancelClick')"></div>
<div class="finacle-container"
	ng-init="myProfile.activeTab='comm';myProfile.initUpdateAddressDetails(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-12">
			<div class="app-title-wrapper"></div>

			<div class="ipad-container">
				<div class="dashboard-item-body">

					<div class="dashboard-item-title col-sm-12  margin-bottom-20">
						<div id="commAddTitle" class="item-title text-uppercase">{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.UPDATE_ADDRESS_HEADER}}</div>
						<!--  <md-menu class="title-right">
						<md-button id="moreMenuComm" class="md-icon-button more-details"
							ng-click='$mdOpenMenu($event)' aria-label="More"> <md-icon
							class="app app-ellipses"> </md-icon> </md-button> <md-menu-content
							class="fin-menu-content"> <md-menu-item>
						<md-button id="workAddress" ng-click="setEvent('onHomeTabClick')">
						{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.WRK_ADDRESS}} </md-button></md-menu-item> <md-divider></md-divider>
						<md-menu-item> <md-button id="permAddress"
							ng-click="setEvent('onPermanentTabClick')">
						{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.PERMANENT_ADDRESS}} </md-button> </md-menu-item> </md-menu-content> </md-menu> -->
					</div>
					<form
						ng-submit="myProfile.updateAddressDetail();setEvent('onContinueClick');">
						<!--  start of the md-radio-group -->
						<md-radio-group class="radioButtonRight"
							ng-model="myProfile.updateAddressModel.preferredAddress">
						<!--  end of md-radio-group --> <!-- <div class="col-sm-12 margin-bottom-15">
							<input id="commAddPreferred" type="checkbox"
								ng-model="myProfile.updateAddressModel.prefferedAdd[1]"
								ng-click="myProfile.checkAddressPreference('Mailing',1);">
							<span id="communicationPref" class="dash-ac-no">{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.PREFFERED}}
							</span>
						</div> -->
						<div class="margin-bottom-20">
							<div class="col-sm-12 margin-bottom-15">
								<span class="trans-no">{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.COMM_ADDRESS}}</span><span
									class="float-right trans-no"> <md-radio-button class=""
										value="Mailing">{{appLiterals.APP.MYPROFILE.UPDATECONTACTDET.PREFFERED}}</md-radio-button></span>
							</div>
							<div class="two-input-wrapper clear-all">
								<fin-input type="text"
									model="myProfile.updateAddressModel.firstName"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.firstName"]'
									max-Length="65" display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.F_NAME}}"></fin-input>
								<fin-input type="text"
									model="myProfile.updateAddressModel.lastName"
									display-row="half2"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.lastName"]'
									max-length="65"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.L_NAME}}"></fin-input>
							</div>
							<div class="avail-bal-wrap">
								<fin-input type="text"
									model="myProfile.updateAddressModel.communicationAddressLineOne"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationAddressLineOne"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL1}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.communicationAddressLineTwo"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationAddressLineTwo"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL2}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.communicationAddressLineThree"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationAddressLineThree"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL3}}"></fin-input>
							</div>
							<div class="two-input-wrapper clear-all"
								ng-init='Country = createDropDownOptionArray(myProfile.updateAddressModel.cocdCountryCodes, ["content"], "value");StateArray = createDropDownOptionArray(myProfile.updateAddressModel.StateCodeComm, ["content"], "value");'>

								<fin-input type="dropdown"
									on-change="setEvent('onCountrySelect')"
									model="myProfile.updateAddressModel.communicationCountry"
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.COUNTRY}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationCountry"]'
									option-array="Country"></fin-input>



								<fin-input type="dropdown"
									model="myProfile.updateAddressModel.communicationState"
									display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.STATE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationState"]'
									option-array="StateArray"></fin-input>

							</div>
							<div class="two-input-wrapper clear-all">
								<fin-input type="text"
									model="myProfile.updateAddressModel.communicationCity"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationCity"]'
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.City}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.communicationPostalCode"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationPostalCode"]'
									max-length="7" display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.PINCODE}}"></fin-input>
							</div>


							<div class="avail-bal-wrap">
								<fin-input type="date"
									model="myProfile.updateAddressModel.communicationAddressSince"
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.ADD_SINCE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.communicationAddressSince"]'></fin-input>
							</div>
						</div>
						<div class="service-hr margin-bottom-20"></div>
						<!--  end of communication address -->
						<div class="margin-bottom-20">
							<div class="col-sm-12 margin-bottom-15">
								<span class="trans-no">{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.PERMANENT_ADDRESS}}</span><span
									class="float-right trans-no"> <md-radio-button class=""
										value="Home">{{appLiterals.APP.MYPROFILE.UPDATECONTACTDET.PREFFERED}}</md-radio-button></span>
							</div>
							<div class="two-input-wrapper clear-all">
								<fin-input type="text"
									model="myProfile.updateAddressModel.firstName"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.firstName"]'
									max-Length="65" display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_FIRST_NAME}}"></fin-input>
								<fin-input type="text"
									model="myProfile.updateAddressModel.lastName"
									display-row="half2"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.lastName"]'
									max-length="65"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_LAST_NAME}}"></fin-input>
							</div>
							<div class="avail-bal-wrap">
								<fin-input type="text"
									model="myProfile.updateAddressModel.permanentAddressLineOne"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentAddressLineOne"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_ADDRESS_LINE1}}"></fin-input>

								<fin-input type="text"
									model="myProfile.updateAddressModel.permanentAddressLineTwo"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentAddressLineTwo"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_ADDRESS_LINE2}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.permanentAddressLineThree"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentAddressLineThree"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_ADDRESS_LINE3}}"></fin-input>
							</div>
							<div class="two-input-wrapper"
								ng-init='Country = createDropDownOptionArray(myProfile.updateAddressModel.cocdCountryCodes, ["content"], "value");StateArray = createDropDownOptionArray(myProfile.updateAddressModel.StateCodePerm, ["content"], "value");'>

								<fin-input type="dropdown"
									on-change="setEvent('onCountrySelect')"
									model="myProfile.updateAddressModel.permanentCountry"
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_COUNTRY}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentCountry"]'
									option-array="Country"></fin-input>

								<fin-input type="dropdown"
									model="self.updateAddressModel.permanentState"
									display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_STATE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentState"]'
									option-array="StateArray"></fin-input>

							</div>
							<div class="two-input-wrapper">
								<fin-input type="text"
									model="myProfile.updateAddressModel.permanentCity"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentCity"]'
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_CITY}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.permanentPostalCode"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentPostalCode"]'
									max-length="7" display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_PIN_CODE}}"></fin-input>
							</div>
							<div class="avail-bal-wrap">
								<fin-input type="date"
									model="myProfile.updateAddressModel.permanentAddressSince"
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATE_PERMANENT_ADDRESS_LANDING.PH_ADDRESS_SINCE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.permanentAddressSince"]'></fin-input>
							</div>
						</div>
						<div class="service-hr margin-bottom-20"></div>
						<!--  end of home address -->
						<div class="margin-bottom-20">
							<div class="col-sm-12 margin-bottom-15">
								<span class="trans-no">{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.WRK_ADDRESS}}</span><span
									class="float-right trans-no"> <md-radio-button class=""
										value="Work">{{appLiterals.APP.MYPROFILE.UPDATECONTACTDET.PREFFERED}}</md-radio-button></span>
							</div>
							<div class="two-input-wrapper clear-all">
								<fin-input type="text"
									model="myProfile.updateAddressModel.firstName"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.firstName"]'
									max-length="65" display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.F_NAME}}"></fin-input>
								<fin-input type="text"
									model="myProfile.updateAddressModel.lastName"
									display-row="half2"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.lastName"]'
									max-length="65"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.L_NAME}} "></fin-input>
							</div>
							<div class="avail-bal-wrap">
								<fin-input type="text"
									model="myProfile.updateAddressModel.workAddressLineOne"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workAddressLineOne"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL1}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.workAddressLineTwo"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workAddressLineTwo"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL2}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.workAddressLineThree"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workAddressLineThree"]'
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.AL3}}"></fin-input>
							</div>
							<div class="two-input-wrapper"
								ng-init='Country = createDropDownOptionArray(myProfile.updateAddressModel.cocdCountryCodes, ["content"], "value");StateArray = createDropDownOptionArray(myProfile.updateAddressModel.StateCodeWork, ["content"], "value");'>

								<fin-input type="dropdown"
									on-change="setEvent('onCountrySelect')"
									model="myProfile.updateAddressModel.workCountry"
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.COUNTRY}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workCountry"]'
									option-array="Country"></fin-input>

								<fin-input type="dropdown"
									model="myProfile.updateAddressModel.workState"
									display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.STATE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workState"]'
									option-array="StateArray"></fin-input>

							</div>
							<div class="two-input-wrapper">
								<fin-input type="text"
									model="myProfile.updateAddressModel.workCity"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workCity"]'
									display-row="half1"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.City}}"></fin-input>


								<fin-input type="text"
									model="myProfile.updateAddressModel.workPostalCode"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workPostalCode"]'
									max-length="7" display-row="half2"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.PINCODE}}"></fin-input>
							</div>
							<div class="avail-bal-wrap">
								<fin-input type="date"
									model="myProfile.updateAddressModel.workAddressSince"
									display-row="full"
									placeholder="{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.ADD_SINCE}}"
									validation-flag='pageErrorArr["myProfile.updateAddressModel.workAddressSince"]'></fin-input>
							</div>
						</div>

						<!-- end of work address  --> </md-radio-group>
						<section class="button-wrapper" layout="row"
							layout-align="center center" layout-wrap>
							<md-button id="updateCommAddressProceed" type="submit"
								class=" md-raised btn--primary-btn">
							{{appLiterals.APP.MYPROFILE.UPDATEADDRESS.CONT_BTN}}</md-button>
						</section>


					</form>
				</div>
			</div>
		</div>
	</div>
</div>

