
<div class="finacle-container" ng-init="rakEDirham.initRAKDirhamRegSuccess(successResponse.responsesList);">
<div class="account-page">
<div class="app-title-wrapper">
<div class="form-block">

		
		   <div class="">		   		
			
		                
		   <div class="bg-color eDirham-scroll margn-5-5-0-5">  	     
		   	<div class="paybils-block-top w-100">
		   	<div class="summary-ServiceReq mb-2em">
				<div class="iconDiv">
					<span class="infoIcon"></span><span class="success">{{rakEDirham.common.sucMsg}}</span>
				</div>
			</div>
					            <div class="">
					             
					             								            <div class="main-form-heading-ServiceReq success-pb">
             <h2 class="rakBenfHeader">{{appLiterals.APP.EDIRHAM.EDIRHAM_UPDATE_CHHOSE_ACCT_HEADER}} - {{appLiterals.APP.EDIRHAM.EDIRHAM_SUCCESS_HEADER_SUB_HEADER}}
            <!--   <span>{{appLiterals.APP.EDIRHAM.EDIRHAM_SUCCESS_HEADER_SUB_HEADER}} </span> -->
				      </h2>
       	</div>
					              <p class="rak-sum-txt">
											<span  class="rak-sum-label txt-align-left"> {{appLiterals.APP.EDIRHAM.BEN_ACCT_NAME}}</span>
											<span class="rak-sum-label black txt-align-left">{{rakEDirham.eDirhamDetails.acctNickName}}</span>
										</p>
				
					              
					            </div>	
					                        
					            
			</div>
	     <!--     <div class="margin-top-thirtypx">
		     <button type="button" class="btn--special-btn btn-middle go-overview-btn"
									ng-click="setEvent('onEdirhamOverviewClick');rakEDirham.clearTab();">{{appLiterals.APP.EDIRHAM.GO_OVERVIEW_BTN}}
									</button>
									 <button type="button" class="btn--special-btn btn-middle generate-token-btn"
									ng-click="setEvent('onAuthClick');rakEDirham.clearTab();"> {{appLiterals.APP.EDIRHAM.GENERATE_TOKEN_BTN}} 
									</button>
			
		     </div> -->
		       <div class="margin-top-thirtypx">
		    					 <button type="button"class="btn--special-btn btn-middle block-unblock-btn"
									ng-click="setEvent('onEdirhamOverviewClick');rakEDirham.clearTab();">
												{{appLiterals.APP.EDIRHAM.EDIRHAM_TXNAPPRV_SUC_BTN}}
											</button>
							
			
		     					</div>
            
			</div>
    
		   
		     
    
	

</div>
</div>
</div>
</div>
</div>