
@import "rtl";
@import "../theme";
@import "../config";
@import "../nanoscroller";
@import "../opensans";
@import "../font";
@import "../fin-input";
@import "../slider";
@import "../finacle_sass";
@import "../media";













.special-logo md-icon {
	left: 5px !important;
	right: initial !important;
}

.rem-wrap md-checkbox .md-label {
	    white-space: inherit;
}

.pop-cheque-img {
	    margin-right: -32% !important;
}

.app_icon_power, .hideDialogue, .radioButtonRight md-radio-button ._md-container, .list_half2 {
	right: initial !important;
	left: 0 !important;
}

.item-arrow-right {
    right: initial !important;
    left: -30px !important;
}
.item-arrow-left {
    left: initial !important;
    right: -30px;
}

.item-arrow-right .item-arrow {
    right: initial !important;
    left: 22px !important;
    transform: rotateY(180deg) !important;
}

.item-arrow-left .item-arrow {
    left: initial !important;
    right: 22px !important;
    transform: rotateY(180deg) !important;
}

.app-arrow2.title-right-dash, .app-arrow2.title-right {
	right: 56px !important;
	left: initial !important;
	transform: rotateY(180deg) !important;
}

.title-right-succPage:before {
right: initial !important;
	left: 0 !important;
}
md-menu-bar.title-right, .send-mail-button {
	    margin-left: .3em;
}

md-input-container .md-input {
	text-align: $left;
}

.title-right-succPage:before, md-icon.calender_icon, .mob-user-icon.md-button {
	     right: initial !important;
    
    left: 0;
}

.fin-input-container .set-arrow, .my-accounts-cards-click .set-arrow {
	transform: rotateY(180deg) !important;
}


.set-arrow, .set-arrow1 {
	    left: 10px;
    right: initial !important;
	transform: rotateY(0deg) !important;
}

.md-sidenav-left, md-sidenav {
	right: 0;
    left: initial !important;
}

.md-sidenav-left._md-closed, md-sidenav._md-closed {
    -webkit-transform: translate3d(100%,0,0) !important;
    transform: translate3d(100%,0,0) !important;
}
.burger-arrow .burger-icon {
    transform: rotate(180deg);
}
.md-sidenav-left.md-closed, md-sidenav.md-closed {
	-webkit-transform: translate3d(0100%,0,0) !important;
    transform: translate3d(100%,0,0) !important;
}

.search-box-wrap .sub-menu-search-icon {
	    left: .8em;
		right: initial !important;
}

.compose-icon {
	left: 1em;
	right: initial !important;
}

.trans-dash-right {
	padding-left: 0 !important;
	padding-right: .4em !important;
}

.service-arrow {
    -webkit-transform: rotate(180deg) !important;
}

.new_user {
	left: .8em !important;
	    right: initial !important;
		    min-width: 8em;
    text-align: $right;
}

.app-user-detail {
    margin: 1.5em 1.5em 0 0em !important;
}

.app-user-img {
    margin: .7em 1.5em 0em 0 !important;
}

fin-balance span:first-child {
    display: inline-block;
}

.last-txt {
    margin: 1em .8em 0 0 !important;

	}

	form md-datepicker {
	left: 10px !important;
}


.radioButtonRight md-radio-button ._md-label {
    margin-right: 0 !important;
    margin-left: 30px !important;
}



