<div class="container-fluid padding-auto">
<div class="container-fluid padding-zero">

		<div class="row" ng-init="rak2FARegister.RegistrationModel.pin='';">

			<div class="col-sm-1 rakDblheight"></div>
			
				<div class="center rakFont10">
					<div class="rak-logintab"
						ng-click="setGlobalEvent('onLoginClick');">
						<span class="rak-black-color login-label">
							{{appLiterals.APP.RAK_LOGIN_PAGE.LOGIN}} </span>
					</div>

					<!-- CHANGES DONE AS FIX OF PRCU-1412 START -->
					<div class="rak-logintab  border-left"
						ng-show="rak2FARegister.RegistrationModel.isRegisterClicked">
						<span class="login-label rak-color border-bottom">
							{{appLiterals.APP.RAK_LOGIN_PAGE.TOKEN_REGISTER}}</span>
					</div>

				
			<!--  CHANGES DONE AS FIX OF PRCU-1412 END -->
				
				</div>

		<div ng-if="rak2FARegister.RegistrationModel.requestType=='FUON'">
			<div class="selfReg-main-form-heading margin-top10px">
				<div>
					<span class="rak-black-color login-label-selfReg ">{{appLiterals.APP.RAK_2FA_MESSAGES.NEWREG_TXT}}</span>
					<ul class="process-steps">
						<li></li>
						<li></li>
						<li class="active"></li>
						
						<li></li>
                        <li></li>
					</ul>

				</div>
			</div>
		</div>

	
		</br> </br>



		<div class="bg-color">
			<div class="row">				
				<div class="" ng-hide="rak2FARegister.RegistrationModel.isSmeWrkFlow=='Y'">
					<p
						class="rak-parent-txt">
						<span class="rak-sum-label  labelCardsTemp rak40">{{appLiterals.APP.RAKSELFREG.CARDNO}}</span>
							<span class="rak-sum-label black labelCardsTemp rak60">{{rak2FARegister.RegistrationModel.cardNo}}</span>
					</p>
				

				

					<fin-input type="password_num"
						model="rak2FARegister.RegistrationModel.pin"
					validation-flag='pageErrorArr["rak2FARegister.RegistrationModel.pin"]'	 display-row="full"
						placeholder="{{appLiterals.APP.RAKSELFREG.PIN_2FA}}" max-length="4"></fin-input>



					<div class="label-wrap">
						<button type="button"
							class="btn--special-btn btn-middle rak-button-small btn--back "
							ng-click="setGlobalEvent('onLoginClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CANCEL}}</button>

						<button type="button"
							class="btn--special-btn btn-middle rak-button-small "
							ng-click='rak2FARegister.EzComToken.isFromNonLoginFlow=true;rak2FARegister.initiateRegistrationForAuth("onRakNew2FADebitPinRegrezTokenService");'>{{appLiterals.APP.RAKCOMMONLITERALS.PROCEED}}</button>
					</div>

					
				</div>
				<!--2FA Login Flow START  -->
					<div class=""
						ng-show="rak2FARegister.RegistrationModel.isSmeWrkFlow=='Y'">

						<div class="col-sm-11 login-form">							
							<div class="col-sm-1 rakDblheight"></div>
							<div class="swiper-slide">								

								<div class="rak-selfReg-lable">
									<p ng-bind-html="appLiterals.APP.RAKSELFREG.ENTER_USERID_PWD"></p>
								</div>

								<div class="forget_pwd"
									ng-if="appVersionDetails.appConfigParams[1].BUILDTYPE == 'MPIN'"
									ng-click="fields.finacleUserCorporateId = '';fields.finacleUserPassword ='';resetPageError();setEvent('onForgotMPINClick')">Trouble
									Logging In?</div>

								<div class="app-login-input-wrap">


									<div
										ng-hide='pageErrorArr["fields.finacleUserCorporateId"] == null'
										class="login-input--login-left-box app-login-left"></div>


									<div class="login-input--login-right-box"></div>

									<div
										ng-hide='pageErrorArr["fields.finacleUserCorporateId"] == null'
										class="login-input--login-right-box app-login-right"></div>
									<button class='ng-hide' id='dummy-btn'
										ng-click="myProfile.rememberUserID.autoCompleteChk='0'"></button>
									<button class='ng-hide' id='dummy2-btn'
										ng-click="fields.finacleUserCorporateId =myProfile.rememberUserID.userID"></button>

									<div class="text-box">
										<input ng-model="fields.finacleUserCorporateId"
											onpaste="return false;" ng-cut="event.preventDefault()"
											ng-copy="event.preventDefault()" class="login-input-style"
											type="text" id="login-form" input-benf-restrict-alphabet-number
											placeholder="{{appLiterals.APP.RAK_LOGIN_PAGE.USERID}}"
											clear-warning="fields.finacleUserCorporateId"
											ng-blur="myProfile.rememberUserID.focusShift();"
											autocorrect="off" autocapitalize="none" spellcheck="false"
											ng-change="(myProfile.rememberUserID.rememberUser.length==0 || (myProfile.rememberUserID.rememberUser | filter:fields.finacleUserCorporateId).length ==0)?
							myProfile.rememberUserID.autoCompleteChk='0':fields.finacleUserCorporateId.length==0 ?
							 myProfile.rememberUserID.autoCompleteChk='0':myProfile.rememberUserID.autoCompleteChk='1'">
										<ul ng-hide="myProfile.rememberUserID.autoCompleteChk=='0';  "
											class="type-user-name">
											<li class="user-name-list"
												ng-focus="myProfile.rememberUserID.stayFocused=true"
												ng-repeat="value in myProfile.rememberUserID.rememberUser | filter:fields.finacleUserCorporateId"
												ng-click="fields.finacleUserCorporateId=value.name ;myProfile.rememberUserID.autoCompleteChk='0';myProfile.rememberUserID.rememberUserIDChk=true;">
												<a class="user-name-txt"> {{value.name}} </a>
											</li>
										</ul>
									</div>

									<div
										ng-hide='pageErrorArr["fields.finacleUserCorporateId"] == null'
										class="login-txt-error">
										<span> ! </span>
									</div>
								</div>

								<div class="fin-txt"></div>
								<div class="app-login-input-wrap">


									<div
										ng-hide='pageErrorArr["fields.finacleUserPassword"] == null'
										class="login-input--login-left-box app-login-left"></div>

									<div class="login-input--login-right-box"></div>

									<div
										ng-hide='pageErrorArr["fields.finacleUserPassword"] == null'
										class="login-input--login-right-box app-login-right"></div>

									<div class="text-box">										
										<input ng-model="fields.finacleUserPassword"
											onpaste="return false;" ng-cut="event.preventDefault()"
											ng-copy="event.preventDefault()"
											ng-if="appVersionDetails.appConfigParams[1].BUILDTYPE == 'PWD'"
											ng-focus="myProfile.rememberUserID.autoCompleteChk='0'"
											class="login-input-style" type="password"
											ng-keypress="myProfile.spaceCheckInPassword($event)"
											;  id="login-form"
											placeholder="{{appLiterals.APP.DASHBOARD.LOGIN_PAGE.PASSWORD_TXT}}"
											clear-warning="fields.finacleUserPassword" /> <input
											ng-model="fields.finacleUserPassword" onpaste="return false;"
											ng-cut="event.preventDefault()"
											ng-copy="event.preventDefault()"
											ng-if="appVersionDetails.appConfigParams[1].BUILDTYPE == 'MPIN'"
											ng-focus="myProfile.rememberUserID.autoCompleteChk='0'"
											class="login-input-style" type="password"
											ng-keypress="myProfile.spaceCheckInPassword($event)"
											;  id="login-form" placeholder="MPIN"
											clear-warning="fields.finacleUserPassword" />
									</div>

									<div
										ng-hide='pageErrorArr["fields.finacleUserPassword"] == null'
										class="login-txt-error">
										<span> ! </span>
									</div>

								</div>

								<div>

									<div class="fin-txt"></div>
									<button type="button" class="login-btn rakLoginBtn-middle"
										ng-if="isStubbedVersion == true"
										ng-click="setGlobalEvent(home.getLoginEventForAppMode(isStubbedVersion))">
										{{appLiterals.APP.DASHBOARD.LOGIN_PAGE.PROCEED_BTN}}</button>

									<div class="label-wrap">
										<button type="button"
											class="btn--special-btn btn-middle rak-button-small btn--back "
											ng-click="setGlobalEvent('onLoginClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CANCEL}}</button>

										<button type="button"
											class="btn--special-btn btn-middle rak-button-small "
											ng-if="isStubbedVersion == false && appVersionDetails.appConfigParams[1].BUILDTYPE == 'PWD'"
											ng-click="rak2FARegister.constants.buildType='CORP';rakHome.SMEbuildType();rak2FARegister.initiateRegistrationForAuth('SmeWF2FAOnRegAuthenticateClick')">
											{{appLiterals.APP.RAKCOMMONLITERALS.PROCEED}}</button>
									</div>									

									<button type="button" class="login-btn rakLoginBtn-middle"
										ng-hide="true" id="MPINLogin"
										ng-click="setEvent('onMPINLoginClick')"></button>
									<button type="button" class="login-btn rakLoginBtn-middle"
										ng-hide="true" id="isLoginPageBack">isLoginPageBack</button>

									<button type="button" class="login-btn rakLoginBtn-middle"
										ng-if="isStubbedVersion == false && appVersionDetails.appConfigParams[1].BUILDTYPE == 'MPIN'"
										ng-click="resetPageError();appActivation.clearMPINData();appActivation.loginUser();">
										{{appLiterals.APP.DASHBOARD.LOGIN_PAGE.PROCEED_BTN}}</button>


									<button type="button" class="login-btn rakLoginBtn-middle"
										ng-if="appVersionDetails.appConfigParams[1].BUILDTYPE == 'MPIN'"
										ng-click="resetPageError();appActivation.clearMPINData();setEvent('onAppActivationRegisterClick')">REGISTER
									</button>
								</div>

							</div>
						</div>

					</div>
					<!--2FA Login Flow END  -->
			</div>
		</div>
	</div>
</div>
</div>