<div class="rak-back-header">

				<i class="rak-back-img"
					ng-click="rak2FARegister.registerSuccess();"></i>
		</div>
<div class="nano menu-scroll">
	<div class="nano-content">

		<div class="finacle-container"
			ng-init="setSingleStepRealmAuthFailure();rak2FARegister.jsessionid=successResponse.responsesList[0].sessKey;rak2FARegister.transactionApproval.initApprovalDetailsPage(successResponse.responsesList);">
			<div class="account-page">
				<div class="col-sm-11">
				
					<div class="main-form-heading-ServiceReq"> 
							      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TRANACTION_APPROVE}}
							      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}}</span>		     
							      </h2>		       
					 		</div>

					<div class="bg-color rak-cont-padding rak-scroll">
						<div class="row">
							
							
					<div  ng-show="rak2FARegister.transactionApproval.pushTypeOfTransaction && rak2FARegister.transactionApproval.pushTypeOfTransaction=='NFTXN'">
					
						<div  ng-show="rak2FARegister.transactionApproval.isFileUpload && rak2FARegister.transactionApproval.isFileUpload=='Y'">
							
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.FILE_TYPE}}</span>
								<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.serviceTypeDescription}}</span>
							</p>
							
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.FILE_NAME}}</span>
								<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.fileName}}</span>
							</p>
							
						</div>
						
						<div  ng-show="rak2FARegister.transactionApproval.isFileUpload && rak2FARegister.transactionApproval.isFileUpload=='N'">
							
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.BENF_NAME}}</span>
								<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.benfName}}</span>
							</p>
							
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.BENF_TYPE}}</span>
								<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.benfType}}</span>
							</p>
							
						</div>
					
					</div>
					
					<div  ng-show="!(rak2FARegister.transactionApproval.pushTypeOfTransaction && rak2FARegister.transactionApproval.pushTypeOfTransaction=='NFTXN')">
					
							<div  ng-show="rak2FARegister.transactionApproval.isFileUpload && rak2FARegister.transactionApproval.isFileUpload=='Y'">
							
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.FILE_TYPE}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.serviceTypeDescription}}</span>
								</p>
				
					  
	                    
	                  		   <p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TXN_AMT}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.TxnAmountDisplay}}</span>
								</p>
						
				
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TXN_DATE}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.TxnDateDisplay}}</span>
								</p>
								
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.FILE_NAME}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.fileName}}</span>
								</p>
								
							
							</div>
							
							
							<div  ng-show="rak2FARegister.transactionApproval.isFileUpload && rak2FARegister.transactionApproval.isFileUpload=='N'">
							
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.FROM_ACCOUNT}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.fromAccDisplay}}</span>
								</p>
				
				
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TO_ACCOUNT}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.toAccDisplay}}</span>
								</p>
	                            
	                    
	                  		  <p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TXN_AMT}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.TxnAmountDisplay}}</span>
								</p>
						
				
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.TXN_DATE}}</span>
									<span class="rak-sum-label black">{{rak2FARegister.transactionApproval.TxnDateDisplay}}</span>
								</p>
							
							</div>
							
							
							
							
					</div>
					
							
								
                                <div class="label-wrap">
                                    <button type="button"
                                        class="btn--special-btn btn-middle rak-button-small btn--back"
                                        ng-click="rak2FARegister.transactionApproval.txnStatus='2';rak2FARegister.transactionApproval.submitApproval();">
                                       Reject</button>
                                    <button type="button"
                                        class="btn--special-btn btn-middle rak-button-small"
                                        ng-click="rak2FARegister.transactionApproval.txnStatus='1';rak2FARegister.transactionApproval.submitApproval();">{{appLiterals.APP.RAK_2FA_TRANSACTION_APPROVAL.APPROVE}}
                                    </button>
                                    
                                </div>

						
								
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

