<div class="rak-back-header">
    <i class="rak-back-img" ng-click="rakPendingApproval.approveAuthModel.userName=bank.userId;rakPendingApproval.approveAuthModel.backFlag='Y';rakPendingApproval.approverId=bank.userId;rakPendingApproval.resolveEventForLookUp(rakPendingApproval.clickedEvent);"></i>
  </div>
    	<div class="finacle-container" >
	<div class="account-page">
		<div class="col-sm-11">
			<div class="app-title-wrapper">	
					 
			   <div class="form-block">
	<div class="">
		<div class="raksearch-field-wrap">
	 <p class="search-field"><span class="rakGlyphicon glyphicon-search"> </span>
        <input type="text" input-restricted-special-character placeholder="Search Approver" ng-model="rakCorpInit.corpModel.searchText" class="raksearch-txt">
      </p>
      </div>
			<div class="main-form-heading-payee rakSearchBorder"> 
		      <h2 >{{appLiterals.APP.CORPORATE.APPROVER_LOOKUP}}
		 	     
		      </h2>		       
		  </div>		 

	</div>
							    
         <div class="fin-txt"></div>
         <div class="bg-color rak-cont-padding" ng-init="rakCorpInit.corpModel.searchText='';rakCorpInit.corpModel.processRoleDetail(successResponse.responsesList);">         
          <div class="money-block" ng-if="rakPendingApproval.approveAuthModel.roleDetailsList.length> 0">              
						         <ul>
						               <li  class="active rakwidth33Left" >
						            {{appLiterals.APP.CORPORATE.USERID}}</li>	
						              <li class="active rakwidth33Left">
						           {{appLiterals.APP.CORPORATE.USERNAME}}</li>					        
						           <li class="active rakwidth33Left">
						           </li>
						         <!--    <li class="active rak25">
						           {{appLiterals.APP.CORPORATE.OUTOFFICE}}</li> -->
						       
						            
						         </ul> 
						 	</div>
          			<div class="rakScrollDivHistory rak-cont-paddingvh" ng-class="{'rakScrollDivHistorySmall':rakTxnSearch}" ng-if="rakPendingApproval.approveAuthModel.roleDetailsList.length> 0">    
					            <div class="" >
					       
					               
									<div class="trans-detail rakGreyRow" ng-repeat="bank in rakPendingApproval.approveAuthModel.roleDetailsList[0].roleValues | filter:rakCorpInit.corpModel.searchText">
									<!--  <div ng-click="rakPayee.payeeModel.selectedRoutingNumber=bank.bankRoutingNo;setEvent(rakPayee.getRakSearchEvent());" ng-model="rakPayee.payeeModel.selectedRoutingNumber"> -->
					                  	<div class="trans-dash-right rakPeopleNameRow1 rakwidth33Left  rakPaddingPoint8em pull-left">					                   		
					                   		<div> 
					                    <div class="trans-no rakFont1em">   
					                   {{bank.userId}}                  
					                    </div>
					                    </div>
					                                  
					                    </div>
					                    
					                    <div class="trans-dash-right rakPeopleNameRow1 rakwidth33Left pull-left rakPaddingPoint8em">					                   		
					                   		<div> 
					                    <div class="trans-no rakFont1em">   
					                   {{bank.userName}}                  
					                    </div>
					                    </div>
					                                  
					                    </div>
					                    
					                    
					                <!--  <div class="trans-dash-left rakPeopleNameRow1 rak25 pull-left rakPaddingPoint8em" >					                
					                  <div> 
					                    <div class="trans-no rakFont1em">   
					                        {{bank.roleDesc}}             
					                    </div>
					               </div> 
					                  </div>  -->
					                    
					                    
					                  <div class="trans-dash-left rakPeopleNameRow1 rakwidth33Left pull-left rakPaddingPoint8em">					                  
					                    <div> 
					                    <div class="trans-no rakFont1em "> 
					                           <div class="raknew_user" ng-click="rakPendingApproval.approveAuthModel.userName=bank.userId;rakPendingApproval.approverId=bank.userId;rakPendingApproval.approveAuthModel.backFlag='Y';rakPendingApproval.resolveEventForLookUp(rakPendingApproval.clickedEvent);" >select</div>      
					                    </div>
					                  </div> 
					                        
					                  </div>
					              
					             </div>
					              </div> 
					              			
			
			</div>
			
	
              
						</div>
						
				</div>		
		
						
			
          </div>
         
     
   </div>
</div>
</div>
</div>
