<div ng-if="rakPendingApproval.fromSearch==true">
<div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab!='PIA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.backClickFlag='Y';setEvent('gotoLandingPageClickBack');"></i>
</div>
<div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab=='PIA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.backClickFlag='Y';setEvent('onCancelClick');"></i>
</div>
</div>
<div ng-if="rakPendingApproval.fromSearch==false">
<div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab!='PIA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.backClickFlag='Y';setEvent('onCancelClick');"></i>
</div>
<div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab=='PIA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.backClickFlag='Y';setGlobalEvent('onPendingIncompleteTxnsClick')"></i>
</div>
</div>
<div class="nano menu-scroll">
<div class="nano-content">
<div class="finacle-container ng-scope"
	ng-init='rakPendingApproval.resetPendingModel();rakPendingApproval.responsePendingApprovalDetails(successResponse.responsesList)'>
	<div class="account-page">
		<div class="col-sm-11">
		<ng-include  src="'./navigation/rakPendingApproval/resources/RakPendingApprovalsHeaderTabPage.html'"> </ng-include>
				
			<div class="bg-color rak-cont-padding rakScrollDiv rak-cont-paddingvh">
			
			<div class="main-form-heading-ServiceReq" ng-show="rakPendingApproval.detailModel.txnType!='DDS' && rakPendingApproval.detailModel.txnType!='WPS' && rakPendingApproval.detailModel.txnType!='NPS'">
                    	<h2 class="rakBenfHeader">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.TXN_DET}}</h2>
            </div>
            <div class="main-form-heading-ServiceReq" ng-show="rakPendingApproval.detailModel.txnType=='DDS'">
                    	<h2 class="rakBenfHeader">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_DET}}</h2>
            </div>
            <div class="main-form-heading-ServiceReq" ng-show="rakPendingApproval.detailModel.txnType=='WPS' || rakPendingApproval.detailModel.txnType=='NPS'">
                    	<h2 class="rakBenfHeader">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_DET}}</h2>
            </div>
            	
            		<div class="" ng-show="rakPendingApproval.detailModel.txnType=='DDS'">
						
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_SERVPROV}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.serviceProvider}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_UTILTYPE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.utilityType}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_UTILNUM}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.utilityNumber}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_DEBITFROM}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.debitFrom}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_ISSUEDFOR}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.issuedFor}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_CMNCON}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.commencesOn}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_EXPON}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.expiresOn}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_FREQ}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.ddsFrequency}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_DEFDAYS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.definedDays}}</span>
						</p>
						<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.definedDays=='Fixed'">
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_FIXAMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fixedAmount}}</span>
						</p>
						<div class="" ng-show="rakPendingApproval.detailModel.definedDays=='Variable'">
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_MINAMT}}</span>
								<span class="rak-sum-label black">{{rakPendingApproval.detailModel.ddsMinimumAmount}}</span>
							</p>
							<p class="rak-sum-txt" >
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_MAXAMT}}</span>
								<span class="rak-sum-label black">{{rakPendingApproval.detailModel.ddsMaximumAmount}}</span>
							</p>
						</div>
												
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DDS_STATUS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.ddsStatus}}</span>
						</p>
						
						</div>
						
						<div class="" ng-show="rakPendingApproval.detailModel.txnType=='WPS'">
						
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FIILESEQNUM}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileSequenceNumber}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FILETYPE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileType}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FROMACCT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fromAccount}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FILENAME}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileName}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_SLRYAMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.salaryAmount}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_DEBITAMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.wpsDebitAmount}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_RECCNT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.countOfRecords}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_STATUS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.wpsTxnStatus}}</span>
						</p>
						<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.remarks'>
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_REMARKS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.remarks}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_UPLOADBY}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.uploadedBy}}</span>
						</p>
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_UPLOADDT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.uploadDate}}</span>
						</p>						
						
						</div>
						
						<div class="" ng-show="rakPendingApproval.detailModel.txnType=='NPS'">
						
						<p ng-if="rakPendingApproval.detailModel.fileSequenceNumber" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FIILESEQNUM}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileSequenceNumber}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.fileType" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FILETYPE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileType}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.fileName" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_FILENAME}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.fileName}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.npsSalaryType" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.SALARY_TYPE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsSalaryType}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.npsDebitAcct" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DEBIT_ACCTS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsDebitAcct}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.fileType" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.DEBIT_CRG_ACCT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsDebitChargeAcct}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.fileType" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.SAL_MONTH_YEAR}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsSalaryMthYr}}</span>
						</p>
						
						<p ng-if="rakPendingApproval.detailModel.salaryAmount" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.SALARY_AMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.salaryAmount}}</span>
						</p>
						
						<p ng-if="rakPendingApproval.detailModel.salaryAmount" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.CHARGE_TYPE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.chargeType}}</span>
						</p>
						
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_STATUS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsTxnStatus}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.uploadedBy" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_UPLOADBY}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.uploadedBy}}</span>
						</p>
						<p class="rak-sum-txt" ng-if="rakPendingApproval.detailModel.processingDate">
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.PROCESSING_DATE}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.processingDate}}</span>
						</p>
						<!-- <p ng-if="rakPendingApproval.detailModel.salaryAmount" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.TOTAL_AMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsAmount}}</span>
						</p>
						<p ng-if="rakPendingApproval.detailModel.npsDebitAmount" class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_DEBITAMT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.npsDebitAmount}}</span>
						</p> -->
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_RECCNT}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.countOfRecords}}</span>
						</p>
						
						<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.remarks'>
							<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.WPS_REMARKS}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.remarks}}</span>
						</p>
												
						
				</div>
						
					<div class="" ng-show="rakPendingApproval.detailModel.txnType!='DDS' && rakPendingApproval.detailModel.txnType!='WPS' && rakPendingApproval.detailModel.txnType!='NPS'">
					<p class="rak-sum-txt ">
							<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TRANSACTION_TYPE}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.txnDesc}}</span>
						</p>
						
						<p class="rak-sum-txt " ng-show="rakPendingApproval.approvalReasonDesc && rakPendingApproval.pendingApprovalTab!='PIA'">
							<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REQUEST_TYPE}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.approvalReasonDesc}}</span>
						</p>
						<p class="rak-sum-txt ">
							<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REFRID}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.requestId}}</span>
						</p>
						
						<p class="rak-sum-txt"  ng-show="rakPendingApproval.detailModel.hostRefNo">
							<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.BANKTRANSACTIONID}}</span>
							<span class="rak-sum-label black">{{rakPendingApproval.detailModel.hostRefNo}}</span>
						</p>
				
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.FROM}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.displayAccount}}</span>
				</p>
				
			
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.txnType!='SVC' && rakPendingApproval.detailModel.txnType!='NCP'">
					<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.TO}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destDetails}}</span>	
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.txnType=='NCP'">
					<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.TO}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destDetails}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.txnType!='MCP' && rakPendingApproval.detailModel.txnType!='IBP' && rakPendingApproval.detailModel.txnType!='OWN' && rakPendingApproval.detailModel.txnType!='WCT' && rakPendingApproval.detailModel.txnType!='SVC' &&  rakPendingApproval.detailModel.txnType!='PMT'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_BNF_NAME}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.beneficaryName}}</span>
				</p>
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.txnType=='PMT' && rakPendingApproval.detailModel.mutipleList && rakPendingApproval.detailModel.mutipleList[0]">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CONSUM_NO}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.mutipleList[0].consumerNo}}</span>
				</p>
					
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.name && rakPendingApproval.detailModel.txnType=='WCT'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.LB_BENF_NAME}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.name}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.txnType=='SVC'">
					<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.BNFNAME}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destDetails}}</span>
				</p>
				
				
				
				
					<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && rakPendingApproval.detailModel.txnType!='IBP' && rakPendingApproval.detailModel.txnType!='PMT' &&(rakPendingApproval.detailModel.txnType!='RCP'&& rakPendingApproval.detailModel.txnType!='SVC'&&
				rakPendingApproval.detailModel.txnType!='NCP' && rakPendingApproval.detailModel.txnType!='WCP' && rakPendingApproval.detailModel.txnType!='OCT' && 
				rakPendingApproval.detailModel.txnType!='RMT' && rakPendingApproval.detailModel.txnType!='WCT' && rakPendingApproval.detailModel.txnType!='OWN')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.BFNIBAN}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && rakPendingApproval.detailModel.txnType=='IBP'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CONSUM_NO}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && (rakPendingApproval.detailModel.txnType=='OCT' || rakPendingApproval.detailModel.txnType=='RMT')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.BFNIBAN}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && (rakPendingApproval.detailModel.txnType=='WCT')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.BFNIBAN}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && (rakPendingApproval.detailModel.txnType=='SVC')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PPCARD_NUMBER}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && (rakPendingApproval.detailModel.txnType=='NCP')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CC_NUMBER}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.destId && (rakPendingApproval.detailModel.txnType=='RCP'||
				rakPendingApproval.detailModel.txnType=='WCP')">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CARDBENF_NUMBER}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.destId}}</span>
				</p>
				

				
				
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DATE}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.txnDate}}</span>
				</p>
				
				
						<p class="rak-sum-txt ">
							<span id="moveMoneyTAPAmountField" class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.TRANSFERAMT}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.totalAmount}}</span>
						</p>
						
						
						
							
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.debitAmount'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DEBITAMOUNT}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.debitAmount}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.chargeInd' >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CHARGETYPE}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.chargeInd}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType=='O'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}</span>
					<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.ONCE}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType!='O'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}</span>
					<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.REC}}</span>
				</p>
				
					<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType!='O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.FREQVALUE}}
									</span> <span class="rak-sum-label black">{{rakPendingApproval.detailModel.recFreq}}</span>
								</p>
								<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType!='O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.NO_OF_TRANS}}
									</span> <span class="rak-sum-label black">{{rakPendingApproval.detailModel.installments}}</span>
								</p>
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.STATUS}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.txn_status}}</span>
				</p>
			
				<p class="rak-sum-txt"    ng-show="rakPendingApproval.detailModel.failReason">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REASON_FAILURE}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.failReason}}</span>
				</p>
			
					<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CHANNELNAME}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.channelId}}</span>
				</p>
				
				
			<!-- <div ng-show="rakPendingApproval.detailModel.txnType!='IBP' && rakPendingApproval.detailModel.txnType!='PMT'">    	
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.selPurpose'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PURPOSEDETAILS}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.selPurpose}}</span>
				</p>
			</div>
				 -->
				
				
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.selectedReason'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REASON}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.selectedReason}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.selectedReason1'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.selectedReason1}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.selectedReason2'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.selectedReason2}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.selectedReason3'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.selectedReason3}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPendingApproval.detailModel.userRemarks && rakPendingApproval.pendingApprovalTab=="PIA"'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.USER_REMARKS}}</span>
					<span class="rak-sum-label black">{{rakPendingApproval.detailModel.userRemarks}}</span>
				</p>
			
						
						
						<div ng-if="rakPendingApproval.approveAuthModel.roleDetailsList.length>0">

<p class="rak-sum-txt " ng-show='rakPendingApproval.pendingItem.requestedBy'>
							<span id="moveMoneyTAPToField2" class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.APPROVEDBY}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.pendingItem.requestedBy}}</span>
						</p>
				
			
				
						<div>
			
							</div>
						
								<div class="col-sm-1"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>