<div ng-if="rakPendingApproval.fromSearch==true">
<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setEvent('onPrevClick');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true && rakPendingApproval.pendingApprovalTab!='PCA'" >
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setEvent('onPrevClick');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true && rakPendingApproval.pendingApprovalTab=='PCA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; rakPendingApproval.backClickFlag='Y';setEvent('onCancel');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==false">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setEvent('onPrevClick');"></i>
</div>
</div>

<div ng-if="rakPendingApproval.fromSearch==false">
<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setGlobalEvent('onPendingApprovalClick');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true && rakPendingApproval.pendingApprovalTab!='PCA'" >
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setGlobalEvent('onPendingApprovalClick');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==true && rakPendingApproval.pendingApprovalTab=='PCA'">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; rakPendingApproval.backClickFlag='Y';setEvent('onCancel');"></i>
</div>

<div class="rak-back-header" ng-if="rakPendingApproval.isFromLandingPage==false">
	<i class="rak-back-img" ng-click="rakPendingApproval.isBack=true; setEvent('onPrevClick');"></i>
</div>
</div>
<div class="nano menu-scroll">
<div class="nano-content">
<div class="finacle-container ng-scope"
	ng-init='resetPageError(); rakHome.AuthPageData.firstAuthModeValue="";
	rakPendingApproval.responsePenApprUpdtNxtApprDetails(successResponse.responsesList);'>
	<div class="account-page">
		<div class="col-sm-11">
					<div class="main-form-heading-ServiceReq">
						<div class="rakBenfHeader" id="moveMoneyAAPHeader">{{appLiterals.APP.RAKPENDINGAPPROVAL.OTHERS.UPDATE_APPROVER}}</div>
					</div>
			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
					
					<p class="rak-sum-txt ">
								<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_TXN_TYPE}}</span>
								<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.txnDesc}}</span>
							</p>
					
					<p class="rak-sum-txt ">
							<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REQUEST_TYPE}}</span>
							<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.approvalReasonDesc}}</span>
						</p>
					
					<p class="rak-sum-txt ">
								<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_REFERENCE_ID}}</span>
								<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.requestId}}</span>
							</p>
							
									
							
							
							<p class="rak-sum-txt ">
								<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_PAY_TO}}</span>
								<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{appLiterals.APP.RAKPENDINGAPPROVAL.DETAILS.MULTIPLE_PAYEE}}</span>
							</p>

							<p class="rak-sum-txt">
								<span id="moveMoneyTAPToField1" class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_FROM}}</span>
								<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.displayAccount}}</span>
							</p>
						
							<p class="rak-sum-txt">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_AMOUNT}}</span>
								<span class="rak-sum-label black">{{rakPendingApproval.detailModel.totalAmount}}</span>
							</p>

						
	
							<p class="rak-sum-txt">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_WHEN}}</span>
								<span class="rak-sum-label black">{{rakPendingApproval.detailModel.txnDate}}</span>
							</p>
							
						



							<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType=='O'">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_FREQ_TYPE}}</span>
								<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.ONCE}}</span>
							</p>
							
							<p class="rak-sum-txt" ng-show="rakPendingApproval.detailModel.freqType!='O'">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_FREQ_TYPE}}</span>
								<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.REC}}</span>
							</p>
							
								<p class="rak-sum-txt"
								ng-show="rakPendingApproval.detailModel.freqType!='O'">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_FREQ}}
								</span> <span class="rak-sum-label black">{{rakPendingApproval.detailModel.recFreq}}</span>
							</p>
							<p class="rak-sum-txt"
								ng-show="rakPendingApproval.detailModel.freqType!='O'">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_INSTALLMENTS}}
								</span> <span class="rak-sum-label black">{{rakPendingApproval.detailModel.installments}}</span>
							</p>



					





							<p class="rak-sum-txt">
								<span class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_TXN_STATUS}}</span>
								<span class="rak-sum-label black">{{rakPendingApproval.detailModel.txnStatus}}</span>
							</p>


							<p class="rak-sum-txt ">
								<span id="moveMoneyTAPAmountField" class="rak-sum-label">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_CHANNEL_ID}}</span>
								<span id="moveMoneyTAPToFieldValue" class="rak-sum-label black">{{rakPendingApproval.detailModel.channelId}}</span>
							</p>
 

			<!-- ------------------ -->
				
				

						<p class="rak-sum-txt " ng-show='rakPendingApproval.pendingItem.requestedBy'>
							<span  class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.APPROVEDBY}}</span>
							<span  class="rak-sum-label black">{{rakPendingApproval.pendingItem.requestedBy}}</span>
						</p>
					 
					 	<p class="rak-sum-txt" ng-show="rakPendingApproval.apprRoleId">
					<span class="rak-sum-label ng-binding">Approver Name</span>
					<span class="rak-sum-label black ng-binding">{{rakPendingApproval.apprRoleId}}</span>
				</p>	
				
					
		<div ng-init='rakBillerFlag=false;' class="col-sm-11">
		  	<span class="rakCardIcoSuppli"  ng-class="{'rakCardIcoSuppliExpnd':rakBillerFlag}"  ng-click="rakBillerFlag=!rakBillerFlag" >{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.VIEW_BILLERS}}</span>
		  </div>
		  
		 <div ng-show='rakBillerFlag'>		
							<h2>
								<span>{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_BILLER_ADDED}}</span>
							</h2>



							<div>

								<div class="money-block rakBottomZero">
									<ul>
									
										<li class="active rakwidth33.3 ng-binding">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_PAYEE}}</li>
										<li class="active rakwidth33.3 ng-binding">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_CONSUMER_NO}}</li>
										<li class="active rakwidth33.3 ng-binding">{{appLiterals.APP.RAKPENDINGAPPROVAL.MULTIPLE_BILL_PAY.LB_PAY}}</li>
										<!-- <li class="active rak25 ng-binding">{{appLiterals.APP.RAK_PAYEE.HISTORY.PAY}}</li> -->

									</ul>
								</div>


								<div class="nano scrollheightAuto">
									<div class="">

										<div class="trans-detail rakGreyRow"
											ng-repeat="transfers in rakPendingApproval.mutipleList">




											


											<div
												class="trans-dash-left rakPeopleNameRow1 rakwidth33 pull-left rakPaddingPoint8em">
												<div>
													<div class="trans-no rakFont1em">
														{{transfers.billerName}}</div>
												</div>

											</div>

						<div
												class="trans-dash-right rakPeopleNameRow1 rakwidth33  rakPaddingPoint8em pull-left">
												<div>
													<div class="trans-no rakFont1em">
														{{transfers.consumerNo}}</div>
												</div>

											</div>

											<div
												class="trans-dash-right rakPeopleNameRow1 rakwidth33 pull-left rakPaddingPoint8em">
												<div>
													<div class="trans-no rakFont1em">
														{{transfers.totalAmount}}</div>
												</div>

											</div>

										</div>
									</div>
								</div>
							</div>
							<div></div></div>
							
			
							   <div class="fin-txt"></div>

			
			<div class="disclaimer3" ng-show="rakCorpInit.corpModel.roleSelectedFlag=='N'">
					 <span class="black" ng-bind-html="appLiterals.APP.DISCLAIMER.RAK_OVERLAPPINGRULE1"></span> 
                       <!--  <span ng-click="rakCorpInit.corpModel.setOverlapping();" class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span> -->
				
				</div>
				
				<div class="label-wrap">
			<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back" ng-click="rakCorpInit.corpModel.roleSelectedFlag=='N';setEvent('onPenApprGetLookUpClick');"> {{appLiterals.APP.CORPORATE.SELECTAPPR}}</button>
			</div>
			
			<!-- <div class="apprHeadingMain rakWidth100">
				<div class="apprHeading">{{appLiterals.APP.CORPORATE.SELECTAPPR}}</div>						
			</div> 
			<div class="rakwidth65">
			<fin-input  type="text" model="rakPendingApproval.apprRoleId" display-row="full"  validation-flag='pageErrorArr["rakPendingApproval.apprRoleId"]' placeholder="{{appLiterals.APP.CORPORATE.SELECTUSER}}" > </fin-input>
			</div>
			<div>
			<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakLookUpbutton" ng-click="setEvent('onPenApprGetLookUpClick');"> {{appLiterals.APP.CORPORATE.LOOKUP}}</button>
			</div> -->

					<!-- 	<fin-input type="text"
							model="rakPendingApproval.reason"
							display-row="full" placeholder="{{appLiterals.APP.COMMON.TEXT.NOTE}}"
							validation-flag='pageErrorArr["rakPendingApproval.reason"]'></fin-input> -->

						<fin-dynamicauth></fin-dynamicauth>

						<div class="label-wrap" layout-align="center center" class="btn-wrap button-wrapper">
							<button type="button"
								id="moveMoneyAAPSubmitButton"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="rakPendingApproval.validationEvent();">
								{{appLiterals.APP.COMMON.BUTTON.CONFIRM}}</button>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>