<div class="finacle-container" ng-init="setSingleStepRealmAuthFailure();myProfile.resetPwdFields();myProfile.setForGotPasswordMessage(myProfile.password.passwordMessageString);isUserLoggedIn=false;">
  <div class="account-page">
    <div class="col-sm-11">
    
    
    	<div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_FP_LOGINTRANS.HEADER}}
				  	     
				      </h2>		       
		 		</div>
	
	     <div class="form-block">
		  <div class="bg-color rak-cont-padding">
	
		
			  <div class="">
	<div ng-show="myProfile.loginPwdExp">
		<div class="label-wrap">
			<p class="label-title label-align-left">{{appLiterals.APP.RAK_FP_LOGINTRANS.TXT_LGNPASS}}</p>
		</div>
		<fin-input type="password_text"
			model="myProfile.oldForceLoginPassword"
			validation-flag='pageErrorArr["myProfile.oldForceLoginPassword"]'
			display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_EXISTPASS}}"
			validation-flag="testFlag"></fin-input>
		<fin-input type="password_text"
			model="myProfile.newForceLoginPassword"
			validation-flag='pageErrorArr["myProfile.newForceLoginPassword"]'
			display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_NEWPASS}}"
			ng-keyup="myProfile.password.currentPasswordType=myProfile.passwordType.Login;myProfile.password.checkPasswordStrength(myProfile.newForceLoginPassword)"
			validation-flag="testFlag"></fin-input>
		<p class="special-txt"  ng-hide="myProfile.password.hideLgnPasswordStrength">{{appLiterals.APP.RAK_FP_LOGINTRANS.TXT_PASSSTRENGTH}} {{myProfile.password.passwordStrengthLgnText}}</p>
		<div class="progress" ng-hide="myProfile.password.hideLgnPasswordStrength"
			style="clear: both; height: 3px; margin: 0 1.5em;">
			<div class="progress-bar progress-bar-success"
				ng-if="myProfile.password.isLgnIronclad" role="progressbar"
				aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
				style="width: 100%; background-color: #76d602;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG6}}</span>
			</div>
			<div class="progress-bar progress-bar-info"
				ng-if="myProfile.password.isLgnTooShort" role="progressbar"
				aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
				style="width: 20%; background-color: #e21619;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG2}}</span>
			</div>
			<div class="progress-bar progress-bar-warning"
				ng-if="myProfile.password.isLgnWeak" role="progressbar"
				aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
				style="width: 40%; background-color: #ff8202;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG3}}</span>
			</div>
			<div class="progress-bar progress-bar-danger"
				ng-if="myProfile.password.isLgnFair" role="progressbar"
				aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
				style="width: 60%; background-color: #ffea01;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG4}}</span>
			</div>
			<div class="progress-bar progress-bar-danger"
				ng-if="myProfile.password.isLgnStrong" role="progressbar"
				aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
				style="width: 80%; background-color: #01adff;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG5}}</span>
			</div>
		</div>
		<fin-input type="password_text"
			model="myProfile.confirmForceLoginPassword"
			validation-flag='pageErrorArr["myProfile.confirmForceLoginPassword"]'
			display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_CNFRMNEWPASS}}"
			validation-flag="testFlag"></fin-input>

	</div>
<!-- commented by jhansi as its transaction pwd is not requird -->
	<!-- <div ng-show="myProfile.txnPwdExp">
		<div class="label-wrap">
			<p class="label-title">
				{{appLiterals.APP.RAK_FP_LOGINTRANS.TRANSAC_PASS}}</p>
		</div>
		<fin-input type="password_text" model="myProfile.oldForceTxnPassword"
			validation-flag='pageErrorArr["myProfile.oldForceTxnPassword"]'
			display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_EXISTPASS}}"
			validation-flag="testFlag"></fin-input>
		<fin-input type="password_text" model="myProfile.newForceTxnPassword"
			validation-flag='pageErrorArr["myProfile.newForceTxnPassword"]'
			ng-keyup="myProfile.password.currentPasswordType=myProfile.passwordType.Transaction;myProfile.password.checkPasswordStrength(myProfile.newForceTxnPassword)"
			display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_NEWPASS}}"
			validation-flag="testFlag"></fin-input>
		<p class="special-txt" ng-hide="myProfile.password.hideTxnPasswordStrength">{{appLiterals.APP.RAK_FP_LOGINTRANS.TXT_PASSSTRENGTH}} {{myProfile.password.passwordStrengthTxnText}}</p>
		<div class="progress" ng-hide="myProfile.password.hideTxnPasswordStrength"
			style="clear: both; height: 3px; margin: 0 1.5em;">
			<div class="progress-bar progress-bar-success"
				ng-if="myProfile.password.isTxnIronclad" role="progressbar"
				aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
				style="width: 100%; background-color: #76d602;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG6}}</span>
			</div>
			<div class="progress-bar progress-bar-info"
				ng-if="myProfile.password.isTxnTooShort" role="progressbar"
				aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
				style="width: 20%; background-color: #e21619;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG2}}</span>
			</div>
			<div class="progress-bar progress-bar-warning"
				ng-if="myProfile.password.isTxnWeak" role="progressbar"
				aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
				style="width: 40%; background-color: #ff8202;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG3}}</span>
			</div>
			<div class="progress-bar progress-bar-danger"
				ng-if="myProfile.password.isTxnFair" role="progressbar"
				aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
				style="width: 60%; background-color: #ffea01;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG4}}</span>
			</div>
			<div class="progress-bar progress-bar-danger"
				ng-if="myProfile.password.isTxnStrong" role="progressbar"
				aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
				style="width: 80%; background-color: #01adff;">
				<span class="sr-only">{{appLiterals.APP.RAK_FP_LOGINTRANS.MSG5}}</span>
			</div>
		</div>
			<fin-input type="password_text"
				model="myProfile.confirmForceTxnPassword"
				validation-flag='pageErrorArr["myProfile.confirmForceTxnPassword"]'
				display-row="full" placeholder="{{appLiterals.APP.RAK_FP_LOGINTRANS.PH_CNFRMNEWPASS}}"
				validation-flag="testFlag"></fin-input>
	</div> -->
	<div class="label-wrap">
	<button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click="myProfile.password.clearStrengthData();isUserLoggedIn=false;setEvent('onSubmitButtonClick')">{{appLiterals.APP.RAK_FP_LOGINTRANS.BTN_SUB}}</button>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>