
<!-- partial code start here-->
<div class="finacle-container ng-scope">

<!-- RAK OECD changes start-->
		
	<div ng-show="rakMyProfile.updatePersonalProfile.popUpflag=='true'">
    <div class="full-page-screen" ></div>
    
    <div class="confirmation-content-container">
        <div class="message-box-new rakTop25">
            <div>
                <p class="round-icon-new">
                <span class="app app-alert pop-alert-icon rak-color"></span>
                </p>
                
            </div>
            
           <div class="conf-txt-label rak-black-color">{{appLiterals.APP.RAKERRORMSG.SUCCESSPOPUPFIRST}}{{rakMyProfile.updatePersonalProfile.changes}}<br/>{{appLiterals.APP.RAKERRORMSG.SUCCESSPOPUPSECOND}}<br/>{{appLiterals.APP.RAKERRORMSG.SUCCESSPOPUPTHIRD}}
                
            </div>
            <div class="conf-btn-wrap_alert rakpaddingBottom10 ">
                
                
                
                
                
          
                <button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click="rakMyProfile.setFlagFalse();rakMyProfile.updatePersonalProfile.resetUpdatePersonalProfileModel();setEvent('onUpdatePPSuccessfulDoneClick');" >
                    &nbsp; {{appLiterals.APP.COMMON.BUTTON.OK}} &nbsp;
                </button>
                
            </div>
            
            
            
            
        </div>
    </div>
</div>
    
    <!-- RAK OECD changes end -->
    
	<div class="account-page">
		<div class="col-sm-11">
			<!-- <div class="app-title-wrapper"> -->
				 <!-- Heading fix-start -->
                   <div class="main-form-heading">
					  <h2> 
					   {{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.UPDATE_PP_DETAILS}}</div>
					  
					</h2>
					<!-- Heading fix-end -->
			<div class="main-form-heading">
				<h2 class="success">
					{{appLiterals.APP.RAKCOMMONLITERALS.REQSTATUS}}<span>{{successResponse.responsesList[0].successMessage}}</span>
				</h2>
			</div>
			<!--  </div> -->

			<div class="bg-color rak-cont-padding rak-scroll">

				<div class="row">
					<div class="">
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_FULLNAME}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.fullName}}</span>
						</p>

					<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue=='2'">	

						<p class="rak-sum-txt"
							ng-if="rakMyProfile.updatePersonalProfile.preferredAddressType=='HEAD'">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_PREFMAILADD}}</span>
							<span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF}}</span>
						</p>
						
							<p class="rak-sum-txt"
							ng-if="rakMyProfile.updatePersonalProfile.preferredAddressType=='OFFICE'">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_PREFMAILADD}}</span>
							<span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF}}</span>
						</p>
					</div>
					

						<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue!='2'">	

						<p class="rak-sum-txt"
							ng-if="rakMyProfile.updatePersonalProfile.preferredAddressType=='RESIDENCE'">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_PREFMAILADD}}</span>
							<span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_RESD}}</span>
						</p> 

						<p class="rak-sum-txt"
							ng-if="rakMyProfile.updatePersonalProfile.preferredAddressType=='OFFICE'">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_PREFMAILADD}}</span>
							<span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF}}</span>
						</p>


						<div class="fin-input-container rakTransfersexchangerate-block">
							<p class="rakexchangevalue">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_RESADD}}</p>
						</div>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_ADDRESS}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.address1}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_ADDRESS2}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.address2}}</span>
						</p>
						
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_STREET}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.street}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_ADDRESS3}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.address3}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_POBOX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.pobox}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_CITY}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.cityDesc}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_COUNT}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.countryDesc}}</span>
						</p>

			</div>
			
			<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue=='2'">	
					<div class="fin-input-container rakTransfersexchangerate-block">
							<p class="rakexchangevalue">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFFADD}}</p>
						</div>

							<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_ADDRESS}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offaddress1}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_ADDRESS2}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offaddress2}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_ADDRESS3}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offaddress3}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_POBOX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offpobox}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_CITY}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offCityDesc}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HEAD_OFF_COUNT}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.head_offcountrydesc}}</span>
						</p>
				
				</div>		
						
			
			
			
			
			
			
			

						<div class="fin-input-container rakTransfersexchangerate-block">
							<p class="rakexchangevalue">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFFADD}}</p>
						</div>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_ADDRESS}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offaddress1}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_ADDRESS2}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offaddress2}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_ADDRESS3}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offaddress3}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_POBOX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offpobox}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_CITY}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offCityDesc}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFF_COUNT}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.offcountrydesc}}</span>
						</p>
						



						<div class="fin-input-container rakexchangerate-block">
							<p class="rakexchangevalue">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_CONTACTDEAT}}</p>
						</div>
		<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue!='2'">	

				<!-- 	<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HOMENUM_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.homeCountrycode}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HOMENUM}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.homeCountrycode}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.homeNumber}}</span>
						</p>

				<!-- 		<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HOMENUM2_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.homeTwoCountrycode}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HOMENUM2}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.homeTwoCountrycode}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.homeNumberTwo}}</span>
						</p>
		 </div>


				<!-- 		<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFFNUM_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.OffCountrycode}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFFNUM}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.OffCountrycode}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.offNumber}}</span>
						</p>

					<!-- 	<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFFNUM2_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.OffTwoCountrycode}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFFNUM2}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.OffTwoCountrycode}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.offNumberTwo}}</span>
						</p>


			<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue!='2'">	
					<!-- 	<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HFAX_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxHome_CC}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_HFAX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxHome_CC}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.faxHome}}</span>
						</p>
				</div>

					<!-- 	<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFAX_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxOffOne_CC}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OFAX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxOffOne_CC}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.faxOffOne}}</span>
						</p>

					<!-- 	<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OTFAX_CC}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxOffTwo_CC}}</span>
						</p> -->

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_OTFAX}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.faxOffTwo_CC}}&nbsp;&nbsp;{{rakMyProfile.updatePersonalProfile.faxOffTwo}}</span>
						</p>
						
				<div ng-if="rakMyProfile.updatePersonalProfile.userTypeValue!='2'">			
						
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_EMIRATEID}}</span>
							<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.emirateID}}</span>
						</p>
						
						<!-- CHANGES DONE AS FIX OF PROUAT-2131 START -->
						<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_UPDATEPP.TXT_EMIRATEID_DATE}}</span>
							<!-- <span class="rak-sum-label black">{{rakMyProfile.common.displayDate.toLocaleDateString()}}</span> -->
						<span class="rak-sum-label black">{{rakMyProfile.updatePersonalProfile.previewDateOne}}</span>
						</p>
                       <!-- CHANGES DONE AS FIX OF PROUAT-2131 END -->
                       
                 </div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-show="rakMyProfile.updatePersonalProfile.flag == 'true'"
								ng-click="rakMyProfile.setOECDPopUPFlag();">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_OK}}</button>
								
								<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-hide="rakMyProfile.updatePersonalProfile.flag == 'true'"
								ng-click="rakMyProfile.updatePersonalProfile.resetUpdatePersonalProfileModel();setEvent('onUpdatePPSuccessfulDoneClick')">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_OK}}</button>
						</div>
						<div class="col-sm-1"></div>
						<div class="fin-txt"></div>
						<div class="fin-txt"></div>
						<div class="fin-txt"></div>
						<div class="fin-txt"></div>
						<div class="fin-txt"></div>
						<div class="fin-txt"></div>
						

					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<!-- partial code end here-->
