<div class="finacle-container"
	ng-init="rakMyProfile.initUpdateIdConfirm(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
		
				<div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_UPDATE_ID.USER_ID_HEADER}}
				      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>		     
				      </h2>		       
		 		</div>
			
	
			<div class="bg-color rak-cont-padding">
				<div class="row">
					<div class="">
					

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_UPDATE_ID.OLD_USER_ID}}</span> <span
								class="rak-sum-label black">{{rakMyProfile.updateIdModel.confirmResponse.masterId}}</span>
						</p>

						<p class="rak-sum-txt">
								<span class="rak-sum-label">{{appLiterals.APP.RAK_UPDATE_ID.NEW_USER_ID}}</span> <span
									class="rak-sum-label black">{{rakMyProfile.updateIdModel.strUpdateIds}}</span>
						</p>

						



						<fin-input type="password_text"
							model="rakMyProfile.updateIdModel.transactionPwD" display-row="full"
							placeholder="Transaction Password" min="0"
							validation-flag='pageErrorArr["rakMyProfile.updateIdModel.transactionPwD"]'
							ng-show="rakMyProfile.updateIdModel.auth==txnpwdString"></fin-input>

<div ng-show="rakMyProfile.updateIdModel.auth==otpString">
 <div ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
<fin-input type="password_num" model="rakMyProfile.updateIdModel.transactionPwD"
 display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_OTP}}"
validation-flag='pageErrorArr["rakMyProfile.updateIdModel.transactionPwD"]'>
</fin-input>
</div> 
<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0' ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">
			
				<fin-input type="dropdown" option-array="toModeArray" model="rakHome.otpModel.otpModeSelected" display-row="full" placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
				<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>
			
			</div>     
<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">{{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>   
 </div>



						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="rakMyProfile.updateIdModel.isBack=true;setEvent('onPrevServiceClick')">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onNNSuccessClick')">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>

					</div>
					<div class="col-sm-1"></div>
				</div>
			</div>
		</div>

	</div>
</div>