<div class="finacle-container"
ng-init="resetPageError(); rakPayCards.txnHistory.initSearchPage(successResponse.responsesList);">
		
			<div class="account-page">

				<div class="col-sm-11">
					<div class="app-title-wrapper">
						<div class="form-block">
							<ng-include
								src="'./navigation/rakPayCards/resources/RakBuySellGoldTabPage.html'">
							</ng-include>

							<div class="tab-links">
								<ul>
									<li class="active"><span class="active">{{appLiterals.APP.RAKPAYCARDS.RAKBUYSELLGOLD.GOLDHISTORY.HISTORY}}</span></li>
									<li
										ng-click="rakPayCards.rakInvGold.clearSearchHistory();rakPayCards.setFutureDate();rakPayCards.rakInvGold.stopBtnClicked=false;setGlobalEvent('onRakBuySellGoldSchTxnTabClick');"><span>{{appLiterals.APP.RAKPAYCARDS.RAKBUYSELLGOLD.GOLDHISTORY.SCHTXNS}}</span></li>

								</ul>
							</div>

							
							<div class="bg-color rak-cont-padding">
								<div class="row">
								
							<div class="rakTxnSearch" ng-init='rakPayCards.txnHistory.scheduleList.length == 0 ? rakTxnSearch=true : rakTxnSearch=false;'>
								<div class="rakTxnSearch1 rakTxnSearchIcon" ng-class="{'rakTxnSearchIconExpnd':rakTxnSearch}"
									ng-click="rakTxnSearch=!rakTxnSearch">
									<h3 class="rakTxnSearch2">{{appLiterals.APP.RAK_COMMON.SEARCH}}</h3>
								</div>
								<div class="rakTxnSearch3" ng-if="rakTxnSearch">

								
									<div
										ng-init='txnTypeArray=createDropDownOptionArray(rakPayCards.txnHistory.transactionTypeList, ["tranDesc"],"tranCode")'>
										<fin-input type="dropdown" option-array="txnTypeArray"
											model="rakPayCards.txnHistory.selectedTransactionType"
											display-row="full"
											placeholder="{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TRANSACTION_TYPE}}"
											validation-flag='pageErrorArr["rakPayCards.txnHistory.selectedTransactionType"]'
											on-change="rakPayCards.txnHistory.setInitialDate();setGlobalEvent('onBuyGoldTransactionDropDetails');">
										</fin-input>

									</div>	
									
										<fin-input type="date"
											model="rakPayCards.txnHistory.searchFromDate"
											display-row="half1" value="pastDatesOnly"
											placeholder="{{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.FROM_DATE}}"
											validation-flag='pageErrorArr["rakPayCards.txnHistory.searchFromDate"]'></fin-input>

										<fin-input type="date"
											model="rakPayCards.txnHistory.searchToDate"
											display-row="half2" value="pastDatesOnly"
											placeholder="{{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.TO_DATE}}"
											validation-flag='pageErrorArr["rakPayCards.txnHistory.searchToDate"]'></fin-input>

										<div class=""> 
												<span class="fieldLabelLeft" >{{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.FROM_DATE}}</span> 
												<span class="fieldLabelRight rak42" >{{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.TO_DATE}}</span> 
											</div>


									<button type="button" class="btn--special-btn btn-middle rak-button-full-black"
									ng-click="rakPayCards.txnHistory.setFromToDate();setGlobalEvent('onRakBuyTxnHistoryUserEntered')">{{appLiterals.APP.RAK_COMMON.GO}}
									</button> 
									
									</div>
							</div>

								
									
									<div ng-if="rakPayCards.txnHistory.scheduleList.length == 0 ">

										<div class="summary-ServiceReq">
											<div class="iconDivNorecord">
												<span class="infoIcon"></span><span class="success">{{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.NO_TXNS}}</span>
											</div>
										</div>
									</div>
									

									<div ng-show="rakPayCards.txnHistory.scheduleList.length > 0">

										<div class="money-block rakBottomZero">
											<ul>
												<li class="active rak30 ">
													{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.DATE}}</li>
												<li class="active rak30 ">
													{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.TYPE}}</li>
												<li class="active rak30 ">
													  {{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.QTY}}</li>
												<li class="active rak10 ">&nbsp;</li>
											</ul>
										</div>

										<div class="nano rakHalfScrollDiv rak-cont-paddingvh">
											<div class="">


												<div class="trans-detail rakGreyRow"
													ng-repeat="transfers in rakPayCards.txnHistory.scheduleList">

													<div
														class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
														<div>
															<div class="trans-no rakTextCenter rakFont1em">
																{{transfers.txnDate}}
																<!-- {{txnRecords.txnDate}} -->
															</div>
														</div>

													</div>

													<div
														class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
														<div>
															<div class="trans-no rakTextCenter rakFont1em">
																{{transfers.txnType}}
																<!--  {{txnRecords.txnType}} -->
															</div>
														</div>
													</div>


													<div
														class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
														<div>
															<div class="trans-no rakTextCenter rakFont1em">
																{{transfers.txnAmount}} {{transfers.txnCurrency}}
																<!--  {{txnRecords.txnCurrency}} {{txnRecords.txnAmount}} -->
															</div>
														</div>

					                  </div>
					                  
					                 <div class="pull-right rakPaddingPoint5em rak10" style="width:8%">
									 <span class="rakPullDownNew" ng-click="rakHome.handlePullDown($event);"></span>
									 	<ul class="rakPullDownMenu rakAbsolute rakTop2em rakMarginTop2" >
									 		<li><a href="" ng-click="rakPayee.payCard.selectedCompltTxn = transfers;rakPayCards.txnHistory.getBuySellTransactionStatus();">
											    {{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.VIEW_STATUS}}</a></li>
											  <li><a href="" ng-click="rakPayee.payCard.selectedCompltTxn = transfers;rakPayCards.rakInvGold.clearFields();
															rakPayCards.txnHistory.transaction=transfers;
															rakPayCards.txnHistory.transactionIndex=transfers.index;
																setGlobalEvent('onRakBuyHistoryTransferPageDetails');">
											    {{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.VIEW_DETAILS}}</a></li>       
											     <li><a href="" 
												 ng-click="rakPayCards.rakInvGold.schTxnListSubmitBtn='';rakPayCards.rakInvGold.txnClikedBtn='SENDAGAIN';rakPayee.payCard.selectedCompltTxn = transfers;rakPayee.payCard.selectedTxn = transfers.index;rakPayCards.rakInvGold.clearFields();rakPayCards.rakInvGold.txnType=transfers.transactionType;rakPayCards.common.fromAuthPage=false;rakPayCards.rakInvGold.exchangeFlag=true;setGlobalEvent(rakPayCards.txnHistory.getPageEvent());">
											    {{appLiterals.APP.RAKBUYSELLGOLD.RAKBUYSELLGOLDINITPAGE.BUY_SELL_AGIAN}}</a></li>       
											  </ul>
										</div>
					   <!--  CHANGES DISPLAYING DATA FOR BUY/SELL GOLD END -->
				
					
			</div>
		</div>
		</div>
		</div>
		
		
		
		</div>
	</div>
</div>
</div>
</div>
 </div>