<div class="rak-back-header">
			<i class="rak-back-img" ng-click="setEvent('onRakCSRPageBackClick');"></i>
</div>
<div class="nano menu-scroll">
	<div class="nano-content">

		<div class="finacle-container"
			ng-init="rakServiceReq.CCardStmtReq.initRakCSRInitData(successResponse.responsesList);">
			<div class="account-page">
				<div class="col-sm-11">
					<div class="app-title-wrapper">
						<div class="form-block">
						
						<div class="main-form-heading-ServiceReq"> 
				                 <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.RAK_CC_PHY_STMT_REQ}}
				                 <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP1}}{{appLiterals.APP.RAKCOMMONLITERALS.ENTER_DETAILS}} </span>                
				                 </h2>              
						</div>
							<div class="bg-color rak-cont-padding rak-scroll">
								<div class="row">
									

									<div
										ng-init='cardArr=createDropDownOptionArray(rakServiceReq.CCardStmtReq.cardList, ["cardDesc","-", "cardId"], "ccIndex");'></div>
									<fin-input type="dropdown"
										model="rakServiceReq.CCardStmtReq.selectedCardIndex"
										display-row="full"
										placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_CC_PHY_STMT_REQ.CARDNO}}"
										validation-flag='pageErrorArr["rakServiceReq.CCardStmtReq.selectedCardIndex"]'
										option-array="cardArr""> </fin-input>


									<div
										ng-init='fromMonthArr=createDropDownOptionArray(rakServiceReq.CCardStmtReq.monthList, ["monthDesc"], "monthCode");'></div>
									<fin-input type="dropdown"
										model="rakServiceReq.CCardStmtReq.selectedFromMonth"
										display-row="half1"
										placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_CC_PHY_STMT_REQ.FROM_MONTH}}"
										validation-flag='pageErrorArr["rakServiceReq.CCardStmtReq.selectedFromMonth"]'
										option-array="fromMonthArr"> </fin-input>

									<div
										ng-init='fromYearArr=createDropDownOptionArray(rakServiceReq.CCardStmtReq.yearList, ["yearDesc"], "yearCode");'></div>
									<fin-input type="dropdown"
										model="rakServiceReq.CCardStmtReq.selectedFromYear"
										display-row="half2"
										placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_CC_PHY_STMT_REQ.FROM_YEAR}}"
										validation-flag='pageErrorArr["rakServiceReq.CCardStmtReq.selectedFromYear"]'
										option-array="fromYearArr"> </fin-input>

									<div
										ng-init='toMonthArr=createDropDownOptionArray(rakServiceReq.CCardStmtReq.monthList, ["monthDesc"], "monthCode");'></div>
									<fin-input type="dropdown"
										model="rakServiceReq.CCardStmtReq.selectedToMonth"
										display-row="half1"
										placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_CC_PHY_STMT_REQ.TO_MONTH}}"
										validation-flag='pageErrorArr["rakServiceReq.CCardStmtReq.selectedToMonth"]'
										option-array="toMonthArr"> </fin-input>

									<div
										ng-init='toYearArr=createDropDownOptionArray(rakServiceReq.CCardStmtReq.yearList, ["yearDesc"], "yearCode");'></div>
									<fin-input type="dropdown"
										model="rakServiceReq.CCardStmtReq.selectedToYear"
										display-row="half2"
										placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_CC_PHY_STMT_REQ.TO_YEAR}}"
										validation-flag='pageErrorArr["rakServiceReq.CCardStmtReq.selectedToYear"]'
										option-array="toYearArr"> </fin-input>

									<div class="fin-txt"></div>
									<div class="fin-txt"></div>
									<div class="label-wrap">										
										<button type="button"
											class="btn--special-btn btn-middle rak-button-small rak-button-right"
											ng-click="rakServiceReq.CCardStmtReq.setDateValueForValidation(); setEvent('onRakCSRContinueClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CONTINUE}}</button>
									</div>

								</div>

								<div class="col-sm-1"></div>
								
								<div class="disclaimer">
                                                 <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                                                 <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                                                 </div>                                                 
                                                 
                                                 <div class="disclaimer3" ng-if="rakDisclaimerFlag ">
													<span ng-click="rakServiceReq.fetchDisclaimer('CreditCardServiceRequestsCutoffTime.html');" class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span><span ng-bind-html="appLiterals.APP.DISCLAIMER.RAKCCSTMT_INITPAGE"></span>
													<span ng-click="rakServiceReq.fetchDisclaimer('CreditCardServiceCharges.html');" class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span><span ng-bind-html="appLiterals.APP.DISCLAIMER.RAKCCSTMT_INITPAGECONT"></span>
												</div>
                                                 
                                 </div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-space"></div>
		</div>
	</div>
</div>