<div class="finacle-container"
	ng-init="resetPageError();rakServiceReq.RAKAlertPrefModel.txnPwd='';rakServiceReq.confirmRAKAlertPref(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
			<!-- <div class="app-title-wrapper"> -->
			
			<div class="main-form-heading-ServiceReq"> 
                              <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.RAK_APR}}
                              <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>                
                              </h2>              
            </div>

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
					<div class="">
					
					
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_NAME}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.name}}</span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.mobileNo1==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_MOBILE1}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.mobileNo1}}</span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.mobileNo2 ==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_MOBILE2}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.mobileNo2}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_EMAIL}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.email}}</span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.selectedDnd1From =='' ||rakServiceReq.RAKAlertPrefModel.selectedDnd1To ==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_DND1}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.selectedDnd1FromDesc}}
								hrs to {{rakServiceReq.RAKAlertPrefModel.selectedDnd1ToDesc}}
								hrs</span></span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.selectedDnd2From =='' ||rakServiceReq.RAKAlertPrefModel.selectedDnd2To ==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_DND2}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.selectedDnd2FromDesc}}
								hrs to {{rakServiceReq.RAKAlertPrefModel.selectedDnd2ToDesc}}
								hrs</span></span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.selectedDnd3From =='' ||rakServiceReq.RAKAlertPrefModel.selectedDnd3To ==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_DND3}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.selectedDnd3FromDesc}}
								hrs to {{rakServiceReq.RAKAlertPrefModel.selectedDnd3ToDesc}}
								hrs</span></span>
						</p>

						<p class="rak-sum-txt"
							ng-hide="rakServiceReq.RAKAlertPrefModel.selectedDnd4From =='' ||rakServiceReq.RAKAlertPrefModel.selectedDnd4To ==''">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.TXT_DND4}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.selectedDnd4FromDesc}}
								hrs to {{rakServiceReq.RAKAlertPrefModel.selectedDnd4ToDesc}}
								hrs</span></span>
						</p>

						 <p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAKALERTPREF.PROMOTIONAL_MSG}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKAlertPrefModel.promoMsgTxt}}</span></span>
						</p> 


						<div class="label-wrap"
							ng-show='rakServiceReq.RAKAlertPrefModel.authStatus'>

							<fin-input type="password_text"
								model="rakServiceReq.RAKAlertPrefModel.txnPwd"
								display-row="full"
								placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
								validation-flag='pageErrorArr["rakServiceReq.RAKAlertPrefModel.txnPwd"]'
								ng-show="rakServiceReq.RAKAlertPrefModel.authMode==txnpwdString">
							</fin-input>
							<!-- <fin-input type="password_num"
								model="rakServiceReq.RAKAlertPrefModel.otp" display-row="full"
								placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
								validation-flag='pageErrorArr["rakServiceReq.RAKAlertPrefModel.otp"]'
								ng-show="rakServiceReq.RAKAlertPrefModel.authMode==OTP">
							</fin-input> -->

							<!--  CHANGES FOR RESEND OTP START -->
							<!-- Commented by Amol
								New OTP customization -->
							<!-- <div
								ng-show="rakServiceReq.RAKAlertPrefModel.authMode==otpString">
								<div class="rakwidth65">
									<fin-input type="password_num"
										model="rakServiceReq.RAKAlertPrefModel.txnPwd"
										display-row="full"
										placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.RAKAlertPrefModel.txnPwd"]'>
									</fin-input>
								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									Resend OTP</button>
							</div> -->
							<!--  CHANGES FOR RESEND OTP END -->
							
							<div ng-show="rakServiceReq.RAKAlertPrefModel.authMode==otpString">
								<div
									ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
									<fin-input type="password_num" model="rakServiceReq.RAKAlertPrefModel.txnPwd"
										display-row="full" placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.RAKAlertPrefModel.txnPwd"]'></fin-input>
								</div>							
							
								<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0'
									ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">							
									<fin-input type="dropdown" option-array="toModeArray"
										model="rakHome.otpModel.otpModeSelected" display-row="full"
										placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
									<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>							
								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> {{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>							
							</div>
							
							
							
							
						</div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="setEvent('onAlertPrefAuthPageBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onRAKAlertPrefSubmitClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CONFIRM}}</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

