<div class="finacle-container"
	ng-init="wcmclienthandlers.getHTMLFromWCM('MB','RAK','9aacd9c5-96a6-4f92-ad3e-a5c5e31d2a84','','','termsconditions','login-banner-img.jpg')">
		<div class="account-page">
			<div class="col-sm-11">

		<div id="termsconditions" class="bg-color rak-cont-padding rak-scroll-DISC"></div>
			<div class="label-wrap rakTop1em">				
				<button type="button" 
					class="btn--special-btn btn-middle rak-button-small btn--back rakmarginZerobtn"
					ng-click="setEvent('onRAKBusinessEliteSubContentBackClick');">
					{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
				<button type="button"
					class="btn--special-btn btn-middle rak-button-small rakmarginZerobtn"
					ng-click="resetPageError();setEvent('onRakBusinessEliteSubscribeInitClick');">
					{{appLiterals.APP.RAK_SERVICES.RAK_DISCAPPLY.APPLYNOW}}</button>
			</div>
			
		</div>
	</div>
</div>