<div class="finacle-container"
	ng-init="rakServiceReq.initBlockedCreditCardConfirmPage(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">

			

			<div class="main-form-heading-ServiceReq"> 
                      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.TEMP_BLOCKED_CREDITCARD}}
                      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>                
                      </h2>              
			</div>

      <div class="bg-color rak-cont-padding rak-scroll">
        <div class="row" >
	      <div class="">

				<div class="rakDupliSRChkMsgImg" ng-show='rakServiceReq.common.message'>
					<span class='rakAlertForDupStmt'></span> <span class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
				</div>

			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.CREDITCARD}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.BlockedCreditCardData.creditCardNumber}}</span>
			</p>
			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.EXPIRE_DATE}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.BlockedCreditCardData.expDate}}</span>
			</p>

			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.REASON}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.BlockedCreditCardData.reasonName}}</span>
			</p>

						<p
							ng-show="rakServiceReq.BlockedCreditCardData.reasonName=='Others'"
							class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.OTHER}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.BlockedCreditCardData.other}}</span>
						</p>



			  <div class="label-wrap"
						ng-hide="rakServiceReq.BlockedCreditCardData.authStatus">
			  		<fin-input type="password_text"
							model="rakServiceReq.BlockedCreditCardData.transactionPassword"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.BlockedCreditCardData.transactionPassword"]'
							ng-show="rakServiceReq.BlockedCreditCardData.authMode==txnpwdString">
						</fin-input>
						<!-- <fin-input type="password_num"
							model="rakServiceReq.BlockedCreditCardData.transactionPassword"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
							validation-flag='pageErrorArr["rakServiceReq.BlockedCreditCardData.transactionPassword"]'
							ng-show="rakServiceReq.BlockedCreditCardData.authMode==otpString">
						</fin-input> -->

							<!--  CHANGES FOR RESEND OTP START -->
							<!-- <div
								ng-show="rakServiceReq.BlockedCreditCardData.authMode==otpString">
								<div class="rakwidth65">
									<fin-input type="password_num"
										model="rakServiceReq.BlockedCreditCardData.transactionPassword"
										display-row="full"
										placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.BlockedCreditCardData.transactionPassword"]'>
									</fin-input>
								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									Resend OTP</button>
							</div> -->
							<!--  CHANGES FOR RESEND OTP END -->
							
							<div ng-show="rakServiceReq.BlockedCreditCardData.authMode==otpString">
								<div
									ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
									<fin-input type="password_num"
										model="rakServiceReq.BlockedCreditCardData.transactionPassword" display-row="full"
										placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.BlockedCreditCardData.transactionPassword"]'></fin-input>
								</div>


								<div class="rakwidth28 rakModeDropdown"
									ng-show='rakHome.otpModel.otpModesList.length>0'
									ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">

									<fin-input type="dropdown" option-array="toModeArray"
										model="rakHome.otpModel.otpModeSelected" display-row="full"
										placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
									<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>

								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									{{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>

							</div>

				</div>


						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="rakServiceReq.BlockedCreditCardData.transactionPassword = '';rakServiceReq.BlockedCreditCardData.flag=false;setEvent('onTempBlockedBackClick')">
								{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="rakServiceReq.BlockedCreditCardData.flag=false;setEvent('onTempBlockedCreditConfirmClick');">
								{{appLiterals.APP.RAK_SERVICES.RAK_TEMP_BLK_CREDITCARD.BTNSUBMIT}}
							</button>
						</div>
						<div class="col-sm-1"></div>
						
				<div class="disclaimer">
                         <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                         <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                         </div>

                         <div class="disclaimer3" ng-show="rakDisclaimerFlag">
                                 <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSERREQ_CONF"></div>
                                 <!-- <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSERREQ_BLOCKCARD"></div> -->
                         </div>
                 </div>
					</div>
				</div>
			</div>
		</div>

  </div>
</div>
</div>
