<div class="finacle-container" ng-init="rakServiceReq.rakCreditCardBalanceTransferSuccess(successResponse.responsesList)">
	<div class="account-page">   
     	<div class="col-sm-11" >
	 	
			
     		
<div class="summary-ServiceReq">
                        <div class="iconDiv">
                              <span class="infoIcon"></span><span class="success">{{rakServiceReq.RakCreditCardBalanceTransfer.successMessage}}</span>
                        </div>
                  </div>
            <div class="main-form-heading-ServiceReq"> 
                              <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.CC_BAL}}
                              <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP3}}{{appLiterals.APP.RAKCOMMONLITERALS.SUMMARY}}</span>                 
                              </h2>              
</div>
     		
     		
     		<div class="bg-color rak-cont-padding rak-scroll-success" >	 
		 		<div class="row" >
		      		<div class="col-sm-1"></div>
	      			
	
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.CC}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.cardList[rakServiceReq.RakCreditCardBalanceTransfer.selectedCard].creditCardNumber}}</span>
					</p>

					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.CRED_LIMIT}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.availCreditLimit}}</span>
					</p>

					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BNK_TYPE}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.bnkTypeList[rakServiceReq.RakCreditCardBalanceTransfer.bnkType].codeDesc}}</span>
					</p>

					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BNK_NAME}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.bankNamesList[rakServiceReq.RakCreditCardBalanceTransfer.bankName].codeDesc}}</span>
					</p>


					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BNK_CC}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.otherBnkCC}}</span>
					</p>
					
					
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BT_AMT}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.balanceTransferAmt}}</span>
					</p>
					
					
					<p class="rak-sum-txt" ng-hide="rakServiceReq.RakCreditCardBalanceTransfer.isUaeftElig==false">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.DEL_CHAN}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannelList[rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannel].codeDesc}}</span>
					</p>
					
					
					<p class="rak-sum-txt" ng-show="rakServiceReq.RakCreditCardBalanceTransfer.managerChq=='B'&& rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannelList[rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannel].code!='E'">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.MAN_CHQ}}
							</span> <span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BRANCH}}</span>
					</p>
					
					
					<p class="rak-sum-txt" ng-show="rakServiceReq.RakCreditCardBalanceTransfer.managerChq=='C'&& rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannelList[rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannel].code!='E'"">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.MAN_CHQ}}
							</span> <span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.COURIER}}</span>
					</p>
					
					
					<p class="rak-sum-txt" ng-show="rakServiceReq.RakCreditCardBalanceTransfer.managerChq=='B' && rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannelList[rakServiceReq.RakCreditCardBalanceTransfer.deliveryChannel].code!='E'"">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BRANCH}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.branchList[rakServiceReq.RakCreditCardBalanceTransfer.branch].codeDesc}}</span>
					</p>
					
					
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.BT_OPTION}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.balanceTransferList[rakServiceReq.RakCreditCardBalanceTransfer.balanceTransfer].codeDesc}}</span>
					</p>
					
					
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_BAL_TRANSFER.REMARKS}}
							</span> <span class="rak-sum-label black">{{rakServiceReq.RakCreditCardBalanceTransfer.remarks}}</span>
					</p>


	      			<div class="label-wrap">
	      				<button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click='setEvent("onRAKBalanceTransferBackClick");'>{{appLiterals.APP.RAKCOMMONLITERALS.DONE}}</button>
	      			
 						<!-- <button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click=" setEvent('onSendAgainClick');">  {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_SUCCESSPAGE.SEND_AGAIN}}  </button>
						<button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click='rakSendMoney.sendMoney.clearSelfTransfersData(); rakSendMoney.utils.clearCommonData(); setEvent("onTransfersSuccessOkClick")'> {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_SUCCESSPAGE.HOME}} </button> -->
					</div>
					<div class="col-sm-10"> </div> 
	      		
	  
      				
        	
      		</div>
    	</div>
    	    
  	</div>
	
</div>
