	<div class="finacle-container"
		ng-init="rakServiceReq.ccSmartCashRq.previewCcSmartCashRq(successResponse.responsesList);">
		<div class="account-page">
			<div class="col-sm-11">
				
				<div class="main-form-heading-ServiceReq"> 
                      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.CC_SMART_CASH}}
                      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>                
                      </h2>              
				</div>

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
				
		<div class="rakDupliSRChkMsgImg"
							ng-show='rakServiceReq.common.message'>
							<span class='rakAlertForDupStmt'></span> <span
								class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
						</div>
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.CARDNUM}}</span> <span class="rak-sum-label black">{{rakServiceReq.ccSmartCashRq.displayCcAccountNumber}}</span>
					</p>
					
					<p class="rak-sum-txt" ng-show="rakServiceReq.ccSmartCashRq.transferCashTo==rakServiceReq.ccSmartCashRqConstants.MYRAKBANKACCOUNT">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.TRANSFER_CASH_TO}}</span> <span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.MY_RAKBANK}}</span>
					</p>
					<p class="rak-sum-txt" ng-show="rakServiceReq.ccSmartCashRq.transferCashTo==rakServiceReq.ccSmartCashRqConstants.MYOTHERBANKWITHINUAE">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.TRANSFER_CASH_TO}}</span> <span class="rak-sum-label black">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.MY_OTHERBANK}}</span>
					</p>					
					<p class="rak-sum-txt" ng-show="rakServiceReq.ccSmartCashRq.transferCashTo==rakServiceReq.ccSmartCashRqConstants.MYRAKBANKACCOUNT">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.MY_RAKBANK}}</span> <span class="rak-sum-label black">{{rakServiceReq.ccSmartCashRq.displayOprAccountNumber}}</span>
					</p>
					<p class="rak-sum-txt" ng-show="rakServiceReq.ccSmartCashRq.transferCashTo==rakServiceReq.ccSmartCashRqConstants.MYOTHERBANKWITHINUAE">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.MY_OTHERBANK}}</span> <span class="rak-sum-label black">{{rakServiceReq.ccSmartCashRq.iban}}</span>
					</p>
					<p class="rak-sum-txt">
						<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_CC_SMARTCASH.SMARTCASH}}</span> <span class="rak-sum-label black">{{rakServiceReq.ccSmartCashRq.smartCashAmount}}</span>
					</p>				

                 <!-- Auth -->
                 <div class="label-wrap" ng-show='rakServiceReq.ccSmartCashRq.isAuthSet'>
			  <!--     <p class="label-title">{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.RAK_TXT_AUTH}}</p>	 -->			
				
			<div ng-show='rakServiceReq.ccSmartCashRq.isFirstAuthMode'>
			<fin-input type="password_text" model="rakServiceReq.ccSmartCashRq.firstAuthModeValue" 
			display-row="full" placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXN_PWD}}" 
			validation-flag='pageErrorArr["rakServiceReq.ccSmartCashRq.firstAuthModeValue"]' 
			ng-show="rakServiceReq.ccSmartCashRq.authType==rakServiceReq.ccSmartCashRq.TransactionPassword"> </fin-input>
			
			
			
			<div ng-show="rakServiceReq.ccSmartCashRq.authType==rakServiceReq.ccSmartCashRq.OTP">
			<div ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
			<fin-input type="password_num" model="rakServiceReq.ccSmartCashRq.firstAuthModeValue" 
			display-row="full" placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}" 
			validation-flag='pageErrorArr["rakServiceReq.ccSmartCashRq.firstAuthModeValue"]' on-change="rakHome.otpModel.getKeyUp('rakPayee.authMode.firstAuthModeValue',rakPayee.authMode.firstAuthModeValue);"> </fin-input>
		</div>  
		
		<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0' ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">
			
				<fin-input type="dropdown" option-array="toModeArray" model="rakHome.otpModel.otpModeSelected" display-row="full" placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
				<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>
			
			</div>
			 
		<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> {{appLiterals.APP.RAK_COMMON.RESEND_OTP}} </button>   
		</div>
			
			</div>
			
			<div ng-show='rakServiceReq.ccSmartCashRq.isSecAuthMode'>
			<fin-input type="password_text" model="rakServiceReq.ccSmartCashRq.secAuthModeValue" 
			display-row="full" placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXN_PWD}}" 
			validation-flag='pageErrorArr["rakServiceReq.ccSmartCashRq.secAuthModeValue"]' 
			ng-show="rakServiceReq.ccSmartCashRq.secAuthType==rakServiceReq.ccSmartCashRq.TransactionPassword"> </fin-input>
			
			
			<div ng-show="rakServiceReq.ccSmartCashRq.secAuthType==rakServiceReq.ccSmartCashRq.OTP">
			<div ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
			<fin-input type="password_num" model="rakServiceReq.ccSmartCashRq.firstAuthModeValue" 
			display-row="full" placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}" 
			validation-flag='pageErrorArr["rakServiceReq.ccSmartCashRq.secAuthModeValue"]' > </fin-input>
		</div>
		<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0' ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">
			
				<fin-input type="dropdown" option-array="toModeArray" model="rakHome.otpModel.otpModeSelected" display-row="full" placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
				<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>
			
			</div>   
		<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> {{appLiterals.APP.RAK_COMMON.RESEND_OTP}} </button>   
		</div>
	
			</div>
			</div>
                 <!-- Auth -->

					<!-- <div class="label-wrap"
						ng-show="rakServiceReq.RakUnblockCreditCardBlock.authStatus">

						<fin-input type="password_text"
							model="rakServiceReq.RakUnblockCreditCardBlock.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RakUnblockCreditCardBlock.txnPwd"]'
							ng-show="rakServiceReq.RakUnblockCreditCardBlock.authMode==txnpwdString">
						</fin-input>
						-->

<!--  CHANGES FOR RESEND OTP START -->
<!-- <div ng-show="rakServiceReq.RakUnblockCreditCardBlock.authMode==otpString">
<div class="rakwidth65">
<fin-input type="password_num" model="rakServiceReq.RakUnblockCreditCardBlock.txnPwd"
display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
validation-flag='pageErrorArr["rakServiceReq.RakUnblockCreditCardBlock.txnPwd"]'>
</fin-input>
</div>
<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> Resend OTP </button>
</div>-->
<!--  CHANGES FOR RESEND OTP END -->
					</div>



					<div class="label-wrap">
						<button type="button"
							class="btn--special-btn btn-middle rak-button-small btn--back"
							ng-click="rakServiceReq.ccSmartCashRq.isBack=true;setEvent('onBackClick');">
							{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
						<button type="button"
							class="btn--special-btn btn-middle rak-button-small"
							ng-click="setEvent('onRakCcSmartCashSRSubmitClick');">
							{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}</button>
					</div>
					<div class="col-sm-1"></div>
					
					<div class="disclaimer">
                         <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                         <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                         </div>

                         <div class="disclaimer3" ng-show="rakDisclaimerFlag">
                                         <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSERREQ_CONF"></div>
                         </div>
                 </div>
					
				</div>
				</div>
			</div>
		</div>
	</div>
