<div class="finacle-container ng-scope"
	ng-init="rakServiceReq.RakDCApplyModel.txnPwd = '';rakServiceReq.confirmRakDCApply(successResponse.responsesList);">
	<div class="account-page ">
		<div class="col-sm-11">
			<!-- 	<div class="app-title-wrapper"> -->

			<div class="main-form-heading-ServiceReq"> 
                              <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.DEBITCARD_APPLY}}
                              <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>                
                              </h2>              
              </div>
			<!-- </div> -->

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
						<div class="rakDupliSRChkMsgImg" ng-show='rakServiceReq.common.message'>
      						<span class='rakAlertForDupStmt'></span> <span class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
						</div>
						<p class="rak-sum-txt ">
							<span class="rak-sum-label">{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_CONF_OPR_ACCOUNTS}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.OprAcctList[rakServiceReq.RakDCApplyModel.selectedOprAcct].accountId}}</span>
						</p>
						<p class="rak-sum-txt ">
							<span class="rak-sum-label">{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_MOB}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.MobileNo}}</span>
						</p>

						<p class="rak-sum-txt ">
							<span class="rak-sum-label">{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_DISPATCH_MODE}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.isBranchOrAddress}}</span>
						</p>
						<p class="rak-sum-txt" 
							ng-show="rakServiceReq.RakDCApplyModel.isBranchOrAddress=='{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_DISPATCH_BRANCH}}'">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_SR_COMMON.EMIRATE}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.emiSelDesc}}</span>
						</p>
						<p class="rak-sum-txt " ng-show="rakServiceReq.RakDCApplyModel.isBranchOrAddress=='{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_DISPATCH_BRANCH}}'">
							<span class="rak-sum-label">{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_DISPATCH_BRANCH}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.OprAcctBranchList[rakServiceReq.RakDCApplyModel.selectedBranchId].branchCode}}</span>
						</p>

						<p class="rak-sum-txt " ng-show="rakServiceReq.RakDCApplyModel.isBranchOrAddress=='{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_DISPATCH_ADDRESS}}'">
							<span class="rak-sum-label">{{appLiterals.APP.RAKDCAPPLYSR.DCAPPLY_ADDRESS}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakDCApplyModel.mailingAddress}}</span>
						</p>

					<div class="label-wrap"
						ng-show='rakServiceReq.RakDCApplyModel.authStatus'>

						<!-- <fin-input type="password_text"
							model="rakServiceReq.RakDCApplyModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RakDCApplyModel.txnPwd"]'
							ng-show="rakServiceReq.RakDCApplyModel.authMode==txnpwdString">
						</fin-input>
						<fin-input type="password_num"
							model="rakServiceReq.RakDCApplyModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP"
							validation-flag='pageErrorArr["rakServiceReq.RakDCApplyModel.txnPwd"]'
							ng-show="rakServiceReq.RakDCApplyModel.authMode==OTP">
						</fin-input> -->


						<fin-input type="password_text" model="rakServiceReq.RakDCApplyModel.txnPwd"
							display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RakDCApplyModel.txnPwd"]'
						ng-show="rakServiceReq.RakDCApplyModel.authMode==txnpwdString">
							</fin-input>
						<!--  <fin-input type="password_num" model="rakServiceReq.RakDCApplyModel.txnPwd"
							display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
							validation-flag='pageErrorArr["rakServiceReq.RakDCApplyModel.txnPwd"]'
							ng-show="rakServiceReq.RakDCApplyModel.authMode==otpString">
							</fin-input> -->

						<!--  CHANGES FOR RESEND OTP START -->
						<div ng-show="rakServiceReq.RakDCApplyModel.authMode==otpString">
						<div ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
						<fin-input type="password_num" model="rakServiceReq.RakDCApplyModel.txnPwd"
display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
						validation-flag='pageErrorArr["rakServiceReq.RakDCApplyModel.txnPwd"]'>
						</fin-input>
						</div>
						<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0' ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">
                        <fin-input type="dropdown" option-array="toModeArray" model="rakHome.otpModel.otpModeSelected" display-row="full" placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
                        <p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>                  
                  		</div>
						 <button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> {{appLiterals.APP.RAK_COMMON.RESEND_OTP}} </button>
						 </div>
						<!--  CHANGES FOR RESEND OTP END -->
					</div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="rakServiceReq.common.fromAuthPage=true;setEvent('onRakDCApplyConfirmBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onRakDCApplyFinalSubmitClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>
						<div class="col-sm-1"></div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>
