<div class="finacle-container ng-scope"
	ng-init="rakServiceReq.RAKInvRedeemGoldAcctModel.txnPwd = '';rakServiceReq.confirmRAKInvRedeemGold(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
		
				<div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.INV_REEDMGOLD}}
				      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>		     
				      </h2>		       
		 		</div>


			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="">
					<div class="">
					
						<div class="rakDupliSRChkMsgImg" ng-show='rakServiceReq.common.message'>
							<span class='rakAlertForDupStmt'></span> <span class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
						</div>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_CONF_GOLDACCNUM}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctModel.selectedGoldAcct}}</span>
						</p>

                         <p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_CONF_EMIRATES}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctModel.emirateSeletectedDisplayName}}</span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_CONF_BRANCH}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctArrays.invGoldAcctBranchList[rakServiceReq.RAKInvRedeemGoldAcctModel.selectedBranchId].branchCode}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_RED_AMOUNT}}</span>
							<span ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.redemptionAmount>1" class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctModel.redemptionAmount}} {{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_GRAMS}}</span>
							<span ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.redemptionAmount==1" class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctModel.redemptionAmount}} {{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_GRAM}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_CONF_CHARGEACCNUM}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctArrays.invChargeAcctList[rakServiceReq.RAKInvRedeemGoldAcctModel.selectedChargeAcct].accountId}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_CONF_REMARKS}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RAKInvRedeemGoldAcctModel.remarks}}</span>
						</p>
						
						
						
						<div>
						
							<div class="money-block rakBottomZero">
						         <ul>
						            <li  class="active rak30 rakPaddingPoint8em" >
						           {{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_WEIGHT}}</li>
						           <li class="active rak30 ">
						           {{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_QUANTITY}}</li>
						            <li class="active rak30 ">
						            {{appLiterals.APP.RAKINVESTMENTSR.REDEEMGOLD_TOTAL_AMT}}</li>
						            <li class="active rak10 ">&nbsp;</li>
						         </ul>
						 	</div>
						 	
						 						
					        <div class="">

									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total1!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM1}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight1}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total1}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									
									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total5!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM5}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight5}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total5}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total10!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM10}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight10}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total10}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total20!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM20}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight20}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total20}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total50!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM50}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight50}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total50}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" ng-if="rakServiceReq.RAKInvRedeemGoldAcctModel.total100!=0">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em">
						                    		{{appLiterals.APP.RAKINVESTMENTSR.GRAM100}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em">
								                    {{rakServiceReq.RAKInvRedeemGoldAcctModel.weight100}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em">
							                   {{rakServiceReq.RAKInvRedeemGoldAcctModel.total100}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									
           
          	 				</div>

					</div>

					<div class="label-wrap"
						ng-show='rakServiceReq.RAKInvRedeemGoldAcctModel.authStatus'>

						<fin-input type="password_text"
							model="rakServiceReq.RAKInvRedeemGoldAcctModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RAKInvRedeemGoldAcctModel.txnPwd"]'
							ng-show="rakServiceReq.RAKInvRedeemGoldAcctModel.authMode==txnpwdString">
						</fin-input>
						
							<div
								ng-show="rakServiceReq.RAKInvRedeemGoldAcctModel.authMode==otpString">
								<div
									ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
									<fin-input type="password_num"
										model="rakServiceReq.RAKInvRedeemGoldAcctModel.txnPwd"
										display-row="full"
										placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.RAKInvRedeemGoldAcctModel.txnPwd"]'></fin-input>
								</div>


								<div class="rakwidth28 rakModeDropdown"
									ng-show='rakHome.otpModel.otpModesList.length>0'
									ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">

									<fin-input type="dropdown" option-array="toModeArray"
										model="rakHome.otpModel.otpModeSelected" display-row="full"
										placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
									<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>

								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									{{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>

							</div>


					</div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="rakServiceReq.common.fromAuthPage=true;setEvent('onRAKInvRedeemGoldBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onRAKInvRedeemGoldConfirmSubmitToRMClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>
						<div class="col-sm-1"></div>
						
				<div class="disclaimer">
                         <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                         <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                         </div>

                         <div class="disclaimer3" ng-show="rakDisclaimerFlag">
                                         <span  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKREDEEMGOLD_CONF"></span>
                                         <span  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKREDEEMGOLD_CONF_CONT"></span>
                         </div>
                 </div>
                 
                 
                            
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
