<div class="finacle-container ng-scope"
	ng-init="rakServiceReq.RakInvOpenGoldAccModel.txnPwd = '';rakServiceReq.confirmRakInvGoldAccOpen(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
			<div class="main-form-heading">
				<h2>
					{{appLiterals.APP.RAK_COMMON.SUMMARY_HEADER}}<span>{{appLiterals.APP.RAK_COMMON.SUMMARY_REVIEW}}</span>
				</h2>
			</div>
			<!-- </div> -->

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="">
					<div class="">

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.GAO_OPR_FROM}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.OprAcctList[rakServiceReq.RakInvOpenGoldAccModel.selectedOprAcct].acctTypeDesc}} {{rakServiceReq.RakInvOpenGoldAccModel.OprAcctList[rakServiceReq.RakInvOpenGoldAccModel.selectedOprAcct].accountId}} {{rakServiceReq.RakInvOpenGoldAccModel.OprAcctList[rakServiceReq.RakInvOpenGoldAccModel.selectedOprAcct].currencyCode}}</span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.PLCHOLDER_QUANTITY}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.quantity}}{{appLiterals.APP.RAKGLDACCOPEN.GRAM}} </span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.BUY_RATE}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.buyRate}}</span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.EQT_VALUES}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.eqtAmt}} or XAU {{rakServiceReq.RakInvOpenGoldAccModel.eqtXau}}</span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.GAO_MODE_OF_ACC}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.isSingleOrJoint}}</span>
						</p>
						<p class="rak-sum-txt" ng-show="rakServiceReq.RakInvOpenGoldAccModel.remarks!=''">
							<span class="rak-sum-label">{{appLiterals.APP.RAKGLDACCOPEN.PLCHOLDER_REMARKS}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakInvOpenGoldAccModel.remarks}}</span>
						</p>
						<div>{{appLiterals.APP.RAKGLDACCOPEN.CONFIRM_MSG}}</div>

					<div class="label-wrap"
						ng-show='rakServiceReq.RakInvOpenGoldAccModel.authStatus'>

						<fin-input type="password_text"
							model="rakServiceReq.RakInvOpenGoldAccModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RakInvOpenGoldAccModel.txnPwd"]'
							ng-show="rakServiceReq.RakInvOpenGoldAccModel.authMode==txnpwdString">
						</fin-input>
						<!-- <fin-input type="password_num"
							model="rakServiceReq.RakInvOpenGoldAccModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
							validation-flag='pageErrorArr["rakServiceReq.RakInvOpenGoldAccModel.txnPwd"]'
							ng-show="rakServiceReq.RakInvOpenGoldAccModel.authMode==otpString">
						</fin-input> -->
<div
								ng-show="rakServiceReq.RakInvOpenGoldAccModel.authMode==otpString">
								<div
									ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
									<fin-input type="password_num"
										model="rakServiceReq.RakInvOpenGoldAccModel.txnPwd"
										display-row="full"
										placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.RakInvOpenGoldAccModel.txnPwd"]'></fin-input>
								</div>


								<div class="rakwidth28 rakModeDropdown"
									ng-show='rakHome.otpModel.otpModesList.length>0'
									ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">

									<fin-input type="dropdown" option-array="toModeArray"
										model="rakHome.otpModel.otpModeSelected" display-row="full"
										placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
									<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>

								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									{{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>

							</div>
<!--  CHANGES FOR RESEND OTP START -->
<!--<div ng-show="rakServiceReq.RakInvOpenGoldAccModel.authMode==otpString">
<div class="rakwidth65">
<fin-input type="password_num" model="rakServiceReq.RakInvOpenGoldAccModel.txnPwd"
display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
validation-flag='pageErrorArr["rakServiceReq.RakInvOpenGoldAccModel.txnPwd"]'>
</fin-input>
</div>
<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> Resend OTP </button>
</div>-->
<!--  CHANGES FOR RESEND OTP END -->

					</div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="setEvent('onRAKInvOpenGoldAccConfirmBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent(rakServiceReq.RakInvOpenGoldAccModel.serviceCallHostOrRM);">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>
						<div class="col-sm-1"></div>
						
				<div class="disclaimer">
                         <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                         <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                         </div>

                         <div class="disclaimer3" ng-show="rakDisclaimerFlag">
                                          <div ng-show='rakServiceReq.RakInvOpenGoldAccModel.modeOfOperation=="JOINTOR"' class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKGLDSINGLY"></div>
                                         <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSERREQ_CONF"></div>
                         </div>
                 </div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
