<div class="finacle-container ng-scope"
	ng-init="rakServiceReq.RakLoanFinPRLModel.txnPwd = '';rakServiceReq.confirmRakLoanFinPRL(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
		

			  <div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.PERM_REL_LETTER}}
				      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>		     
				      </h2>		       
		 		</div>
			

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="">
					<div class="">
						
						<div class="rakDupliSRChkMsgImg" ng-show='rakServiceReq.common.message'>
						      <span class='rakAlertForDupStmt'></span> <span class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
						</div>
						
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_SELECT_LON_ACCOUNTS}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.LonAcctList[rakServiceReq.RakLoanFinPRLModel.selectedLonAcct].accountId}}</span>
						</p>
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_REQ_FOR_DUP}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.duplicateRequestSelected}}</span>
						</p>

						<p class="rak-sum-txt" ng-show="rakServiceReq.RakLoanFinPRLModel.duplicateRequestSelected=='{{appLiterals.APP.RAKLNFINPRL.PRL_DUP_YES}}'">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_DEBIT_ACC}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.DrAcctList[rakServiceReq.RakLoanFinPRLModel.selectedDrAcct].accountId}}</span>
						</p>

						<!-- <p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_BRANCHES}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.branchList[rakServiceReq.RakLoanFinPRLModel.selectedBranchId].branchCode}}</span>
						</p> -->
						
						<p class="rak-sum-txt" 
							ng-show="rakServiceReq.RAKEarlyCardRenewalModel.isBranchOptionSelected">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_SR_COMMON.EMIRATE}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.emiSelDesc}}</span>
						</p>
						
						
						<p class="rak-sum-txt"
							ng-show="rakServiceReq.RAKEarlyCardRenewalModel.isBranchOptionSelected">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_SR_COMMON.BRANCH}}</span> <span
								class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.selectedBranchDesc}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_MOBILENO}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.MobileNo}}</span>
						</p>

						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAKLNFINPRL.PRL_NOTES}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.RakLoanFinPRLModel.notes}}</span>
						</p>

					<div class="label-wrap"
						ng-show='rakServiceReq.RakLoanFinPRLModel.authStatus'>

						<fin-input type="password_text"
							model="rakServiceReq.RakLoanFinPRLModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							validation-flag='pageErrorArr["rakServiceReq.RakLoanFinPRLModel.txnPwd"]'
							ng-show="rakServiceReq.RakLoanFinPRLModel.authMode==txnpwdString">
						</fin-input>
						<!-- <fin-input type="password_num"
							model="rakServiceReq.RakLoanFinPRLModel.txnPwd"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
							validation-flag='pageErrorArr["rakServiceReq.RakLoanFinPRLModel.txnPwd"]'
							ng-show="rakServiceReq.RakLoanFinPRLModel.authMode==otpString">
						</fin-input> -->

<!--  CHANGES FOR RESEND OTP START -->
<div ng-show="rakServiceReq.RakLoanFinPRLModel.authMode==otpString">
<div ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
<fin-input type="password_num" model="rakServiceReq.RakLoanFinPRLModel.txnPwd"
display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
validation-flag='pageErrorArr["rakServiceReq.RakLoanFinPRLModel.txnPwd"]'>
</fin-input>
</div>
<div class="rakwidth28 rakModeDropdown" ng-show='rakHome.otpModel.otpModesList.length>0' ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">
			
				<fin-input type="dropdown" option-array="toModeArray" model="rakHome.otpModel.otpModeSelected" display-row="full" placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
				<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>
			
			</div> 
<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> {{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>
</div>
<!--  CHANGES FOR RESEND OTP END -->
					</div>

						<div class="label-wrap">
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small btn--back"
								ng-click="setEvent('onRakLoanFinPRLConfirmBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onRakLoanFinPRLFinalSubmitClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>
						<div class="col-sm-1"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
