<div>
						
							<div class="money-block rakBottomZero">
						         <ul>
						            <li  class="active rak25 rakPaddingPoint8em" >
						           {{appLiterals.APP.RAK_SERVICES.RAK_UOE_STATUS.COUNTRY_TAX_RESIDENCE}}</li>
						           <li class="active rak25 ">
						           {{appLiterals.APP.RAK_SERVICES.RAK_UOE_STATUS.TIN_NUMBER_AVAILABLE}}</li>
						            <li class="active rak25 ">
						            {{appLiterals.APP.RAK_SERVICES.RAK_UOE_STATUS.TIN_NUMBER}}</li>
						             <li class="active rak25 ">
						            {{appLiterals.APP.RAK_SERVICES.RAK_UOE_STATUS.NO_TIN_REASON}}</li>
						           
						         </ul>
						 	</div>
						 	
						 						
					        <div class="">

									<div class="trans-detail rakGreyRow height40"
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber!='' || rakServiceReq.serviceRequestStatusModel.noTinReason!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									
									
									<div class="trans-detail rakGreyRow height40" 
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes1!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail1!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber1!='' || rakServiceReq.serviceRequestStatusModel.noTinReason1!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes1}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail1}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber1}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason1}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" 
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes2!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail2!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber2!='' || rakServiceReq.serviceRequestStatusModel.noTinReason2!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes2}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail2}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber2}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason2}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" 
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes3!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail3!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber3!='' || rakServiceReq.serviceRequestStatusModel.noTinReason3!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes3}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail3}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber3}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason3}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									
									<div class="trans-detail rakGreyRow height40" 
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes4!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail4!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber4!='' || rakServiceReq.serviceRequestStatusModel.noTinReason4!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes4}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail4}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber4}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason4}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
									
									<div class="trans-detail rakGreyRow height40" 
									ng-if="rakServiceReq.serviceRequestStatusModel.cntTaxRes5!='' || rakServiceReq.serviceRequestStatusModel.tinNumberAvail5!='' 
									|| rakServiceReq.serviceRequestStatusModel.tinNumber5!='' || rakServiceReq.serviceRequestStatusModel.noTinReason5!=''">

						                  	<div class="trans-dash-right rakPeopleNameRow1  rak25  rakPaddingPoint8em pull-left">
						                   		<div>
						                   			 <div class="trans-no rakTextCenter rakFont1em" >
						                    		{{rakServiceReq.serviceRequestStatusModel.cntTaxRes5}}
						                   			 </div>
						                    	</div>	
						                    </div>

						                  <div class="trans-dash-right rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em" >
						                 		 <div>
								                    <div class="trans-no rakTextCenter rakFont1em" >
								                    {{rakServiceReq.serviceRequestStatusModel.tinNumberAvail5}}
								                    </div>
						               			</div>
						                  </div>


					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.tinNumber5}}
							                    </div>
						                  </div>
					                  	</div>	
					                  	
					                  	
					                  	<div class="trans-dash-left rakPeopleNameRow1  rak25 pull-left rakPaddingPoint8em">
						                    <div>
							                    <div class="trans-no rakTextCenter rakFont1em" >
							                   {{rakServiceReq.serviceRequestStatusModel.noTinReason5}}
							                    </div>
						                  </div>
					                  	</div>				

									</div>
           
          	 				</div>

					</div>