		<div class="rak-back-header">
				<i class="rak-back-img"
					ng-click="rakServiceReq.setRakOpenOprSavAcctInitBackBtnClicked()"></i>
		</div>
<div class="finacle-container"
	ng-init="rakServiceReq.initOprSavingAcctOpen(successResponse.responsesList);">

 <div class="account-page">
		<div class="col-sm-11">
		
			<div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.SAVING_ACCOUNT}}
				      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP1}}{{appLiterals.APP.RAKCOMMONLITERALS.ENTER_DETAILS}}</span>		     
				      </h2>		       
		 		</div>

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
					

					<div ng-show="rakServiceReq.RAKOprSavingAcctOpenLists.refAcctNoList.length > 0"
						ng-init='refAcctNo = createDropDownOptionArray(rakServiceReq.RAKOprSavingAcctOpenLists.refAcctNoList,["accountName","-","accountNumber"],"accountIndex");'>
						<fin-input type="dropdown"
							model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedRefNo"
							display-row="full"
							placeholder="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.REF_ACCT_NO}}"
							validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedRefNo"]'
							option-array="refAcctNo"></fin-input>
					</div>

<!--  CHANGES FOR RADIO BUTTONS IN ONE RWO AS FIX OF PRCU-875 START -->
					<div class="rakRow">
										<div class="radio-biller rak100 rakWidth100 raktext-align rakMarginTop4px">
											{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.ACCTCRN}}</div>
										<div class="rak100">
											<div  class="">
												
												<div class="rakCstmRadioDiv rak23 rakTop2emLeft3">
													<input type="radio"	value="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.AED}}" id="radio1"
													 	
														ng-model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"
														validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"]'/>
														<label for="radio1"><span><span></span></span>{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.AED}}</label>
														
												</div>
												
												<div class="rakCstmRadioDiv rak23 rakTop2emLeft3">
													<input type="radio" id="radio2"
														value="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.USD}}"
														
														ng-model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"
														validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"]'
														/>
													<label for="radio2"><span><span></span></span>{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.USD}}</label>
													
												</div>
												
												<div class="rakCstmRadioDiv rak23 rakTop2emLeft3">
													<input type="radio" id="radio3"
														value="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.GBP}}"
														
														ng-model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"
														validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"]'
														/>
														<label for="radio3"><span><span></span></span>{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.GBP}}</label>
													
												</div>
										
												<div class="rakCstmRadioDiv rak23 rakTop2emLeft3 ">
													<input type="radio" id="radio4"
														value="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.EUR}}"
														
														ng-model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"
														validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"]'
														/>
													<label for="radio4"><span><span></span></span>{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.EUR}}</label>	
												
												</div>
											</div>
											<div class="rakRadioErr" ng-hide='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn"]==null'>{{appLiterals.APP.RAKCOMMONLITERALS.TXT_PLS_SEL}}{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.ACCTCRN}}</div>
										</div>
									</div>
<!--  CHANGES FOR RADIO BUTTONS IN ONE RWO AS FIX OF PRCU-875 END -->

				<div
										ng-init="rakServiceReq.RAKOprSavingAcctOpenReq.debitCardRqd='Y'">
				</div>
				<p class="rak-parent-txt" ng-if="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn=='AED'">
									<span class="rak-sum-label labelServiceReqTemp">{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.DEBITCARDRQD}}</span> <span
										class="rak-sum-label black labelServiceReqTemp">{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.DEBIT_ACC_YES}}</span>
				</p>
			


							<!-- 	<div class="rakRow" ng-show="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn=='AED'" ng-if="rakServiceReq.RAKOprSavingAcctOpenReq.selectedCrn=='AED'">
										<div class="radio-biller rak20"
										ng-init="rakServiceReq.RAKOprSavingAcctOpenReq.debitCardRqd='Y'">
											{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.DEBITCARDRQD}}</div>
										<div class="rak80">
											<div class="rakRadioPadding">
																							
												<div class="rakCstmRadioDiv rak33">
													<input type="radio"
														value="Y"
														
														ng-model="rakServiceReq.RAKOprSavingAcctOpenReq.debitCardRqd"
														validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.debitCardRqd"]'
														/>
														<label for="radio1"><span><span></span></span>{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.DEBIT_ACC_YES}}</label>
													
												</div>

											</div>
										</div>
									</div> -->
<!-- 
									<fin-input type="number_card"
							model="rakServiceReq.RAKOprSavingAcctOpenReq.EmiratesId"
							display-row="full" max-length="15"
							placeholder="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.EMIRATESID}}"
							validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.EmiratesId"]'></fin-input> -->
			
		<div ng-if='rakServiceReq.common.EmiratesIdAvailable=="Y"'>					
			<p class="rak-parent-txt" >
									<span class="rak-sum-label labelServiceReqTemp">{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.EMIRATESID}}</span> <span
										class="rak-sum-label black labelServiceReqTemp">{{rakServiceReq.RAKOprSavingAcctOpenReq.EmiratesId}}</span>
				</p>
				
				<p class="rak-parent-txt" >
									<span class="rak-sum-label labelServiceReqTemp">{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.ID_EXPIRY_DATE}}</span> <span
										class="rak-sum-label black labelServiceReqTemp">{{rakServiceReq.common.accountsOpenDisplayDate}}</span>
				</p>

					
						
				<!-- 		<fin-input type="date"
						model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedDate"
						display-row="full" value="futureDatesOnly"
						placeholder="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.ID_EXPIRY_DATE}}"
						validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedDate"]'></fin-input>
						
						<span class="smallLabel">{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.ID_EXPIRY_DATE}}</span>  -->

	</div>

						<div
						ng-init='branchForKIT = createDropDownOptionArray(rakServiceReq.RAKOprSavingAcctOpenLists.branchForKITList,["branchName"],"branchIndex");'>
						<fin-input type="dropdown"
							model="rakServiceReq.RAKOprSavingAcctOpenReq.selectedBranch"
							display-row="full"
							placeholder="{{appLiterals.APP.RAK_SERVICES.RAKOPRSAVACCOPEN.BRANCH_FOR_KIT}}"
							validation-flag='pageErrorArr["rakServiceReq.RAKOprSavingAcctOpenReq.selectedBranch"]'
							option-array="branchForKIT"></fin-input>
					</div>

				
					<div class="fin-txt"></div>
					<div class="fin-txt"></div>


					<div class="disclaimer3" >
						<span ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSAVINGAOPEN"></span>
						<span ng-click='rakServiceReq.fetchPdf("https://rakbank.ae/wps/wcm/connect/021eabaa-9e43-4e4e-970d-ca13a37e9e9f/%28A%29+J00781+RAK++Debit+Card+-+Personal+Account+A4-T%26C-New+Guide-EN%26AR%28withe+out+cashback%29.pdf?MOD=AJPERES");' class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span>
						<span ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSAVINGOPENCONT"></span>
					
										
								<div class="check-boxsLeft">
				                    <input id="termsFlag"  class="checkbox-custom-new"  type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model='rakServiceReq.acceptTermscondition' >
				                    <label for="termsFlag" class="checkbox-custom-label termsCheck smallCheck" ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSAVINGOPENCONTTERMS"></label>
				                </div>										
					</div>



						<div class="label-wrap">
							<!-- <button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onRAKOprSavingAcctOpenBackClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CANCEL}}</button> -->
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="rakServiceReq.setRAKOprSavingAcctOpenReqDate();setEvent('onRAKOprSavingAcctOpenConfirmClick');">
								{{appLiterals.APP.RAKCOMMONLITERALS.TXT_CONTINUE}}</button>

						</div>

					</div>
				
                                     
                   <div class="disclaimer">
                            <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                        <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                               </div>                                                 
                                           
                           <div class="disclaimer3" ng-if="rakDisclaimerFlag">
							<span ng-bind-html="appLiterals.APP.DISCLAIMER.RAKSAVINGSCURRENTACCOUNT_INITPAGE"></span>													
							</div>
                                           
                      </div>
                         

				</div>
			</div>
		</div>

	</div>
</div>