<div class="finacle-container" ng-init="rakServiceReq.rakOprEvantageMailChqReqSuccess(successResponse.responsesList)">
	<div class="account-page">
     	<div class="col-sm-11">
			<div class="summary-ServiceReq">
				<div class="iconDiv">
					<span class="infoIcon"></span><span class="success">{{rakServiceReq.RakOprEvantageMailChqReq.successMessage}}</span>
				</div>
			</div>
			<div class="main-form-heading-ServiceReq">
				<h2 class="rakBenfHeader">
					{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.OPR_EV_MAILCHQ}}<span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP3}}{{appLiterals.APP.RAKCOMMONLITERALS.SUMMARY}}</span>
				</h2>
			</div>



			<div class="bg-color rak-cont-padding rak-scroll rakMarginTop5" >
		 		<div class="row" >
		      		


			
					
					<!-- 	 Commented as WorkAround to handle single record -->	
					
				<!-- 	<div class="balance-columns-header-row" >
						<div class="balance-heade-col rak10 rakFloatLeft"></div>
								<div class="balance-heade-col rak30">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.NAME}}</div>
								<div class="balance-heade-col rak30">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.AMT}} {{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.CURRENCY}}</div>
								<div class="balance-heade-col rak25">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.QUANTITY}}</div>	
						</div> -->
					
					<!-- 	 Commented as WorkAround to handle single record -->	

				<!-- 	<div class="rakColumnDiv"
						ng-show="rakServiceReq.RakOprEvantageMailChqReq.counter>=1">
						<span class="pullLeft"></span>
						<span class="rakColumnLabel">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[0]}}</span>
						<span class="rakColumnLabel">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[0]}}</span>
						<span class="rakColumnLabel">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[0]}}</span>

					</div>
					
 -->
 		<!-- 	 Commented as WorkAround to handle single record -->	
 		
				<!-- 		<div class="trans-detail rakGreyRowHeight rakMoreActions"
						ng-show="rakServiceReq.RakOprEvantageMailChqReq.counter>=1">
						<div class="balance-heade-col rak10 rakFloatLeft"></div>
						<div class="trans-date rakPaddingLeft10 rakPeopleNameRow1 rak30 rakPadding05 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[0]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak30 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[0]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak25 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[0]}}</div>
						</div>
					

					<div class="trans-detail rakGreyRowHeight rakMoreActions"
						ng-show="rakServiceReq.RakOprEvantageMailChqReq.counter>=2">
						<div class="balance-heade-col rak10 rakFloatLeft"></div>
						<div class="trans-date rakPaddingLeft10 rakPeopleNameRow1 rak30 rakPadding05 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[1]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak30 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[1]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak25 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[1]}}</div>

					</div>

					<div class="trans-detail rakGreyRowHeight rakMoreActions"
						ng-show="rakServiceReq.RakOprEvantageMailChqReq.counter>=3">
						<div class="balance-heade-col rak10 rakFloatLeft"></div>
						<div class="trans-date rakPaddingLeft10 rakPeopleNameRow1 rak30 rakPadding05 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[2]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak30 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[2]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak25 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[2]}}</div>

					</div>

					<div class="trans-detail rakGreyRowHeight rakMoreActions"
						ng-show="rakServiceReq.RakOprEvantageMailChqReq.counter==4">	
						<div class="balance-heade-col rak10 rakFloatLeft"></div>			
						<div class="trans-date rakPaddingLeft10 rakPeopleNameRow1 rak30 rakPadding05 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[3]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak30 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[3]}}</div>
						<div class="trans-date rakPeopleNameRow1 rak25 rakPadding05 rakPaddingLeft20 rakFont1em">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[3]}}</div>

					</div> -->
					
					<!-- 	 Commented as WorkAround to handle single record -->	
					
					
					
					
						<!-- 	 Added as WorkAround to handle single record -->
		  <p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.NAME}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.nameArray[0]}}</span>
			</p>
			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.AMT_NUM}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.amtArray[0]}}</span>
			</p>
			
			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.AMT_TXT}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.amtWrdsArray[0]}}</span>
			</p>

			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.QUANTITY}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.quantityArray[0]}}</span>
			</p>
			
			<p class="rak-sum-txt">
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.REASON}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.reason}}</span>
			</p>
			
	<!-- 		<p class="rak-sum-txt" ng-show='rakServiceReq.RakOprEvantageMailChqReq.others'>
			<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_OPR_EVMAILCHQ.QUANTITY}}</span>
			<span class="rak-sum-label black">{{rakServiceReq.RakOprEvantageMailChqReq.others}}</span>
			</p> -->
				<!-- 	 Added as WorkAround to handle single record -->	
			
		
				
					
					

	      			<div class="label-wrap ">
	      				<button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click='setEvent("onRAKOprEvantageMailChqSuccessOkClick");'> {{appLiterals.APP.RAKCOMMONLITERALS.TXT_OK}} </button>

 						<!-- <button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click=" setEvent('onSendAgainClick');">  {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_SUCCESSPAGE.SEND_AGAIN}}  </button>
						<button type="button" class="btn--special-btn btn-middle rak-button-small" ng-click='rakSendMoney.sendMoney.clearSelfTransfersData(); rakSendMoney.utils.clearCommonData(); setEvent("onTransfersSuccessOkClick")'> {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_SUCCESSPAGE.HOME}} </button> -->
					</div>
					<div class="col-sm-10"> </div>


      			

      		</div>
    	</div>

  	</div>

</div>
