<div class="rak-back-header">

				<i class="rak-back-img"
					ng-click="setEvent('onstopChequeReqConfirmBackClick');"></i>
		</div>

<div class="nano menu-scroll">
	<div class="nano-content">
		
<div class="finacle-container ng-scope"
	ng-init="rakServiceReq.stopChequeReq.transactionPassword = '';rakServiceReq.confirmstopChequeReq(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-11">
		

		
		<div class="main-form-heading-ServiceReq"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_SERVICES.RAK_SERV_LANDPG.STOP_CHQ_REQ}}
				      <span>{{appLiterals.APP.RAKCOMMONLITERALS.STEP2}}{{appLiterals.APP.RAKCOMMONLITERALS.REVIEW_CONFIRM}} </span>		     
				      </h2>		       
		 		</div>
		

			<div class="bg-color rak-cont-padding rak-scroll">
				<div class="row">
					<div class="">
						
						<div class="rakDupliSRChkMsgImg" ng-show='rakServiceReq.common.message'>
							<span class='rakAlertForDupStmt'></span> <span class="rakDupliSRChkMsg-block">{{rakServiceReq.common.message}}</span>
			           </div>
			 
						<p class="rak-sum-txt">
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_STOP_CHQ_REQ.OPR_ACC_NUM}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.stopChequeReq.oprAccountDesc}}</span>
						</p>
						
						<p class="rak-sum-txt" >
							<span class="rak-sum-label">{{appLiterals.APP.RAK_SERVICES.RAK_STOP_CHQ_REQ.CHQ_BOOK_NUM}}</span>
							<span class="rak-sum-label black">{{rakServiceReq.stopChequeReq.selChqBk}}</span>
						</p>
						
						
			
				<div class="scq-rakColumnDivDarkBackTop">
					
						<span class="pullLeft">&nbsp;</span>
						<span class="scq-rakColumnLabelDark">&nbsp;{{appLiterals.APP.RAK_SERVICES.RAK_STOP_CHQ_REQ.CHQ_NUM_TO_STOP}}</span>
						
						<span class="scq-rakColumnLabelDark">&nbsp;{{appLiterals.APP.RAK_SERVICES.RAK_STOP_CHQ_REQ.STATUS}}</span>
						
						<!-- <span class="emi-rakColumnLabelDark">Issue Date</span> -->
					
				</div>
						
							
				<div class="emi-rak-scroll" >	
					
						<div class="rakColumnDiv" >
							
								<div ng-repeat="x in rakServiceReq.stopChequeReq.testArrayShow">
									
									<span class="pullLeft">&nbsp;</span>
									
									<span class="scq-rakColumnLabel">&nbsp;{{x.chqNumShow}}</span>
									
									<span class="scq-rakColumnLabel">&nbsp;{{x.StatusShow}}</span>
									
								</div>
								
							</div>
						
						
						
							<!-- Transaction password and OTP are chosen from Temporary Release Letter --- START -->
						<div>	
						<fin-input type="password_text"
							model="rakServiceReq.stopChequeReq.transactionPassword"
							display-row="full"
							placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.TXT_TXNPWD}}"
							min="0"
							validation-flag='pageErrorArr["rakServiceReq.stopChequeReq.transactionPassword"]'
							ng-show="rakServiceReq.stopChequeReq.auth==txnpwdString"></fin-input>
						</div>
						<div
								ng-show="rakServiceReq.stopChequeReq.auth==otpString">
								<div
									ng-class="{'rakwidth38':rakHome.otpModel.otpModesList.length >0 ,'rakwidth65':rakHome.otpModel.otpModesList.length===0}">
									<fin-input type="password_num"
										model="rakServiceReq.stopChequeReq.transactionPassword"
										display-row="full"
										placeholder="{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_TXT_OTP}}"
										validation-flag='pageErrorArr["rakServiceReq.stopChequeReq.transactionPassword"]'></fin-input>
								</div>


								<div class="rakwidth28 rakModeDropdown"
									ng-show='rakHome.otpModel.otpModesList.length>0'
									ng-init="rakHome.otpModel.otpModeSelected=rakHome.otpModel.MODESCONSTANT.SMS;toModeArray=createDropDownOptionArray(rakHome.otpModel.otpModesList, ['ModeDesc'],'ModeValue')">

									<fin-input type="dropdown" option-array="toModeArray"
										model="rakHome.otpModel.otpModeSelected" display-row="full"
										placeholder="{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}"></fin-input>
									<p class="balance-available2">{{appLiterals.APP.RAK_COMMON.OTPSENDVIA}}</p>

								</div>
								<button type="button"
									class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton"
									ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');">
									{{appLiterals.APP.RAK_COMMON.RESEND_OTP}}</button>

							</div>
						<!-- <fin-input type="password_num"
							model="rakServiceReq.stopChequeReq.transactionPassword"
							display-row="full"
							placeholder="{{appLiterals.APP.RAK_SERVICES.RAK_PREPAID_CARD.PH_OTP}}"
							min="0"
							validation-flag='pageErrorArr["rakServiceReq.stopChequeReq.transactionPassword"]'
							ng-show="rakServiceReq.stopChequeReq.auth==otpString"></fin-input>
							 -->
							<!-- Transaction password and OTP are chosen from Block Credit Card Confirm --- END -->
							
							<!--  CHANGES FOR RESEND OTP START -->
					<!--	<div ng-show="rakServiceReq.stopChequeReq.auth==otpString">
							<div class="rakwidth65">
							<fin-input type="password_num" model="rakServiceReq.stopChequeReq.transactionPassword"
							display-row="full" placeholder="{{appLiterals.APP.RAKCOMMONLITERALS.OTP}}"
							validation-flag='pageErrorArr["rakServiceReq.stopChequeReq.transactionPassword"]'>
							</fin-input>
							</div>
							<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back rakotpbutton" ng-click="rakSendMoney.regenerateOtp('onGenerateOtp');"> Resend OTP </button>
						</div>-->
							<!--  CHANGES FOR RESEND OTP END -->
							
						<div class="label-wrap">
							<button type="button"
							class="btn--special-btn btn-middle rak-button-small btn--back"
							ng-click="setEvent('onstopChequeReqConfirmBackClick');">
							{{appLiterals.APP.RAKCOMMONLITERALS.TXT_BACK}}</button>
							
							<button type="button"
								class="btn--special-btn btn-middle rak-button-small"
								ng-click="setEvent('onstopChequeReqConfirmClick');">{{appLiterals.APP.RAKCOMMONLITERALS.TXT_SUBMIT}}
							</button>

						</div>
						
						<div class="fin-txt"></div>
					<div class="fin-txt"></div>
					<div class="fin-txt"></div>
					<div class="fin-txt"></div>
					<div class="fin-txt"></div>
						<!-- <div class="col-sm-1"></div> -->
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>

