 <div class="money-block">
          <ul>
             <li ng-class="{'active headerSelectedMargin':rakSendMoney.sendMoneyTab,'':!rakSendMoney.sendMoneyTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.sendMoney.clearSelfTransfersData(); rakSendMoney.utils.clearCommonData();rakSendMoney.sendMoneyTab=true;setGlobalEvent('onRakSendMoneyTabClick')">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFERS_PAYNOW_PAGE.TXT_SENDMONEY}}</li>
            <li ng-class="{'active headerSelectedMargin':rakPayee.ddsPayeeTab,'':!rakPayee.ddsPayeeTab}" ng-click="rakPayee.clearDDSTab();rakPayee.ddsPayeeTab=true;setGlobalEvent('onPayUAEDDSClick')">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_PAYEES}}</li>
            <li ng-class="{'active headerSelectedMargin':rakPayee.ddsTxnHistoryTab,'':!rakPayee.ddsTxnHistoryTab}" ng-click="rakPayee.clearDDSTab();rakPayee.ddsTxnHistoryTab=true;setGlobalEvent('onDDSTxnHistoryClick')">{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.TXN_HIST}}</li>
          </ul>
        </div>