	<div class="rak-back-header" ng-hide="rakPayee.isDeleteBeneficiaryMode||rakPayee.isEditBeneficiaryMode">
				<i class="rak-back-img"
					ng-click="rakPayee.isUserNavigatingBack=true;setEvent(rakPayee.payeeModel.getEditBackEvent());"></i>
	</div>
<div class="finacle-container ng-scope" ng-init="rakSendMoney.clearTab();rakSendMoney.benfTab=true;
                                                 rakPayee.isDeleteBeneficiaryMode?rakPayee.payeeModel.deleteMobCashBeneficiaryDetails(successResponse.responsesList):rakPayee.isEditBeneficiaryMode?rakPayee.payeeModel.editMobCashBeneficiaryDetails(successResponse.responsesList):rakPayee.processPayeeAuthResponse(successResponse.responsesList);
                                                 rakPayee.authMode.firstAuthModeValue = '';rakPayee.authMode.secAuthModeValue = '';rakHome.AuthPageData.firstAuthModeValue='';rak2FARegister.RegistrationModel.resendAuthMode(successResponse.responsesList);">

    <div class="account-page">
		 <div class="col-sm-11">
			<div class="app-title-wrapper">
				<ng-include  src="'./navigation/rakSendMoney/resources/RakSendMoneyTabPage.html'"> </ng-include>
				  <div class="rak-scroll">
				<div class="main-form-heading-payee" >
                <h2  ng-hide="rakPayee.isDeleteBeneficiaryMode">{{rakPayee.isEditBeneficiaryMode ? appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_TXT_EDIT_MC : appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_TXT_ADDNEWPAYE_MC }}
                      <span>{{rakPayee.isEditBeneficiaryMode ? appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2 : appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP3}} :{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2_TXT1}} </span>
                </h2>
				<h2  ng-show="rakPayee.isDeleteBeneficiaryMode">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_DELETE}}{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_MOBCASH}}<span>{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2}} :{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2_TXT}} </span></h2>
            </div>


		  <div class="bg-color rak-cont-padding">
			<div class="" >
			  <div class="">

			<p class="rak-sum-txt">
				<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_BNF_NAME}}</span>
				<span class="rak-sum-label black">{{rakPayee.payeeModel.name}}</span>
			</p>


		  <div ng-show="rakPayee.selectedPayeeType == rakPayee.payeeTypes.MOBCASH||rakPayee.bankbnftype==rakPayee.payeeTypes.MOBCASH">
			<p class="rak-sum-txt">
			     <span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.MOBILE_NO}}</span>
			     <span class="rak-sum-label black">{{rakPayee.payeeModel.mobileNumber}}</span>
			</p>
		  </div>
		    <!--RAK-Sindhu-Modified-End-->

			<fin-dynamicbenfauthresend></fin-dynamicbenfauthresend>

			<div class="label-wrap" ng-show="rakPayee.isDeleteBeneficiaryMode||rakPayee.isEditBeneficiaryMode">

			 <button type="button"  class="btn--special-btn btn-middle rak-button-small btn--back rak40 center"
			        ng-click="rakPayee.isUserNavigatingBack=true;setEvent(rakPayee.payeeModel.getEditBackEvent());">{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_BACK}}</button>

			<button type="button" class="btn--special-btn btn-middle rak-button-small rak40 center"
			        ng-click="rakHome.AuthPageData.fetchOtp(rakPayee.getAddPayeeAuthConfirmEventDetails());">{{appLiterals.APP.PAYEE.ADDBENF_AUTHPAGE.BTN_CNFRM}}</button>
            </div>
            <!-- RMC -->
          <!--  <div class="label-wrap">
			<button type="button" class="btn--special-btn btn-middle rak-button-full btn--back"
			        ng-click="rakPayee.isUserNavigatingBack=true;setEvent(rakPayee.payeeModel.getEditBackEvent());">{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_BACK}}</button>

		  </div> -->

		   <div class="label-wrap" ng-hide="rakPayee.isDeleteBeneficiaryMode||rakPayee.isEditBeneficiaryMode">
			<button type="button" class="btn--special-btn btn-middle rak-button-small " ng-click="rakPayee.isBackClicked=false;rakPayee.payeeModel.getRAKConfirmFlag(0);
                    						setEvent(rakPayee.getAddPayeeAuthConfirmEventDetails())" >{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_RAKCLATER}}</button>

            <button type="button" class="btn--special-btn btn-middle rak-button-small " ng-click="rakPayee.isBackClicked=false;rakPayee.payeeModel.getRAKConfirmFlag(1);
                    				rakHome.AuthPageData.fetchOtp(rakPayee.getAddPayeeAuthConfirmEventDetails())" >{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.BTN_RAKCNOW}}</button>

		  </div>

            <!-- RMC -->
            <div class="col-sm-1"> </div>
            
            <div class="disclaimer">
							<div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
											<h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
							</div>

							<div class="disclaimer3" ng-show="rakDisclaimerFlag">
											<div class="disclaimer3" ng-show="rakHome.AuthPageData.authType==rakHome.AuthPageData.OTP"  ng-bind-html="appLiterals.APP.DISCLAIMER.ADDMOBBENF_AUTH"></div>
                                            <div class="disclaimer3" ng-show="rakHome.AuthPageData.authType!=rakHome.AuthPageData.OTP"  ng-bind-html="appLiterals.APP.DISCLAIMER.ADDMOBBENF_AUTH_RAKTOKEN"></div>
							</div>
			</div>
            
		  </div>
	  </div>
	  </div>
	</div>
</div>
</div>
</div>
</div>
