	<div class="rak-back-header" ng-if="rakPayee.schedule.selectedTxn.txnFrequency!='O'">
			<i class="rak-back-img" ng-click="rakPayee.schedule.stopBtnClicked=false;setEvent('onRecBackClick');"></i>
	</div>
	<div class="rak-back-header" ng-if="rakPayee.schedule.selectedTxn.txnFrequency=='O'">
			<i class="rak-back-img" ng-click="rakPayee.schedule.stopBtnClicked=false;setEvent('onSingleBackClick');"></i>
	</div>
<!--rak changes done as fix of PROUAT 6451 START  -->	
<div ng-init="rakHome.AuthPageData.firstAuthModeValue='';rakPayee.schedule.initDetails(successResponse.responsesList);rakPayee.schedule.txnPwd='';rakPayee.schedule.remarks='';rakPayee.schedule.initStopTransferAuth(successResponse.responsesList);rakCorpInit.corpModel.processCorpInit(successResponse.responsesList);">
<!--rak changes done as fix of PROUAT 6451 END  -->		
	<div class="account-page">

    <div class="col-sm-11">
	  <div class="app-title-wrapper">		
		
				<ng-include  src="'./navigation/rakPayee/resources/RakPayBillsTabPage.html'"> </ng-include>
   
   							<div class="tab-links">
								<ul>
									<li><span>{{appLiterals.APP.RAK_PAYEE.HISTORY.PMTHISTORY}}</span></li>
									<li class="active"><span class="active">{{appLiterals.APP.RAK_PAYEE.HISTORY.SCHPMT}}</span></li>
									
								</ul>
							</div>
							
								<div class="bg-color rak-cont-padding rakScrollDiv rak-cont-paddingvh"> 
         <div class="main-form-heading">
                    	  	<h2>{{appLiterals.APP.RAK_COMMON.SUMMARY_HEADER}}<span>{{appLiterals.APP.RAK_COMMON.SUMMARY_REVIEW}}</span></h2>
            </div>
			 
		 
	 <div class="" >
	  
	    <div class="" >
	      <div class="">
				<p class="rak-sum-txt">
		
    
			 
					<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REFID}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.selectedTxn.txnReferenceId}}</span>
								</p>
									
							
								
							 <p class="rak-sum-txt" >
					<span class="rak-sum-label">Immediate Payment Due On</span>
					<span class="rak-sum-label black">{{rakPayee.schedule.immediateDueOn}}</span>
				</p>
				
								
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FROMACC}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.displayAccount}}</span>
								</p>
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.BENF_NAME}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.selectedTxn.toAccount}}</span>
								</p>
								
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CONSUMERNO}}</span>
									<span class="rak-sum-label black">{{rakPayee.schedule.cardNumber}}</span>
								</p>
								
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.SERVICE}}</span>
									<span class="rak-sum-label black">{{rakPayee.schedule.serviceType}}</span>
								</p>
								
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.TRANSFERAMT}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.selectedTxn.txnCurrency}} {{rakPayee.schedule.selectedTxn.txnAmount}}</span>
								</p>
								
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DEBITAMOUNT}}</span>
									<span class="rak-sum-label black">{{rakPayee.schedule.debitAmt}}</span>
								</p>
								
								<p class="rak-sum-txt" ng-show="rakPayee.schedule.selectedTxn.txnFrequency == 'O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DATE}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.selectedTxn.txnDate}}</span>
								</p>
								
								<p class="rak-sum-txt" ng-show="rakPayee.schedule.selectedTxn.txnFrequency != 'O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.RECDATE}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.selectedTxn.txnDate}}</span>
								</p>
				
								<p class="rak-sum-txt" ng-show="rakPayee.schedule.selectedTxn.txnFrequency == 'O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}
									</span> <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.ONCE}}</span>
								</p>
								<div ng-show="rakPayee.schedule.selectedTxn.txnFrequency != 'O'">
								<p class="rak-sum-txt" >
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}</span>
									 <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REC}}</span>
								</p>
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQTYPE}}</span>
									 <span class="rak-sum-label black">{{rakPayee.schedule.recFreq}}</span>
								</p>
								<p class="rak-sum-txt">
									<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.INSTALLMENTS}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.noOfTransfers}}</span>
								</p>
								</div>
							 <p class="rak-sum-txt" ng-show="rakPayee.schedule.noOfInstanceLeft && rakPayee.schedule.selectedTxn.txnFrequency != 'O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.NOOFTRANSFERLEFT}}
									</span> <span class="rak-sum-label black">{{rakPayee.schedule.noOfInstanceLeft}}</span>
								</p>
						 
												
							 <corpapproval-input></corpapproval-input>
								<fin-dynamicauth></fin-dynamicauth>
		
					
				
				
				
				<div class="label-wrap">	
				 <button type="button"  class="btn--special-btn btn-middle rak-button-small" 
				 ng-click="rakPayee.schedule.clearSearchData();rakPayee.schedule.stopBtnClicked=true;setEvent('onStopTransferAuthConfirmClick');">  {{appLiterals.APP.RAK_PAYEE.HISTORY.SUBMIT}} </button>
			  </div>
          <div class="col-sm-1"> </div>
        </div> 
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>

