<div class="rak-back-header">
			<i class="rak-back-img" ng-click="setEvent('onBackClick')"></i>
		</div>
<div class="nano menu-scroll">
	<div class="nano-content">
<div class="finacle-container" ng-init="rakPayee.payCard.initScheduleTransferDetailsPage(successResponse.responsesList)">
  <div class="account-page">
    <div class="col-sm-11">
     <div class="app-title-wrapper">
       
     <div class="rak-back-header">
			<i class="rak-back-img" ng-click="setEvent('onBackClick')"></i>
		</div>
       
    
   <ng-include  src="'./navigation/rakPayee/resources/RakPayCardsTabPage.html'"> </ng-include>
		  <div class="rak-scroll">
      <div class="main-form-heading-ServiceReq">
                    	<h2 class="rakBenfHeader">{{appLiterals.APP.RAK_PAYEE.HISTORY.PMTDETAILS}}</h2>
            </div>
	
	 
		<div class="bg-color rak-cont-padding">      
		 
			<div class="row" >
			  <div class="">
			  
			  <p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REFID}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.txnReferenceId}}</span>
				</p>
				
				
				 <p class="rak-sum-txt"  ng-show="rakPayee.payCard.selectedCompltTxn.hostRefNo">
					<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.BANKTRANSACTIONID}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.hostRefNo}}</span>
				</p>
				
				
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FROM_ACCOUNT}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.displayAccount}}</span>
				</p> 

				<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.txnType!='OCP'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.TOACC}}</span> 
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.toAccount}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.txnType!='OCP' && rakPayee.payCard.selectedCompltTxn.txnType!='SVC'">				
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_BNF_NAME}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.beneficiaryName}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.txnType!='SVC'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PAYCARD_NUMBER}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.cardNumber}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.txnType=='SVC'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PPCARD_NUMBER}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.cardNumber}}</span>
				</p> 
				
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DATE}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.txnDate}}</span>
				</p>
				
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.TXN_AMOUNT}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.txnCurrency}} {{rakPayee.payCard.selectedCompltTxn.txnAmount}}</span>
				</p>
				
						<p class="rak-sum-txt" ng-show='rakPayee.payCard.debitAmt'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DEBITAMOUNT}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.debitAmt}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show='rakPayee.payCard.chargeInd' >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CHARGETYPE}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.chargeInd}}</span>
				</p>
				
						<p class="rak-sum-txt" ng-show='rakPayee.payCard.selPurpose'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PURPOSE}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selPurpose}}</span>
				</p>
				
			<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.freqType=='O'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}</span>
					<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.ONCE}}</span>
				</p>
				
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.freqType!='O'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.FREQ}}</span>
					<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.HISTORY.REC}}</span>
				</p>
				
				
			<!-- 	<p class="rak-sum-txt">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.STATUS}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.statusFromHost}}</span>
				</p> -->	
				<p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.STATUS}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedCompltTxn.txnStatus}}</span>
				</p>	
				
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.failReason" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REASON_FAILURE}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.failReason}}</span>
				</p>	
			<!-- 	
			 	<p class="rak-sum-txt" ng-show="rakPayee.payCard.selectedCompltTxn.txnStatus=='Under Processing'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.STATUS}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.statusFromHost}}</span>
				</p>	
				 -->
				
				 
				 <p class="rak-sum-txt" >
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.CHANNELNAME}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.channelId}}</span>
				</p>
				
				
				
				
				
				
				<p class="rak-sum-txt" ng-show='rakPayee.payCard.selectedReason'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REASON}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedReason}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPayee.payCard.selectedReason1'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedReason1}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPayee.payCard.selectedReason2'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedReason2}}</span>
				</p>
				<p class="rak-sum-txt" ng-show='rakPayee.payCard.selectedReason3'>
					<span class="rak-sum-label"></span>
					<span class="rak-sum-label black">{{rakPayee.payCard.selectedReason3}}</span>
				</p>
				 
				 
				<p class="rak-sum-txt" ng-show="rakPayee.payCard.requestedBy && rakPayee.payCard.txnStatus!='REJ'">
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.REQUESTED_BY}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.requestedBy}}</span>
				</p>
			
					<p class="rak-sum-txt" ng-show='rakPayee.payCard.approvedBy'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.APPROVED_BY}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.approvedBy}}</span>
				</p>
				
				 	<p class="rak-sum-txt" ng-show='rakPayee.payCard.userRemarks'>
					<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.USER_REMARKS}}</span>
					<span class="rak-sum-label black">{{rakPayee.payCard.userRemarks}}</span>
				</p>
				
				
			</div>
		  </div>
		  </div>
		  </div>
		</div>
	</div>
<div class="scroll-space"></div>
		</div>
<!-- partial code end here-->
