<div
	ng-init="rakHome.AuthPageData.firstAuthModeValue='';rakPayee.payBill.txnPwd='';rakPayee.payBill.initAuthPage(successResponse.responsesList);rakCorpInit.corpModel.processCorpInit(successResponse.responsesList);" >
	<div ng-show="rakPayee.payBill.balCheck== 'true'  && rakCorpInit.corpModel.backFlag=='N'">
		<div class="full-page-screen"></div>
		<div class="confirmation-content-container">
			<div class="message-box-new rakTop25">
				<div>
					<p class="round-icon-new">
						<span class="app app-alert pop-alert-icon rak-color"></span>
					</p>
					
				</div>
				<div class="conf-txt-label rak-black-color">
					{{rakPayee.payBill.poolBalMsg}}</div>
				<div class="conf-btn-wrap_alert rakpaddingBottom10">
					<button type="button"class="btn--special-btn btn-middle rak-button-small btn--back"
						ng-click='rakPayee.payBill.isBackfromConfirmPage=true;setEvent("onBackClick")'>&nbsp;
						{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDS_AUTHPAGE.BTN_CNL}}
						&nbsp;</button>
					<button type="button"
						class="btn--special-btn btn-middle rak-button-small"
						ng-click='rakPayee.payBill.balCheck="false";setEvent("onPoolBalanceConfirmation")'>
						&nbsp;
						{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDS_AUTHPAGE.BTN_YES}}
						&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="finacle-container ng-scope" ng-init="rakPayee.payBill.multiplePaymentConfirm(successResponse.responsesList);rakPayee.authMode.firstAuthModeValue = '';rakPayee.authMode.secAuthModeValue = '';">
        <div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab!='PIA'">
				<i class="rak-back-img"
					ng-click="rakPayee.payBill.isBackfromConfirmPage=true;rakPayee.isUserNavigatingBack=true;setEvent('onBackClick');"></i>
		</div>
		<div class="rak-back-header" ng-if="rakPendingApproval.pendingApprovalTab=='PIA'">
				<i class="rak-back-img"
					ng-click="rakPayee.payBill.isBackfromConfirmPage=true;rakPayee.isUserNavigatingBack=true;setEvent('onBackToModifyClick');"></i>
		</div>
		

    <div class="account-page">
		 <div class="col-sm-11">
			<div class="app-title-wrapper">
				 <ng-include ng-if="rakPendingApproval.pendingApprovalTab!='PIA'" src="'./navigation/rakPayee/resources/RakPayBillsTabPage.html'"> </ng-include>

				  <div class="rak-cont-padding rak-scroll">
				  
				<div class="main-form-heading-payee" ng-if="rakPendingApproval.pendingApprovalTab!='PIA'">
	                <h2>{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.MULTIPLEBILLPAY}}<span>{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2}} :{{appLiterals.APP.RAK_PAYEE.CONFIRMATION.STEP2_TXT1}} </span></h2>
	            </div>
	            
	            <div class="main-form-heading-ServiceReq" ng-if="rakPendingApproval.pendingApprovalTab=='PIA'"> 
				      <h2 class="rakBenfHeader">{{appLiterals.APP.RAK_COMMON.MODIFY_TRAN}}				     	     
				      </h2>		       
				 </div>

		  <div class="bg-color">
			<div class="rakWidth100Percent" >
			  <div class="">

			 <p class="rak-sum-txt">
				<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.PAYINGTO}}&nbsp;</span>
				<span class="rak-sum-label black">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.MULTIPLEBILLPAYMENTS}}</span>
			</p>

			<p class="rak-sum-txt">
				<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_FRM_ACC}}&nbsp;</span>
				<span class="rak-sum-label black">{{rakPayee.payBill.multiplePayFromAcctDisplayName}}</span>
			</p>

			<p class="rak-sum-txt">
				<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.MULTIPLEPAYAMOUNT}}&nbsp;</span>
				<span class="rak-sum-label black">{{rakPayee.payBill.multipleTotalSelectedAmount}}</span>
			</p>

			<p class="rak-sum-txt">
				<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.WHEN}}&nbsp;</span>
				<span class="rak-sum-label black">{{rakPayee.payBill.when}}</span>
			</p>

		
					<p class="rak-sum-txt" ng-show="rakCorpInit.corpModel.selectedRuleId && rakCorpInit.corpModel.apprRoleId">
					<span class="rak-sum-label ng-binding">Approver Name</span>
					<span class="rak-sum-label black ng-binding">{{rakCorpInit.corpModel.apprRoleId}}</span>
				</p>	
				
					  <div ng-init='rakBillerFlag=false;' class="col-sm-11">
		  	<span class="rakCardIcoSuppli"  ng-class="{'rakCardIcoSuppliExpnd':rakBillerFlag}"  ng-click="rakBillerFlag=!rakBillerFlag" >{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.VIEW_BILLERS}}</span>
		  </div>

				<div ng-show='rakBillerFlag'>
						<span class="rak-multiplepay-viewBillerHeading">{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.BILLERS_ADDED}}</span>
							<div class="money-block rakBottomZero">
						         <ul>
						            <li  class="active rak30 rakPaddingPoint8em" >
						           {{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.PAYEE}}</li>
						           <li class="active rak30 ">
						           {{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.CONSUMER_NUM}}</li>
						            <li class="active rak30 ">
						            {{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.AMT_PAYING}}</li>
						            <li class="active rak10 ">&nbsp;</li>
						         </ul>
						 	</div>



						 
					            <div class="" >


									<div class="trans-detail rakGreyRow" ng-repeat="biller in rakPayee.payBill.selectedOutStandingAmtList">

					                  	<div class="trans-dash-right rakPeopleNameRow1  rak30  rakPaddingPoint8em pull-left">
					                   		<div>
					                    <div class="trans-no rakTextCenter rakFont1em">
					                    {{biller.billerName}}
					                    </div>
					                    </div>

					                    </div>

					                  <div class="trans-dash-right rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em" >
					                  <div>
					                    <div class="trans-no rakTextCenter rakFont1em">
					                    {{biller.conCode}}
					                    </div>
					               </div>
					                  </div>


					                  <div class="trans-dash-left rakPeopleNameRow1  rak30 pull-left rakPaddingPoint8em">
					                    <div>
					                    <div class="trans-no rakTextCenter rakFont1em">
					                    {{rakPayee.payBill.getMultipleUpdateAmount[$index]}}
					                    </div>
					                  </div>

					                  </div>
				

								</div>
					           
					         </div>
					
						</div>
					</div>



<div >
 					<div ng-if="rakCorpInit.corpModel.ruleCount>0">
		<div ng-if="rakCorpInit.corpModel.ruleCount>1">
						
						
						<div class="disclaimer3" ng-hide="rakCorpInit.corpModel.selectedRuleDescription">
					 <span class="black" ng-bind-html="appLiterals.APP.DISCLAIMER.RAK_OVERLAPPINGRULE"></span> 
                       <!--  <span ng-click="rakCorpInit.corpModel.setOverlapping();" class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span> -->
				</div>
				
					<div>
										<fin-input type="text_noEdited" id="BeniF"
											model="rakCorpInit.corpModel.selectedRuleDescription"
											display-row="full"
											placeholder="Select Rule"
											ng-click="rakCorpInit.corpModel.setOverlapping();"
											validation-flag='pageErrorArr["rakCorpInit.corpModel.selectedRuleDescription"]' readonly>
										</fin-input>
									</div> 
			</div>
			
			
				
						<div>
						</div>
						   <div class="fin-txt"></div>

			<div ng-show="rakCorpInit.corpModel.selectedRuleId && rakCorpInit.corpModel.roleSelectedFlag=='N'">
			<div class="disclaimer3" ng-hide="rakCorpInit.corpModel.apprRoleId">
					 <span class="black" ng-bind-html="appLiterals.APP.DISCLAIMER.RAK_OVERLAPPINGRULE1"></span> 
                       <!--  <span ng-click="rakCorpInit.corpModel.setOverlapping();" class="hyperLinkRed">{{appLiterals.APP.DISCLAIMER.CLICK}}</span> -->
				</div>
				</div>
				
		
			<div class="label-wrap">
			<button type="button" class="btn--special-btn btn-middle rak-button-small btn--back" ng-click="rakCorpInit.corpModel.roleSelectedFlag='N';rakHome.AuthPageData.approvalLookUpClick='Y';setEvent('onCorpGetLookUpClick');"> {{appLiterals.APP.CORPORATE.SELECTAPPR}}</button>
			</div>
			</div>
			
		
			

				
							</div>
							<!--  <corpapproval-input></corpapproval-input> -->
							

				<fin-dynamicauth class="noFocus"></fin-dynamicauth>
	

            <div class="label-wrap" >
			<button type="button" class="btn--special-btn btn-middle rak-button-right" ng-if="rakPendingApproval.pendingApprovalTab!='PIA'" ng-click="rakHome.AuthPageData.fetchOtp('onMultiplePaymentSubmitClick');">
			{{appLiterals.APP.PAYEE.ADDBENF_AUTHPAGE.BTN_CNFRM}}</button>
			<button type="button" class="btn--special-btn btn-middle rak-button-right" ng-if="rakPendingApproval.pendingApprovalTab=='PIA'" ng-click="rakHome.AuthPageData.fetchOtp('onModifyMultipleIncompPayBillNowSubmit');">
			{{appLiterals.APP.PAYEE.ADDBENF_AUTHPAGE.BTN_CNFRM}}</button>
            </div>

            <div class="col-sm-1"> </div>
            
            <div class="disclaimer">
                         <div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
                                         <h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
                         </div>

                         <div class="disclaimer3" ng-show="rakDisclaimerFlag">
                                         <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKMULTIPLEBILLS_CONF"></div>
                                          <div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.RAKMULTIPLEBILLS_CONF_NEW"></div>
                         </div>
                 </div>
		  </div>
	  </div>

	  </div>
	</div>
</div>
</div>
</div>
</div>
