	<div class="rak-back-header">
			<i class="rak-back-img" ng-click="setEvent('onViewSchTxnBackClick');"></i>
		</div>
<div class="nano menu-scroll">
	<div class="nano-content">

		<div class="finacle-container"
			ng-init="rakPayCards.schedule.initSchedulehistoryDetails(successResponse.responsesList);">
			<div class="account-page">
				<div class="col-sm-11">
					<div class="app-title-wrapper">
						<ng-include
							src="'./navigation/rakPayee/resources/RakPayCardsTabPage.html'">
						</ng-include>


						<div class="tab-links">
							<ul>
								<li
									ng-click="rakPayCards.schedule.clearSchedulePayCardsData();rakPayCards.ownCards.clearOwnCardsData();setGlobalEvent('onRakPayeeHistoryTabClick');"><span>{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_HISTORY}}</span></li>
								<li class="active"><span class="active">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_SCHEDULE}}</span></li>
							</ul>
						</div>

						<div class="rakSubScrollDiv">
							
			<div class="main-form-heading-ServiceReq">
                    	 	<h2 class="rakBenfHeader">{{appLiterals.APP.RAK_PAYEE.HISTORY.PMTDETAILS}}</h2>
            </div>

							<div class="bg-color rak-cont-padding">
								<div class="row">
									<div class="">

										<p class="rak-sum-txt">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REFRID}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.txnReferenceId}}</span>
										</p>
										
										
										<p class="rak-sum-txt" ng-if="rakPayCards.schedule.schTxnListSubmitBtn=='STOP' && rakPayCards.schedule.selectedTxn.txnType!='NCP'
										&& rakPayCards.schedule.selectedTxn.txnType!='WCP'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TRANSACTION_TYPE}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.txnTypeDesc}}</span>
										</p>
										
										
										<p class="rak-sum-txt" ng-if="rakPayCards.schedule.schTxnListSubmitBtn=='STOP' && (rakPayCards.schedule.selectedTxn.txnType=='WCP'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TRANSACTION_TYPE}}
											</span> <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.WCP}}</span>
										</p>
										
											<p class="rak-sum-txt" ng-if="rakPayCards.schedule.schTxnListSubmitBtn=='STOP' && rakPayCards.schedule.selectedTxn.txnType=='NCP'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TRANSACTION_TYPE}}
											</span> <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.NCP}}</span>
										</p>

										<p class="rak-sum-txt">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.FROMACCOUNT}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.displayAccount}}</span>
										</p>

										<p class="rak-sum-txt">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TOACC}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.toAccount}}</span>
										</p>
										
										<p class="rak-sum-txt">
											<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.RAK_INITIATE.RAK_BNF_NAME}}</span>
											 <span class="rak-sum-label black">{{rakPayCards.schedule.beneficiaryName}}</span>
										</p>

										<p class="rak-sum-txt" ng-if="rakPayCards.schedule.selectedTxn.txnType=='SVC'">
											<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PPCARD_NUMBER}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.cardNumber}}</span>
										</p>
										
										<p class="rak-sum-txt" ng-if="rakPayCards.schedule.selectedTxn.txnType!='SVC'">
											<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.PAYCARD_NUMBER}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.cardNumber}}</span>
										</p>
										
										<p class="rak-sum-txt">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.AMOUNT}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.txnCurrency}}
												{{rakPayCards.schedule.selectedTxn.txnAmount}}</span>
										</p>
										
										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.debitAmount && rakPayCards.schedule.schTxnListSubmitBtn!='STOP'">
											<span class="rak-sum-label">{{appLiterals.APP.RAK_PAYEE.HISTORY.DEBITAMOUNT}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.debitAmount}}</span>
										</p>


								<p class="rak-sum-txt" ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!=='O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.DATE}}
									</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.txnDate}}</span>
								</p>
								<p class="rak-sum-txt" ng-show="rakPayCards.schedule.selectedTxn.txnFrequency=='O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.TDATE}}
									</span> <span class="rak-sum-label black">{{rakPayCards.schedule.selectedTxn.txnDate}}</span>
								</p>
									
										


										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnFrequency=='O'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.FREQ}}
											</span> <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.ONCE}}</span>
										</p>

										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!=='O'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.FREQ}}
											</span> <span class="rak-sum-label black">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.REC}}</span>
										</p>
										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!='O'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.FREQVALUE}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.recFreq}}</span>
										</p>
										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!='O'">
											<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.NOOFRECINSTANCE}}
											</span> <span class="rak-sum-label black">{{rakPayCards.schedule.installments}}</span>
										</p>
									<p class="rak-sum-txt" ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!='O'">
									<span class="rak-sum-label">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.NOOFTRANSFERLEFT}}
									</span> <span class="rak-sum-label black">{{rakPayCards.schedule.noOfInstanceLeft}}</span>
								</p> 
										
					
										

										<p class="rak-sum-txt"
											ng-show="(rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OUTSIDEUAE || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE) && rakPayCards.schedule.chargeInd">
											<span class="rak-sum-label">{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDS_AUTHPAGE.CHARGES}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.chargeInd}}</span>
										</p>


										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnType!=rakPayCards.TxnTypeConstant.RAKCARDS  && rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE && rakPayCards.schedule.selPurpose">
											<span class="rak-sum-label">{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDS_AUTHPAGE.PURPOSE}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.selPurpose}}</span>
										</p>


										<p class="rak-sum-txt"
											ng-show="(rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OUTSIDEUAE || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE) && rakPayCards.schedule.selectedReason">
											<span class="rak-sum-label">{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDS_AUTHPAGE.TXT_REASON}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.selectedReason}}</span>
										</p>



										<p class="rak-sum-txt"
											ng-show="(rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OUTSIDEUAE || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE) && rakPayCards.schedule.selectedReason1">
											<span class="rak-sum-label"></span> <span
												class="rak-sum-label black">{{rakPayCards.schedule.selectedReason1}}</span>
										</p>

										<p class="rak-sum-txt"
											ng-show="(rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OUTSIDEUAE || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE) && rakPayCards.schedule.selectedReason2">
											<span class="rak-sum-label"></span> <span
												class="rak-sum-label black">{{rakPayCards.schedule.selectedReason2}}</span>
										</p>

										<p class="rak-sum-txt"
											ng-show="(rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OUTSIDEUAE || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.WITHINUAE) && rakPayCards.schedule.selectedReason3">
											<span class="rak-sum-label"></span> <span
												class="rak-sum-label black">{{rakPayCards.schedule.selectedReason3}}</span>
										</p>




										<p class="rak-sum-txt"
											ng-show="rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.RAKCARDS || rakPayCards.schedule.selectedTxn.txnType==rakPayCards.TxnTypeConstant.OWNCARDS">
											<span class="rak-sum-label">{{appLiterals.APP.RAKPAYCARDS.RAKPAYCARDSINITPAGE.REMARKS}}</span>
											<span class="rak-sum-label black">{{rakPayCards.schedule.selectedReason}}</span>
										</p>


									</div>
									
						<div ng-show="rakPayCards.schedule.stoppedTxnList.length > 0">
							
							<div class="main-form-heading-ServiceReq">
				                    	<h2 class="rakBenfHeader">Stopped Transactions</h2>
				            </div>

								<div class="money-block rakBottomZero">
									<ul>
										<li class="active rak50 rakPaddingPoint8em">
											{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.INSTANCE}}</li>
										<li class="active rak50 ">
											{{appLiterals.APP.RAK_TABLE_DATA.HEADINGS.STATUS}}</li>
										
									</ul>
								</div>


								<div class="nano rakHalfScrollDiv rak-cont-paddingvh">
									<div class="">


										<div class="trans-detail rakGreyRow rakMinHeightZero"
											ng-repeat="stopTxn in rakPayCards.schedule.stoppedTxnList">
											<div
												class="trans-dash-left rakPeopleNameRow1  rak50 pull-left ">
												<div>
													<div class="trans-no rakTextCenter rakFont1em">
														{{stopTxn.instanceDate}}</div>
												</div>
											</div>

											<div
												class="trans-dash-right rakPeopleNameRow1  rak50 pull-left">
												<div>
													<div class="trans-no rakTextCenter rakFont1em">
														{{stopTxn.status}}</div>
												</div>
											</div>

										</div>
									</div>
									
							<div class="label-wrap" ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!='O' &&
							rakPayCards.schedule.schTxnListSubmitBtn=='STOP'">					
								<!--  <button type="button" class="btn--special-btn btn-middle rak-button-small "
								 ng-click="rakPayCards.schedule.freqType='R';rakPayCards.schedule.stopBtnClicked=false;setEvent('onStopTransferImmediateClick');">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOPINSTANCE}}</button> -->
								 
								 <button type="button"  class="btn--special-btn btn-middle rak-button-small" 
								 ng-click="rakPayCards.schedule.freqType='R';rakPayCards.schedule.stopBtnClicked=false;setEvent('onStopTransferCompleteClick');">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOPCOMPLETE}}</button>
						  </div>
						</div>
					</div>

					<div ng-hide="rakPayCards.schedule.stoppedTxnList.length > 0">
							<div class="label-wrap" ng-show="rakPayCards.schedule.selectedTxn.txnFrequency!='O' &&
							rakPayCards.schedule.schTxnListSubmitBtn=='STOP'">					
								<!--  <button type="button" class="btn--special-btn btn-middle rak-button-small "
								 ng-click="rakPayCards.schedule.freqType='R';rakPayCards.schedule.stopBtnClicked=false;setEvent('onStopTransferImmediateClick');">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOPINSTANCE}}</button> -->
								 
								 <button type="button"  class="btn--special-btn btn-middle rak-button-small" 
								 ng-click="rakPayCards.schedule.freqType='R';rakPayCards.schedule.stopBtnClicked=false;setEvent('onStopTransferCompleteClick');">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOPCOMPLETE}}</button>
						  </div>
						</div>

						</div>
					</div>
				</div>
			</div>
			<div class="scroll-space"></div>
		</div>
	</div>
</div>

