.left-line-center {
    width: 25.7%; }

.right-line-center {
    width: 25.7%; }

.line-big {
    width: 27.6%; }

.line-small {
    width: 11.9%; }

.input-width-var {
    width: 86%; }

.input-width-var-date {
    width: 79%; }

.input-width-var-date2 {
    width: 86%; }

.otp-width-var {
    width: 53%; }

.cal-marign-var {
    margin-top: -1.5em; }

.reg-login-button-margin {
    margin-right: 30px; }

.reg-login-text-margin {
    margin-left: 2.5em; }

@media screen and (width: 384px) {
    .left-line-center {
        width: 26.4%; }

    .right-line-center {
        width: 26.4%; }

    .line-big {
        width: 28.5%; }

    .line-small {
        width: 11.3%; }

    .otp-width-var {
        width: 52%; } }
@media screen and (width: 375px) {
    .scroll-height {
        height: 32em $imp; }

    .ac-popup {
        bottom: -0.8em $imp; }

    .ac-popup1 {
        bottom: -8.7em $imp; }



    .sche-scroll {
        height: 40em $imp; }

    .landing-scroll, .movemoney-scroll {
        height: 48.9em $imp; }

    .benif-scroll {
        height: 50em $imp; }

    .scroll-height3 {
        height: 49em $imp; } }

/*ipad Media query*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.col-sm-10, .col-sm-1{
	width: 100% $imp;
}
.padding-iauto{
	padding: 0 1.5em $imp;
}
.app_logo_wrap{
	margin: 0 0 0 21em $imp;
}
.menu-height-adjust2{
	top: 0 $imp;
}
.menu-list{
	margin: -1em 0 0;
}

.content-scroll{
	height: 52.5em $imp;
}
.service-scroll, .service-scroll1 {
	height: 80em $imp;
}
.text-box{
	width: 85%;
}
.login-input-style {
	width: 100%;
}
.dashboard-pad{
	clear: both;
}
.future-cont{
	padding: 0 $imp;
}
.account-detail-dash{
	border-bottom: solid 0.2em #dbe3e7 $imp;
}
.trans-detail:last-child, .account-detail-dash:last-child {
    border: none $imp;
}
.paddind-i14{
	padding: 1.4em $imp;
}
.trans-detail{
	border-bottom: solid 0.2em #dbe3e7 $imp;
}
.margin-izero{
	margin: 0 $imp;
}
.width95{
	width: 95% $imp;
}


.ac-popup, .ac-popup1{
	height: 97.2em;
}
.app-future, .app-future2, .app-future1, .app-future-search {
	clear: both;
	border-bottom: solid 0.3em #dbe3e7 $imp;
	height: 5em $imp;
}
.app-future .fut-txt{
	line-height: 2.7em $imp;
}
.app-future .fut-txt1{
	line-height: 2.7em $imp;
}
.app-dash-details{
	width: 6.5% $imp;
}
.service-item-title, .refer-item-title {
    margin: 0 0 -0.1em $imp;
    clear: both;
}



.text_area{
	width: 96% $imp;
}

.body-finacle .bg-color{
	background-color: #fff;
    padding: 0 0.07em 0 0;
    float: $left;
    width: 100% $imp;
}
.bank-hr, .service-hr, .app-hr{
	width: 96% $imp;
}
.movemoney-scroll {
    height: 86.5em $imp;
}
.app-sche-details {
    width: 13.6% $imp;
}
.sche-scroll {
    height: 73.5em $imp;
}
.cheque-view-img{
	width: 100% $imp;
}
.pop-cheque-img{
	width: 100% $imp;
    margin-top: 39% $imp;
    margin-left: 0% $imp;
}
.payee-circle-img {
	border: solid 0.2em #efefef $imp;
}
.fixed-wrap{
	height: 53em $imp;
}
.service-hr{
	border-top: solid 0.2em #dbe3e7 $imp;
}
.login-form{
	margin: 6.7em 0 0;
}
.next-stage, .sucs-stage, .sucs-stage-next{
	border: 0.2em solid gray $imp;
}
}
@media screen and (width: 360px) {
    .left-line-center {
        width: 24.5%; }

    .right-line-center {
        width: 24.5%; }

    .line-big {
        width: 27.1%; }

    .line-small {
        width: 11.9%; }

    .otp-width-var {
        width: 47%; }

    

    


    .ac-popup {
        bottom: -1em $imp; }

        .message-box-new {
        top: 32.8% $imp; }

    .ac-popup1 {
        bottom: -6em $imp; }

    .app-dash-details{
        width: 15.5% $imp;
    }
    .app-sche-details{
        width: 29.5% $imp;
    }
    .scroll-height {
        height: 29.5em $imp; }

    .service-height {
        height: 43em $imp; }

    .landing-scroll {
        height: 38.3em $imp; }

    .movemoney-scroll {
        height: 45.2em $imp; }

    .sche-scroll {
        height: 36.5em $imp; }

    .scroll-space {
        padding-top: 11em $imp;
        clear: both;
    }
    .service-scroll{
    	height: 42.8em $imp;
    }

    .service-scroll1{
    	height: 38.8em $imp;
    }


    .benif-scroll {
        height: 45em $imp; }

    .scroll-height3 {
        height: 45.2em $imp; }

    #marker-info {
        top: 29.4em $imp; }

    .scroll-space {
        padding-top: 11em $imp;
        clear: both;
    }
    .ben-ss{
        padding-top: 6em $imp;
        clear: both;
    }
    .btn--third-btn{
        width: 50% $imp;
    }

    .reg_toggle_wrap {
        margin-left: -2.5em; }
    
       .notif-list{
	    padding: 7em 0em 20em 0;
		}
		.fotorama__stage {
    height: 48em $imp;
		}
 }






@media screen and (width: 320px) {
  
  .loan-amts-wrap{white-space: nowrap;
    width: 50%;
    text-overflow: ellipsis;
    overflow: auto;
    display: inline-block;}
  .balance-detail{
    padding: 0 0 1em 0;
  }
  .app-user-detail {
	width: 23.5em !important;
  }
  .finInput_checkbox {
    width: 88%;
}
	.iph-pend{
	    font-size: 0.7em;
    float: $right;
    padding-right: 0.5em;
	}
	.pending-amt{
		width: 33% $imp;
	}
	.app-help-icon {
		margin-right: -0.25em $imp;
	}
	
    .navbar-height-adjust {
        height: 6em; }

    .navbar-brand-adjust {
        top: 2em; }

    

    .navbar-burger-adjust {
        margin-top: 0em; }

    .left-line-center {
        width: 21.1%; }

    .right-line-center {
        width: 21.1%; }

    .line-big {
        width: 23.4%; }

    .line-small {
        width: 11.9%; }

    .input-width-var {
        width: 84%; }

    .input-width-var-date {
        width: 76%; }

    .input-width-var-date2 {
        width: 84%; }

    .otp-width-var {
        width: 38%; }

    .reg-login-button-margin {
        margin-right: 10px; }

    .reg-login-text-margin {
        margin-left: 0.5em; }

    .reg-toggle-button-margin {
        margin-left: -2.5em; }

    .reg-toggle-text-margin {
        margin-left: 1em; }

    .app_logo_wrap{
        margin: 0 0 0 8em $imp;}

    .drop-list-arrow, .drop-list-arrow-pp { margin-right: 0.5em $imp;}
    .drop-list-arrow .app-arrow3{ font-weight: bold $imp;}
    .drop-list-arrow-pp .app-arrow3{ font-weight: bold $imp;}

    .message-box-new {
        top: 32% $imp; }

    .conf-txt-title {
        font-weight: normal $imp; }

    .conf-txt-label{
        font-weight: bold $imp; }

    .ac-popup {
        bottom: -2.3em $imp; }

    .ac-popup1 {
        bottom: -1em $imp; }

    .popup-msg-wrap{ top: 20.5% $imp;}

    .label-title-ellipsis1 {
        font-weight: bold $imp;
        padding: 1em 1em 1em 0;
    }

    .scroll-height3 {
        height: 39em $imp; }

    .scroll-space {
        padding-top: 35em $imp;
        clear: both; }

    .ben-ss{
        padding-top: 6em $imp;
    }

    .ac-num {
        font-weight: 400 $imp; }

    .item-title {
        font-weight: normal $imp; }


    .trans-add-wrap1 {
        bottom: 15em $imp; }
    .loc-km-wrap{ width: 80% $imp;}

    #marker-info {
        bottom: 0; }

    .menu-list {
        margin: 0 $imp; }
    #map-wrapper{height: 489px $imp;}
    .i-mail{
        width: 90% $imp;
        float: $left;
    }
    .i-trash{
        width: 10% $imp;
        padding-top: 1em;
        right: 0 $imp;
        margin-top: 0 $imp;
    }
		.pending-lists{
			width: 70% $imp;
		}
}
@media screen and (min-width: 720px) {
    .left-line-center {
        width: 24.5%; }

    .right-line-center {
        width: 24.5%; }

    .line-big {
        width: 27.1%; }

    .line-small {
        width: 11.9%; }

    .otp-width-var {
        width: 47%; } }
/* SCREEN CSS START HERE */
.scroll-height {
    height: 29em; }

@media screen and (width: 320px) and (height: 480px) {
    body {
        width: 320px;
        height: 480px; }
		.app-user-detail {
	width: 23.5em !important;
  }
    .scroll-height {
        height: 20.5em $imp; }

    .angular-google-map-container {
        height: 41.6em; }

    .map-canvas {
        height: 41.6em; } }
@media screen and (width: 320px) and (height: 568px) {
    body {
        width: 320px;
        height: 568px; }
		.app-user-detail {
	width: 23.5em !important;
  }
    .scroll-space {
        padding-top: 12em $imp;
        clear: both; }

    .scroll-height {
        height: 20.5em $imp; }

    .scroll-space{
        padding-top: 12em $imp;
        clear: both; }

    .angular-google-map-container {
        height: 50.4em; }

    .map-canvas {
        height: 50.4em; }

    .landing-scroll {
        height: 31.5em $imp; } }
/*Nexus Phone Query*/
@media screen and (width: 360px) and (height: 567px) {
    body {
        width: 360px;
        height: 567px; }

		.app-user-detail {
	width: 23.5em !important;
  }
    .scroll-height {
        height: 29em; }

    .angular-google-map-container {
        height: 50.3em; }

    .map-canvas {
        height: 50.3em; }

    .scroll-space {
        padding-top: 11.5em $imp;
        clear: both;	}
    .landing-scroll {
        height: 33.5em $imp;}
    .movemoney-scroll {
        height: 40.4em $imp;}
    .message-box-new {
        top: 31.8% $imp; }


    .service-scroll{
    	height: 37.8em $imp;
    }

    .service-scroll1{
    	height: 36.8em $imp;
    }
    .benif-scroll{ height: 40em $imp;}
    .scroll-height3{ height: 40.4em $imp;}
    #marker-info {
        top: 24.6em $imp; }
    .mail-scroll{
        height: 43.5em $imp; }
    

}
/* iphone 6 plus */
@media screen and (width: 414px) and (height: 736px) {
    body {
        width: 414px;
        height: 736px; }

    .scroll-height {
        height: 410px $imp; }

    .angular-google-map-container {
        height: 67.2em; }

    .map-canvas {
        height: 67.2em; } }
@media screen and (width: 375px) and (height: 667px) {
	body {
		width: 375px;
		height: 667px;
	}

	.scroll-height {
		height: 32em $imp;
	}

  .angular-google-map-container { height: 60.3em; }
  .map-canvas { height: 60.3em; }

}
/* iphone 6 plus */
@media screen and (width: 414px) and (height: 736px) {
	body {
		width: 414px;
		height: 736px;
	}

	.scroll-height {
		height: 410px $imp;
	}

  .angular-google-map-container { height: 67.2em; }
  .map-canvas { height: 67.2em; }
}
@media screen and (width: 360px) and (height: 640px) {
	body {
		width: 360px;
		height: 640px;
	}

	.scroll-height {
		height: 29em $imp;
	}

  .angular-google-map-container { height: 57.6em; }
  .map-canvas { height: 57.6em; }
}
@media screen and (width: 384px) and (height: 640px) {
	body {
		width: 384px;
		height: 640px;
	}

	.scroll-height {
		height: 320px $imp;
	}

  .angular-google-map-container { height: 57.6em; }
  .map-canvas { height: 57.6em; }
}
@media screen and (width: 360px) and (height: 512px) {
	body {
		width: 360px;
		height: 512px;
	}

	.scroll-height {
		height: 250px $imp;
	}

  .angular-google-map-container { height: 44.8em; }
  .map-canvas { height: 44.8em; }
}
@media screen and (width: 720px) and (height: 1024px) {
	body {
		width: 720px;
		height: 1024px;
	}

	.scroll-height {
		height: 405px $imp;
	}

  .angular-google-map-container { height: 89.6em; }
  .map-canvas { height: 89.6em; }
}
@media screen and (width: 720px) and (height: 1280px) {
	body {
		width: 720px;
		height: 1280px;
	}

	.scroll-height {
		height: 640px $imp;
	}

  .angular-google-map-container { height: 115.2em; }
  .map-canvas { height: 115.2em; }
}
@media screen and (width: 768px) and (height: 1280px) {
	body {
		width: 768px;
		height: 1280px;
	}

	.scroll-height {
		height: 640px $imp;
	}

  .angular-google-map-container { height: 115.2em; }
  .map-canvas { height: 115.2em; }
}
@media screen and (width: 540px) and (height: 960px) {
	body {
		width: 540px;
		height: 960px;
	}

	.scroll-height {
		height: 480px $imp;
	}

  .angular-google-map-container { height: 83.2em; }
  .map-canvas { height: 83.2em; }
}
@media screen and (width: 270px) and (height: 480px) {
	body {
		width: 270px;
		height: 480px;
	}

	.scroll-height {
		height: 240px $imp;
	}
  .angular-google-map-container { height: 41.6em; }
  .map-canvas { height: 41.6em; }
}
@media screen and (width: 320px) and (height: 533px) {
	body {
		width: 320px;
		height: 533px;
	}

	.scroll-height {
		height: 285px $imp;
	}
  .angular-google-map-container { height: 46.9em; }
  .map-canvas { height: 46.9em; }
}
@media screen and (width: 480px) and (height: 854px) {
	body {
		width: 480px;
		height: 854px;
	}

	.finInput_checkbox {
    width: 88%;
}

	.scroll-height {
		height: 425px $imp;
	}
  .angular-google-map-container { height: 79em; }
  .map-canvas { height: 79em; }
}
@media screen and (width: 1080px) and (height: 1920px) {
	body {
		width: 1080px;
		height: 1920px;
	}

	.scroll-height {
		height: 960px $imp;
	}

  .angular-google-map-container { height: 166.4em; }
  .map-canvas { height: 166.4em; }
}
//finacle css
.menu-height-adjust {
	height: 100%;
}

	.date-margin-top {
		margin-top: -0.5em;
	}

@media screen and (min-width: 720px) {
	.date-margin-top {
		margin-top: 0;
	}
}

@media screen and (height: 320px) {
	.body-finacle {
		height: 320px;
	}

.menu-height-adjust {
	height: 320px;
}

}

@media screen and (height: 1024px) {
	.body-finacle {
		height: 1024px;
	}

.menu-height-adjust {
	height: 1024px;
}

}

@media screen and (height: 1280px) {
	.body-finacle {
		height: 1280px;
	}

.menu-height-adjust {
	height: 1280px;
}

}

.login-register-vgap {
	margin-top: 90px;
}

@media screen and (width: 375px) and (height: 667px) {
.login-register-vgap {
	margin-top: 90px;
}
}

@media screen and (width: 1080px) and (height: 1920px) {
.login-register-vgap {
	margin-top: 60px;
}
}
.angular-google-map-container { height: 35em; }

.map-canvas { height: 35em; }


.map-grad {
  background: -webkit-linear-gradient(black, transparent); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, transparent); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, transparent); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, transparent); /* Standard syntax */
  opacity: 0.5;
}


::-webkit-scrollbar {
    display: none;
}


@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* SCREEN CSS END HERE */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: $left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: $left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}



/*Ipad, Tab Media Query For Landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape), (min-width: 1200px), (min-device-width: 1280px) 
and (max-device-height: 800px) 
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : landscape)   {
      .finacle-container {
            margin-left: 28em !important;
      }
      .md-sidenav-left {
            position: absolute !important;
      }
      .befor-login-wrpper {
            /* width: 76em !important; */
            width: 101em !important;
            float: right !important;
      }
      .burger-grid {
            visibility: hidden;
      }
      .app-arrow2.title-right-dash,.app-arrow2.title-right {
            left: 10em !important;
      }
      .account-detail-wrap {
            /* padding: 2% 2% 0em !important; */
            padding: 3% 3% 1em !important;
      }
      .dash-ac-num {
            padding: 0 0 2% 0 !important;
      }
      .balance-detail::before,.balance-detail1::before {
            padding: 2% 0 0 0 !important;
      }
      .balance-detail,.balance-detail1 {
            padding-bottom: 1% !important;
      }
      .befor-login-wrpper {
            height: 45px
      }
      .login-logo {
            height: 140px;
            left: -4em;
            right: initial;
            margin: auto;
            top: 150px;
            visibility : hidden;
      }
      .menu-list {
            margin: 0 0 0 0;
            clear: both;
            width: 100%;
            display: inline-block;
            padding: 0;
            overflow: auto;
            position: relative;
            top: 3em;
                max-height: 36em;
      }
      .forgot-user-pwd-wrap {
            margin-left: 28em !important;
      }
      .app-user-detail {
            position: absolute;
            margin-top: -65px;
            z-index: 89;
      }
      .login-form-container {
            margin: 72px 0px 0 0 !important;
      }
      .user-img {
    height: 15em;
    border-radius: 50%;
    border: none;
    width: 15em;
    margin: 3em auto;
      }
      .app-profile-wrapper{
      height:0px !important;
	  padding: 0;
      }

	  .resp-logo-image {
	display: block;
}

.body-finacle {
    font-size: .8em;
	}
	md-sidenav {
		 z-index: 88 !important;
	}

	.app-user-img {
    display: none;
	}

	.app-user-img.tab-profile-pic {
		display: block;
    margin: 1.5em auto;
    font-size: 3em;
	}
	md-dialog.selectImageBck {
		min-width: 40% !important;
	}

	.navbar-fixed-top {
		height: 5em;
	}

	.item-title {
		    line-height: 3em;
	}
	.finacle-container {
		padding-top: 5em;
	}


	.item-arrow-left, .item-arrow-right {
		    width: 70px;
    height: 70px;
	}

	.item-arrow {
    font-size: 37px;
	height: 36px;
	}
	.locate-contact-wrap {
    margin: -2em 0 0 0;
	}

	.sticky-footer, .sticky-footer-block {
		    margin-left: 28em;	
	}

	.new_user {
		bottom: -32px;
	}

}

@media only screen and (min-width: 1200px) { 
	.menu-list {
		    max-height: 38.3em;
	}
}

@media only screen and (min-device-width: 1280px) 
and (max-device-height: 800px) 
and (min-resolution: 192dpi)
and (-webkit-device-pixel-ratio:2)
and (orientation : landscape) 	 {
	.befor-login-wrpper {
		height: 5em;
	}
	.locate-contact-wrap {
margin: -34px 00 0;
z-index: 70;
position: relative;
}
	.login-form-container {
	margin: 0 !important;
	}
	.user-img {
		width: 12em;
		margin: 2em auto 0em;
	}
	.menu-list {
		top: 0em;
max-height: 37em;
	}

	.menus--menu-wrap {
		background-color: #034071;
	}
}
/*Ipad, Tab Media Query For Landscape */