	<div class="applePayDiv">

		<h1 class="applePayMainHeading">
			Set up your RAKBANK Mastercard <br />
			with Apple Pay now!
		</h1>

		<div class="applePayImg1"  ></div>

		<a  class="applePaySubHeading">
			<div class="applePayImg2"  ></div>
		</a>

		<p style="font-size: 13px;font-family: Helvetica, Arial;">
			Add your RAKBANK Mastercard Credit and Debit <br />
			Card and use Apple Pay to make easy and <br />
			secure payments
		</p>

		<a  class="appleGetStart" ng-click="rakHome.canMakePayments();showSplashFlag=false;" >Get Started</a>
		<br />
		<a  class="appleLater" ng-click='rakHome.disableApplePaySplash();'>I'll do it later</a>

	</div>