<div class="rak-back-header">
    <i class="rak-back-img" ng-click="rakCorpInit.corpModel.backFlag='Y';rakCorpInit.corpModel.resolveEventForLookUp(rakCorpInit.corpModel.eventName);"></i>
  </div>
    	<div class="finacle-container" ng-init="rakCorpInit.corpModel.roleSelectedFlag='N';rakCorpInit.corpModel.searchText='';rakCorpInit.corpModel.processRoleDetail(successResponse.responsesList)";>
	<div class="account-page">
		<div class="col-sm-11">
			<div class="app-title-wrapper">	
					 
			   <div class="form-block">
	<div class="">
	<div class="raksearch-field-wrap">
	 <p class="search-field"><span class="rakGlyphicon glyphicon-search"> </span>
        <input type="text" input-restricted-special-character placeholder="Search Approver" ng-model="rakCorpInit.corpModel.searchText" class="raksearch-txt">
      </p>
      </div>
			<div class="main-form-heading-payee rakSearchBorder"> 
		      <h2 >{{appLiterals.APP.CORPORATE.APPROVER_LOOKUP}}
		 	     
		      </h2>		       
		  </div>		 

	</div>
							    
         <div class="fin-txt"></div>
         <div class="bg-color rak-cont-padding">         
          <div class="money-block" ng-if="rakCorpInit.corpModel.userRoleDetails.length> 0">              
						         <ul>
						            <li  class="active rakwidth33Left" >
						            {{appLiterals.APP.CORPORATE.USERID}}</li>	
						              <li class="active rakwidth33Left">
						           {{appLiterals.APP.CORPORATE.USERNAME}}</li>					        
						           <li class="active rakwidth33Left">
						           </li>
						          <!--   <li class="active rak25">
						           {{appLiterals.APP.CORPORATE.OUTOFFICE}}</li> -->
						       
						            
						         </ul> 
						 	</div>
          			<div class="rakScrollDivHistory rak-cont-paddingvh" ng-class="{'rakScrollDivHistorySmall':rakTxnSearch}" ng-if="rakCorpInit.corpModel.userRoleDetails.length> 0">    
					            <div class="" >
					       
					               
									<div class="trans-detail rakGreyRow" ng-repeat="bank in filtered=(rakCorpInit.corpModel.userRoleDetails | filter:rakCorpInit.corpModel.searchText)">
						
									<!--  <div ng-click="rakPayee.payeeModel.selectedRoutingNumber=bank.bankRoutingNo;setEvent(rakPayee.getRakSearchEvent());" ng-model="rakPayee.payeeModel.selectedRoutingNumber"> -->
					                  	<div class="trans-dash-right rakPeopleNameRow1 rakwidth33Left  rakPaddingPoint8em pull-left">					                   		
					                   		<div> 
					                    <div class=" trans-no trans-noupDated rakFont1em">   
					                   {{bank.userId}}                  
					                    </div>
					                    </div>
					                                  
					                    </div>
					                    
					                    <div class="trans-dash-right rakPeopleNameRow1 rakwidth33Left pull-left rakPaddingPoint8em">					                   		
					                   		<div> 
					                    <div class="trans-no trans-noupDated rakFont1em">   
					                   {{bank.userName}}                  
					                    </div>
					                    </div>
					                                  
					                    </div>
					                    
					                    
					                <!--  <div class="trans-dash-left rakPeopleNameRow1 rak25 pull-left rakPaddingPoint8em" >					                
					                  <div> 
					                    <div class="trans-no rakFont1em">   
					                        {{bank.roleDesc}}             
					                    </div>
					               </div> 
					                  </div>  -->
					                    
					                    
					                  <div class="trans-dash-left rakPeopleNameRow1 rakwidth33Left pull-left rakPaddingPoint8em">					                  
					                    <div> 
					                    <div class="trans-no trans-noupDated rakFont1em "> 
					                          <!-- <div>  {{bank.roleDesc}} </div> -->   <div class="rakupdatedHypLink" ng-click="rakCorpInit.corpModel.roleSelectedFlag='Y';rakCorpInit.corpModel.apprRoleId=bank.userId;rakCorpInit.corpModel.apprRoleDesc=bank.roleDesc;rakCorpInit.corpModel.backFlag='Y';rakCorpInit.corpModel.resolveEventForLookUp(rakCorpInit.corpModel.eventName);" >Select</div>      
					                    </div>
					                  </div> 
					                        
					                  </div>
					               <!--    
					                  <div class="trans-dash-left rakPeopleNameRow1 rak25 pull-left rakPaddingPoint8em">					                  
					                    <div> 
					                     <div class="trans-no rakFont1em" ng-click="rakCorpInit.corpModel.apprRoleId=bank.userId;rakCorpInit.corpModel.apprRoleDesc=bank.roleDesc;rakCorpInit.corpModel.backFlag='Y';rakCorpInit.corpModel.resolveEventForLookUp(rakCorpInit.corpModel.eventName);" > 
					                       select            
					                    </div>
					                   <div class="trans-no rakFont1em"> 
					                 {{bank.userName}}  <div class="raknew_user" ng-click="rakCorpInit.corpModel.apprRoleId=bank.userId;rakCorpInit.corpModel.apprRoleDesc=bank.roleDesc;rakCorpInit.corpModel.backFlag='Y';rakCorpInit.corpModel.resolveEventForLookUp(rakCorpInit.corpModel.eventName);" >select</div>                 
					                    </div> 
					                  </div> 
					                        
					                  </div> -->
				
					        <!--      </div> -->
					             </div>
					             			<div ng-show="filtered.length=='0'">

							<div class="summary-ServiceReq">
								<div class="iconDivNorecord">
									<span class="infoIcon"></span><span class="success">The applicable users are not linked to any applicable roles in the selected rule for the entered criteria.</span>
								</div>
							</div>
						</div>
					              </div> 
					              			
			
			</div>
			
		<!-- 	<div class="disclaimer" ng-if="rakPayee.bankDetails == undefined">
							<div class="disclaimer1 rakSupplCardIco" ng-class="{'rakSupplCardIcoExpnd':rakDisclaimerFlag}"  ng-click="rakDisclaimerFlag=!rakDisclaimerFlag">
											<h3 class="disclaimer2">{{appLiterals.APP.DISCLAIMER.HEADER}}</h3>
							</div>

							<div class="disclaimer3" ng-show="rakDisclaimerFlag">
											<div class="disclaimer3"  ng-bind-html="appLiterals.APP.DISCLAIMER.ADDBENF_IFSC"></div>
							</div>
			</div> -->
              
						</div>
						
				</div>		
		
						
			
          </div>
         
     
   </div>
</div>
</div>
</div>
