<div ng-if="!isUserLoggedIn"
	ng-init="myProfile.password.currentPasswordType=myProfile.passwordType.Login;"></div>
<div ng-if="isUserLoggedIn"
	ng-init="myProfile.password.currentPasswordType=myProfile.passwordType.Login;myProfile.password.initPasswordStrengthRules(successResponse.responsesList);"></div>
<div class="full-height"
	ng-init="myProfile.password.hideLgnPasswordStrength=true">
	<div class="account-page full-height">
		<form class="dashboard-item-body full-height "
			ng-submit="register.checkEBLoginPasswordValidation()==true?setEvent('onEbankChannelPasswordSubmitClick'):'';">
			<div class="sticky-footer">
				<div class="dashboard-item-title col-sm-12 margin-bottom-20"
					layout="row" layout-align="center center" layout-wrap>
					<h2 class="md-headline item-title text-uppercase"
						id="registerEBPwdHeader" layout="row" layout-align="center center"
						layout-wrap>{{appLiterals.APP.REGISTER.REG_CHAN_PASS.HEADER}}</h2>
				</div>
				<div class="col-sm-12 lh13 margin-bottom-20" id="registerEBPwdTxt1">
					<div class="col-sm-12">
						<p class="fut-txt1">{{appLiterals.APP.REGISTER.REG_CHAN_PASS.EB_SETPASS}}</p>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="avail-bal-wrap">
						<fin-input type="password_text"
							max-length='{{register.passwordLength}}'
							model="register.newEbankPwd"
							on-change="myProfile.password.checkPasswordStrength(register.newEbankPwd)"
							display-row="full"
							placeholder="{{appLiterals.APP.REGISTER.REG_PAS_SET.PH_NEWEBPASS}}"
							validation-flag='pageErrorArr["register.newEbankPwd"]'></fin-input>

						<div class="progress-bar-wrap margin-left-2"
							ng-hide="myProfile.password.hideLgnPasswordStrength">
							<div class="amt-rs" id="registerEBPwdStrengthIndicator">{{appLiterals.APP.MYPROFILE.FL_TRANS.TXT_PASSSTRENGTH}}
								{{myProfile.password.passwordStrengthLgnText}}</div>
							<div class="progress"
								ng-hide="myProfile.password.hideLgnPasswordStrength">
								<div class="progress-bar progress-bar-success"
									ng-if="myProfile.password.isLgnIronclad" role="progressbar"
									aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
									style="width: 100%; background-color: #76d602;">
									<span class="sr-only" id="registerEBPwdStrengthIndicatorVS">{{appLiterals.APP.MYPROFILE.FL_TRANS.MSG12}}</span>
								</div>
								<div class="progress-bar progress-bar-info"
									ng-if="myProfile.password.isLgnTooShort" role="progressbar"
									aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
									style="width: 20%; background-color: #e21619;">
									<span class="sr-only" id="registerSMSPwdStrengthIndicatorTS">{{appLiterals.APP.MYPROFILE.FL_TRANS.MSG2}}</span>
								</div>
								<div class="progress-bar progress-bar-warning"
									ng-if="myProfile.password.isLgnWeak" role="progressbar"
									aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
									style="width: 40%; background-color: #ff8202;">
									<span class="sr-only" id="registerSMSPwdStrengthIndicatorW">{{appLiterals.APP.MYPROFILE.FL_TRANS.MSG3}}</span>
								</div>
								<div class="progress-bar progress-bar-danger"
									ng-if="myProfile.password.isLgnFair" role="progressbar"
									aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
									style="width: 60%; background-color: #ffea01;">
									<span class="sr-only" id="registerSMSPwdStrengthIndicatorF">{{appLiterals.APP.MYPROFILE.FL_TRANS.MSG4}}</span>
								</div>
								<div class="progress-bar progress-bar-danger"
									ng-if="myProfile.password.isLgnStrong" role="progressbar"
									aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
									style="width: 80%; background-color: #01adff;">
									<span class="sr-only" id="registerSMSPwdStrengthIndicatorS">{{appLiterals.APP.MYPROFILE.FL_TRANS.MSG5}}</span>
								</div>
							</div>
						</div>
						<fin-input type="password_text"
							max-length='{{register.passwordLength}}'
							model="register.confirmEbankPwd" display-row="full"
							placeholder="{{appLiterals.APP.REGISTER.REG_PAS_SET.PH_CNFRMNEWEBPASS}}"
							validation-flag='pageErrorArr["register.confirmEbankPwd"]'></fin-input>
					</div>
				</div>
			</div>
			<section layout="row" layout-align="center center"
				class="button-wrapper sticky-footer-block">
				<md-button id="registerOtherChannelsEBPasswordCancel" type="button"
					class=" md-raised btn--secondary-btn"
					ng-click="register.newEbankPwd='';register.confirmEbankPwd='';setEvent('onEbankChannelPasswordCloseClick')">
				{{appLiterals.APP.COMMON.BUTTON.CANCEL}} </md-button>
				<md-button id="registerOtherChannelsEBPasswordSubmit"
					class=" md-raised btn--primary-btn" type="submit">
				{{appLiterals.APP.REGISTER.REG_CHAN_PASS.BTN_SUBMIT}}</md-button>
			</section>
		</form>
	</div>
</div>

