<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rakbank</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container5corp">

<div class="Product Top6Corp sixthArrow">
  <div class="ProTopArrow"><img src="images/poparrow4.png" alt="" /></div>
<div class="ProBotMain">
<div class="ProTop">
<div class="ProLeft">&nbsp;</div>
<div class="ProRight">
<ul>
<li><img src="images/bullet.png" alt="" /></li>
<li><img src="images/bullet.png" alt="" /></li>
<li><img src="images/bullet.png" alt="" /></li>
<li><img src="images/bullet.png" alt="" /></li>
<li><img src="images/bulletactive.png" alt="" /></li>
</ul>
</div>
</div>
<div class="ProMid">
Need more or want to go back to Overview? Just use the menu to find everything on our app.
</div>
<div class="ProBOt">
<a ng-click="setGlobalEvent('MoveToDemoPageFiveCorp')"><img src="images/back.png" alt="" width="100" height="30" style="border:none;" /></a> &nbsp;&nbsp;&nbsp;&nbsp; <a ng-click="setGlobalEvent('MoveToDemoPageSevenCorp')"><img src="images/next1.jpg" align="right" alt="" width="100" height="30" style="border:none;" /></a>
<div class="ProbotL"></div>
<div class="ProbotR">
<a ng-click="setGlobalEvent('FinishDemoTour')">Skip Tour</a>
</div>
</div></div>
</div>



</div>

</body>
</html>



