<div class="tab-links">
       <!--   <ul>
        
            <li ng-class="{'active':rakSendMoney.common.scheduleTransferTab,'':!rakSendMoney.common.scheduleTransferTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.scheduleTransferTab=true;setEvent('onRakScheduleTabClick')">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_SCHEDULE}}</li>
            <li ng-class="{'active':rakSendMoney.common.rakIncompleteTab,'':!rakSendMoney.common.rakIncompleteTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.rakIncompleteTab=true;setEvent('onRakIncompleteTabClick')">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_HISTORY}}</li>
            <li ng-class="{'active':rakSendMoney.common.viewHistoryTab,'':!rakSendMoney.common.viewHistoryTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.viewHistoryTab=true;setEvent('onRakViewHistoryTabClick')">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_INCOMPLETE}}</li>
          </ul> -->
          
          <ul>
        
            <li ng-class="{'active':rakSendMoney.common.scheduleTransferTab,'':!rakSendMoney.common.scheduleTransferTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.scheduleTransferTab=true;setEvent('onRakScheduleTabClick')">View Schedule</li>
            <li ng-class="{'active':rakSendMoney.common.rakIncompleteTab,'':!rakSendMoney.common.rakIncompleteTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.rakIncompleteTab=true;setEvent('onRakIncompleteTabClick')">View History</li>
            <li ng-class="{'active':rakSendMoney.common.viewHistoryTab,'':!rakSendMoney.common.viewHistoryTab}" ng-click="rakSendMoney.clearTab();rakSendMoney.viewHistoryTab=true;setEvent('onRakViewHistoryTabClick')">View Incomplete</li>
          </ul>
        </div>