
<div class="rak-back-header" ng-show="rakSendMoney.schedule.freqType!='O'">
	<i class="rak-back-img" ng-click="rakSendMoney.common.fromAuthPage=true;setEvent('onBackClick');"></i>
</div>
<div ng-init="resetPageError();rakSendMoney.schedule.txnPwd='';rakSendMoney.schedule.dueDate='N';rakSendMoney.schedule.remarks='';rakSendMoney.schedule.initImmediateStopTransfer(successResponse.responsesList);">
	<div class="account-page">
	
    <div class="col-sm-11">
	  <div class="app-title-wrapper">		
				<ng-include
								src="'./navigation/rakSendMoney/resources/RakSendMoneyTabPage.html'">
							</ng-include>


							<div class="tab-links">
								<ul>
									<li class="active"><span
										class="active">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_SCHEDULE}}</span></li>
									<!-- <li ng-click="setGlobalEvent('onRakMoneyPayTabClick');"><span>{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_INCOMPLETE}}</span></li> -->
									<li ng-click="rakSendMoney.txnHistory.clearSearchHistory();rakSendMoney.txnHistory.setInitialDate();rakPayee.isBeneficiaryHistoryMode=false;setGlobalEvent('onRakSendMoneyHistoryTabClick');"><span>{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_HISTORY}}</span></li>
									<li ng-hide="rakHome.userTypeIDValue=='CORPORATE'" ng-click="rakSendMoney.mobileCashHistory.clearSearchHistory();rakSendMoney.mobileCashHistory.setInitialDate();setGlobalEvent('onRakSendMoneyMobileCashHistoryTabClick');"><span>{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.VIEW_MOBILECASH_HISTORY}}</span></li>
								</ul>
							</div>
	      <div class="bg-color rak-cont-padding rakScrollDiv rak-cont-paddingvh">
	        
            <div class="summary-BenfReq main-form-heading-ServiceReq" ng-if="rakSendMoney.schedule.stopBtnClicked==true">
				<div class="iconDivBenf">
					<span class="infoIconBenf"></span><span class="success">{{rakSendMoney.common.successMessage}}</span>
				</div>
			</div>
     				 <p class="rak-sum-txtStop rakBoxShadowStop">
							<span class="rak-sum-labelStop">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOPINSTANCEHEADING}}</span>
					</p>	
        <div class="">
 
	 
		<div class="">      
		 
			<div class="row" >
			  <div class="">
			  
			  
			  
			  	<div class="balance-columns-header-row">
							<div class="rak-header-col rak10 rak10-row"><input type="checkbox" ng-model="rakSendMoney.schedule.selectAll" ng-click="rakSendMoney.schedule.getCheckBoxStatus();" id="chkBox"  ></div>
							<div class="rak-header-col rak90 rak90-row">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.PAYMENTDUE}}</div>
						
						</div>
			  
			  			<div class="rakSubScrollDiv rak-cont-paddingvh">
							<div ng-repeat="instance in rakSendMoney.schedule.instanceList" class="balance-columns-row" >
								<div class="rak-header-col rak10 rak10-row">
								
									<input type="checkbox" ng-model='rakSendMoney.schedule.instanceList[$index].checkedFlag' id="chkBox" ng-click='rakSendMoney.schedule.selectAll=false'>
									</div>
									<div class="pull-left rak90 rak90-row">
									{{instance.immediatePaymentDueOn}}
									</div>
								
							
								
								
							</div>
							
							<div class="label-wrap">	
				 <button type="button"  class="btn--special-btn btn-middle rak-button-small" 
				 ng-click="rakSendMoney.schedule.isBackclicked=false;rakSendMoney.schedule.onStopSingleInstanceConfirm();">{{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.SUBMIT}}</button>
			  </div>
						</div>
						
			  
			
				
				
			</div>	
				
          <div class="col-sm-1"> </div>
        </div> 
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>

