<div>

<div class="full-page-screen"  ></div>

<div class="confirmation-content-container">
    <div class="message-box-new">
        <div>
            <p class="round-icon-new">
            <span class="app app-alert pop-alert-icon rak-color"></span>
            </p>

            <div class="conf-txt-title rak-black-color">
            </div>
        </div>

        <div class="conf-txt-label rak-black-color">
          Stop txn?
        </div>
		<div class="conf-btn-wrap">


            <button type="button" class="btn--confsec-btn rak-grey-color" ng-click='setEvent("onStopTransferNoClick")' >
                 &nbsp; {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOP_NO}} &nbsp;
            </button>

            <button type="button" class="btn--confpri-btn btn--back rak-black-color" ng-click='setEvent("onStopTransferYesClick")' >
                &nbsp; {{appLiterals.APP.RAKSEND_MONEY.RAKTRANSFER_VIEWSCHEDULE.STOP_YES}} &nbsp;
            </button>

        </div>


    </div>
</div>

</div>