<div id="HLDCAPFirstBackButton" class="app app-arrow2 title-right-dash"
	ng-click="services.hotlistDCModel.isBack=true;setEvent('onHotlistDebitCardAuthBackClick')">
</div>
<div class="finacle-container"
	ng-init="services.initHotlistDebitCardConfirmData(successResponse.responsesList);">

	<div class="account-page">
		<div class="col-sm-12">

			<div class="dashboard-pad">
				<div class=" dashboard-item-body">
					<div class="dashboard-item-title col-sm-12">
						<div class="item-title text-uppercase ">{{appLiterals.APP.MOVE_MONEY.BILLPAY_AUTH_PAGE.TEXT_CONFIRM}}
							And
							{{appLiterals.APP.MOVE_MONEY.BILLPAY_AUTH_PAGE.TEXT_AUTHENTICATE}}</div>
					</div>

					<form id="HLDCAPSubmitForm"
						ng-submit="corpInit.corpModel.getSelectedRoleDetailsAsString();setEvent('onHotistDebitCardAuthSubmitClick')">

						<div class="col-sm-12">

							<div class="account-detail-dash margin-zero">
								<strong class="trans-no" id="HLDCAPACCOUNTNOLabel">{{appLiterals.APP.SERVICES.APP_NEW_DC_AUTH.TXT_ACC_NO}}
								</strong> <span class="dash-ac-id" id="HLDCAPACCOUNTNOValue">{{services.hotlistDCModel.authResponse.accountNickname}}-{{services.hotlistDCModel.authResponse.accountNumber}}</span>
							</div>

							<div class="account-detail-dash margin-zero">
								<strong class="trans-no" id="HLDCAPDebitCardNoLabel">{{appLiterals.APP.SERVICES.ACT_DEBIT_CARD_AUTH.TXT_DEBIT_CARD_NO}}
								</strong> <span class="dash-ac-id" id="HLDCAPDebitCardNoValue">{{services.hotlistDCModel.authResponse.debitCardNumber}}</span>
							</div>

							<div class="account-detail-dash margin-zero"
								ng-hide="services.hotlistDCModel.statusFlag==true">
								<strong class="trans-no" id="HLDCAPStatusLabel">{{appLiterals.APP.COMMON.TEXT.STATUS}}
								</strong> <span class="dash-ac-id" id="HLDCAPStatusValue">{{services.hotlistDCModel.authResponse.status}}</span>
							</div>


							<div class="account-detail-dash margin-zero">
								<strong class="trans-no" id="HLDCAPReasonLabel">{{appLiterals.APP.SERVICES.COMMON.REASON}}
								</strong> <span class="dash-ac-id" id="HLDCAPReasonValue">{{services.hotlistDCModel.authResponse.reason}}</span>
							</div>
						</div>
						<div
							ng-init="corpInit.corpModel.processCorpInit(successResponse.responsesList);">
							<approval-input></approval-input>
						</div>

						<fin-Stepauth></fin-Stepauth>

						<md-button type="submit"
							ng-if='services.hotlistDCModel.isOnline == true'
							class="md-raised btn--primary-btn">{{appLiterals.APP.COMMON.BUTTON.SUBMIT}}</md-button>
						<md-button type="submit"
							ng-if='services.hotlistDCModel.isOnline == false'
							class="md-raised btn--primary-btn">{{appLiterals.APP.SERVICES.ACT_DEBIT_CARD_AUTH.BTN_SUBMIT_TO_RM}}</md-button>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>