<div class="app app-arrow2 title-right-dash" id="linkCreditCardBack"
	ng-click="services.linkCreditCardModel.isBack=true; ;setEvent('onPrevServiceClick')"></div>
<div class="finacle-container"
	ng-init="services.linkCreditCardConfirm(successResponse.responsesList);">
	<div class="account-page">
		<div class="col-sm-12">
			<div class="dashboard-pad">
				<div class="dashboard-item-body">
					<div class="dashboard-item-title col-sm-12 ">
						<div class="item-title text-uppercase">
							<span id="pageTitle">
								{{appLiterals.APP.COMMON.TITLE.CONF_AUTH}} </span>
						</div>
					</div>
					<!--  end of title -->
					<div class="col-sm-12">
						<div class="account-detail-dash margin-zero">
							<strong class="trans-no" id=txtDepositAccount>
								{{appLiterals.APP.SERVICES.CREDIT_CARD.LINK_CC_HEADER}}
								{{appLiterals.APP.COMMON.TEXT.FOR}} </strong> <span class="dash-ac-id"
								id="depositAccount">
								{{services.linkCreditCardModel.cardNo}} </span>
						</div>
						<div class="account-detail-dash margin-zero">
							<strong class="trans-no" id="txtRenewalDisplay">
								{{appLiterals.APP.SERVICES.COMMON.ADDRESS}} </strong> <span
								class="dash-ac-id" id="renewalDisplay">
								{{services.linkCreditCardModel.addrLn1}}<br>{{services.linkCreditCardModel.addrLn2}}<br>
								{{services.linkCreditCardModel.city}} -
								{{services.linkCreditCardModel.postal}}
							</span>
						</div>
						<div class="account-detail-dash margin-zero">
							<strong class="trans-no" id="txtDurationMonths">
								{{appLiterals.APP.SERVICES.APP_NEWCREDCARD.PH_CNTRY}} </strong> <span
								class="dash-ac-id" id="durationMonths">
								{{services.linkCreditCardModel.selectedCountry}} </span>
						</div>
						<form
							ng-submit="corpInit.corpModel.getSelectedRoleDetailsAsString();setEvent(services.linkCreditCardConfirm.getEvent())">
							<div
								ng-init="corpInit.corpModel.processCorpInit(successResponse.responsesList);">
								<approval-input></approval-input>
							</div>
							<div ng-if='services.linkCreditCardModel.authMode!=""'>
								<fin-Stepauth></fin-Stepauth>
							</div>
							<md-button type="submit" class="md-raised btn--primary-btn"
								ng-show="services.linkCreditCardModel.authMode!=''">
							{{appLiterals.APP.COMMON.BUTTON.SUBMIT}} &nbsp;
							{{appLiterals.APP.COMMON.BUTTON.TO}} &nbsp;
							{{appLiterals.APP.COMMON.BUTTON.RM}}</md-button>
							<md-button type="submit" class="md-raised btn--primary-btn"
								ng-show="services.linkCreditCardModel.authMode==''">
							{{appLiterals.APP.COMMON.BUTTON.SUBMIT}}
							{{appLiterals.APP.COMMON.BUTTON.TO}}
							{{appLiterals.APP.COMMON.BUTTON.RM}}</md-button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>