
/* Stylesheet content from css/blackberry.css in folder common */

/* Stylesheet content from css/blackberry.css in folder common */
md-select{
	display : block;
	width : 100%
}
md-option{
	display: block;
	padding: 16px 16px;
}
._md-select-value{
	display : block;
	width : 100%;
}
._md-select-value ._md-select-placeholder{
	display : block;
}
._md-select-value ._md-select-icon {
	display : block;
	float : right;
}
._md-select-value>span:not(._md-select-icon){
	display : block;
	float : left;
}


section.button-wrapper .md-button {
    display: inline;
}
section.layout-wrap .md-button{
	display :  inline;
}
section.fab-icon-container{
	text-align: center;
}
section.fab-icon-container div.fab-button-wrap{
	display: inline-block;
}
md-menu-content{
	display : block;
}
md-menu-item{
	display : block;
}

md-dialog{
	display : block;
	top: 40%;
    bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
md-dialog md-dialog-actions button{
	display : inline;
}
md-dialog-actions.layout-align-center-center{
	display: block;    
}

md-dialog-actions  button.md-raised {
    display: inline;
}