
/* Stylesheet content from css/finacle-css-elite.css in folder common */
.rak-leftborder {
    border-left: 4px solid #7E3427;
}


.image_2x_dots{
	 background-size:19px;
	     height: 20px;
    width: 20px;
      background: url(../images/more-dots-elite@2x.png) left no-repeat;
    background-size: 19px;
        display: block;
}

.image_2x_close{
	 background-size:19px;
	     height: 20px;
    width: 20px;
      background: url(../images/close-elite@2x.png) left no-repeat;
    background-size: 19px;
        display: block;
}


.RBF{
	background: url(../images/Within_RAK_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	
	background-size: 100%;
	/* width: 200px; */  
}
.UBF{
	background: url(../images/Within_UAE_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	
	background-size: 100%;
	/* width: 200px; */
}

.cloud{
	background: url(../images/cloud.png) no-repeat center;
	/* padding-left: 53px; */
	
	background-size: 50%;
	/* width: 200px; */
}
.accountant{
	background: url(../images/accountant.png) no-repeat center;
	/* padding-left: 53px; */
	
	background-size: 50%;
	/* width: 200px; */
}
.encryption{
	background: url(../images/encryption.png) no-repeat center;
	/* padding-left: 53px; */
	
	background-size: 50%;
	/* width: 200px; */
}
.legislation{
	background: url(../images/legislation.png) no-repeat center;
	/* padding-left: 53px; */
	
	background-size: 50%;
	/* width: 200px; */
}
.tracks{
	background: url(../images/tracks.png) no-repeat center;
	/* padding-left: 53px; */
	
	background-size: 50%;
	/* width: 200px; */
}

.OBF{
	background: url(../images/Outside_UAE_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	
	background-size: 100%;
	/* width: 200px; */
}
.RMC{
	background: url(../images/Mobile_Cash_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
   
	background-size: 100%;
	/* width: 200px; */
}
.RCC{
	background: url(../images/Within_RAK_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	background-size: 100%;
	/* width: 200px; */  
}
.UCC{
	background: url(../images/Within_UAE_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	background-size: 100%;
	/* width: 200px; */
}
.OCC{
	background: url(../images/Outside_UAE_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	background-size: 100%;
	/* width: 200px; */
}
.PPC{
	background: url(../images/Card_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
	background-size: 100%;
	/* width: 200px; */
}

.CASH{
	background: url(../images/Cash_Payout_Elite.png) no-repeat 0 5px;
	/* padding-left: 53px; */
   
	background-size: 100%;
	/* width: 200px; */
}


.loadingimage{
	 
	      background: url(../images/rakloading-elite.gif) center no-repeat;
   
    background-size: 75px;
	 

}

.rakTokenIcon{
	  
	   background: url(../images/RAKToken-elite@2x.png) left center no-repeat;
	 width: 20px;
    height: 28px;
    background-size: contain;
    
}

.paybils-block-middle-item-block {

	border: 1px solid #7E3427;

	border-bottom: 3px solid #7E3427;
}

.checkbox-custom:checked+.checkbox-custom-label:before {

	color: #7E3427 !important;

}

.rakRedFont{
	color : #7E3427 !important;
}

.rak-color {
    color: #7E3427 !important;
}
.rak-swipe-background {
    background: #7E3427!important;
    height: initial;
    color: white;
    border-right: 4px solid #000;
}

.navbar-fixed-top {
	border-bottom: 2px solid #7E3427;
}
.swiper-pagination-bullet-active {
	background: #7E3427;
}
.BottomSelectedMargin{
	border-bottom: solid #7E3427;
}

.paybils-block-middle-item {
	
	border: 1px solid #7E3427;
	
}

.checkbox-custom+.checkbox-custom-label:before {

	border: 1px solid #7E3427;

}

.checkbox-custom-new+.checkbox-custom-label:before {
	border: 1px solid #7E3427;
}

.checkbox-custom-new + .checkbox-custom-label:before {border: 1px solid #7E3427;}

.paybils-block-top-left h3 {
	
	color: #7E3427;
	
}

.hyperLinkRed{
	color: #7E3427;
}

.callIco{
	background:url(../images/call-elite.png) no-repeat;

}

.checkbox-custom-new:checked + .checkbox-custom-label:before{
	color: #7E3427 !important;
}

.checkbox-custom-new:checked + .checkbox-custom-label.termsCheck:before{
	color: #7E3427 !important;
}

.rakScrollDiv .row p{
	border-top: 2px solid #7E3427;
}

.upd-main-form-heading {
	border-bottom: 2px solid #7E3427;

}

.rakmail-field-wrap {
	border: 0.1em solid #7E3427;
}

.rakbackgroundRed{
	background-color: #7E3427;
    border: 0.1em solid #7E3427;
}

.raksearch-field-wrap {

	border: 0.1em solid #7E3427;

}

.main-form-heading-payee {
	border-bottom: 2px solid #7E3427;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}

.input[type='radio'].rakRadio:checked {
	border: 2px solid #7E3427;
}

.input[type='radio'].rakRadio:checked:before {
	background: #7E3427;
}
.tab-links ul li.active span {
	color: #7E3427;
	border-bottom: 2px solid #7E3427;
}

.rak-button-full-red {
	width: 100%;
	height: 40px;
	margin-top: 10px;
	font-size: 14px;
	border: #7E3427;
	background-color: #7E3427;
}
.error-details-txt {
	font-size: 1.4em;
	color: #7E3427;
}
.main-form-heading-payee {
	border-bottom: 2px solid #7E3427;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.left-line-error+.input-body select, .left-line-error+.input-body input{
    border-color: #7E3427 !important;
}

.warning-date,.warning-text,.error-text {
	color: #7E3427;
}
.checkbox-custom:checked + .checkbox-custom-label:before {color: #7E3427 !important; }


.rakRedbottomBorder{
	border-bottom: 2px solid #7E3427;
}
.rakErrorMsg
{
	/* margin-bottom:-50px;
	color:#7E3427;
	font-size:12px;
	font-weight:bold;
	font-style:italic;
	float:right; */
		margin-bottom: -50px;
		color: #7E3427;
		font-size: 11px;
		font-weight: bold;
		font-style: italic;
		float: right;
		padding-top: 1px;
}

.rak-inboxlink span{
	font-family: 'open_sanssemibold';
        position: absolute;
        padding: 0px 5px;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 60%;
        color: #7E3427;
        right: 6px;
    	font-size: 12px;
}
.rak-accordianUL {
	padding: 0px;
	background: #7E3427;
	margin: 0 auto;
	width: 97%;
	float: none;
}

.main-form-heading {
    border-bottom: 2px solid #7E3427;
    display: table;
    height: 5em;
    width: 100%;
}

.dashboard-item-title {
    border-bottom: 1px solid #7E3427;
    height: 22px;
    /* background-color: #f1f6f7; */
}


.mbsc-mobiscroll .mbsc-cal-btn-txt{
	color: #7E3427 !important;
}

.mbsc-mobiscroll .mbsc-cal .mbsc-cal-sc-sel .mbsc-cal-sc-cell-i, .mbsc-mobiscroll .mbsc-cal .mbsc-cal-day-sel .mbsc-cal-day-i{
	    background: #7E3427 !important;
}


.mbsc-mobiscroll .mbsc-cal-days {
    
    color: #7E3427 !important;
}

.mbsc-mobiscroll .mbsc-cal-days th {
    
    border-bottom: 1px solid #7E3427 !important;
}

.mbsc-mobiscroll .mbsc-fr-btn {
  
    color: #7E3427 !important;
 
}






.rakSupplCardIco {
  
    background: url(../images/collapsed-icons-elite.png) right no-repeat;
	    background-size: 16px;
}

.date-adjust {
	/*url needs to be changed*/
    background: url(../images/calender_elite.png) no-repeat right center;
	background-repeat-y: inherit;
	background-size: 29px;
}

.rak-accordianList {
	display: block;
	float: none;
	position: relative;
	width: 100%;
	background: url(../images/icon-1-elite.png) 98% 10px no-repeat;
	/*url needs to be changed*/
	border-bottom: 1px solid white;
}

.rak-accordianList.rakExpand{
	    background: url(../images/icon_3-elite.png) 100% 2px no-repeat;
    background-size: 40px;

}

.nav-justified>li.rakExpand>span{
	background: url(../images/dropdown-icon-elite@2x.png) 99% 13px no-repeat;
	background-size: 16px;
	
}

.nav-justified>li.rakCollapse>span{
	background: url(../images/arrow-right1-elite@2x.png) 99% 13px no-repeat;
	background-size: 16px;
}


.rakOverlay h2.success {
	background: url(../images/success.png) left center no-repeat;
	/*url needs to be changed*/
	padding: 6px 0 5px 55px;
	width: 90%;
	clear: both;
}

.nav-justified>li>span>i {
    background: url(../images/menu-icon1.png) 99% center no-repeat;
    transition: 0.8s;
    float: right;
    width: 20px;
    height: 20px;
    background-position: 5px -8px;
}

/* .reqSubMenu li {
    background: url(../images/menu-icon1.png) 99% center no-repeat;
    background-position: 320px 10px;
} */





input[type='radio'].rakRadio:checked {
    border: 2px solid #7E3427;
}

input[type='radio'].rakRadio:checked:before {
    background: #7E3427;
}
.money-block ul li.active, .money-block ul li:hover, .money-block ul li:hover a, .money-block ul li.active a {
    background: #7E3427;
    color: #fff;
    text-decoration: none;
}


.rakSupplCardIcoExpnd {
    background: url(../images/collapse-icons-elite.png) right no-repeat;
    	background-size:16px;
}
.rakapp-ellipses-icon {
    float: right;
    margin: 0.9em;
    color: #7E3427;
    font-size: 2.8em;
    position: absolute;
    right: 0;
    top: 0;
}

div.rakCstmRadioDiv input[type=radio]:not(old):checked + label > span {
	border: 1px solid #7E3427;
}

div.rakCstmRadioDiv input[type=radio]:not(old):checked + label > span > span {
	display: block;
	width: 10px;
	height: 10px;
	margin: 3px !important;
	border: 0;
	border-radius: 100%;
	background: #7E3427;
}

/*CHANGES DONE AS FIX OF PROUAT-2633 START*/

.disclaimer1 {
	 border-bottom: 2px solid #7E3427;
  
}
.disclaimer2 {
	 color: #7E3427;
}
.disclaimer3 {
	padding: 5px;
    font-size: 11px;
    font-family: 'open_sanssemibold';
    line-height: 1.5em;
}
/*CHANGES DONE AS FIX OF PROUAT-2633 END*/


.app_logo_wrap {

	background: url("../images/logo_elite_rak.png") no-repeat center;
	background-size: contain;
	
}

.main-form-heading-ServiceReq {
    border-bottom: 2px solid #7E3427;
  
}

.headerSelectedMargin {
    border-bottom: 2px solid #2b2525;
}

.rak-button-half-red-left {
   
    border: #7E3427;
    background-color: #7E3427;
 
}

.rak-button-half-red-right {
  
    border: #7E3427;
    background-color: #7E3427;
 
}

.rakTxnSearch1 {
    border-bottom: 2px solid #7E3427;
 
}

.rakTxnSearch2 {
    color: #7E3427;
  
}

.rakNicknameHeader2 {
    background: #7E3427;

}

.rakNicknameHeader {
    
    background: #7E3427;
 
}

.mob-user-icon {
    border: 0.1em solid #7E3427;
    background-color: #7E3427;
   
}
.fin-input {

    border: 1px solid;
    border-color: #7e3427;
   
}

.rakCCAmttab.active {
   
    border-bottom: 2px solid #7E3427;
}

.nav-justified {
  
    border-top: 2px solid #7E3427;
}

.rakWidth100PercentBottonIcon {
    
    border-top: 2px solid #7E3427;
 
}

.rakBottomIconSec {
  
    border-left: 1px solid #7E3427;
    border-right: 1px solid #7E3427;
}

.account-icon {
	
    background: url(../images/account-icon-elite.png) top left no-repeat !important;
}

.credit-icon {
	
	 background: url(../images/cards-icon-elite.png) top left no-repeat !important;
	

}

.deposits-icon {
	
	background: url(../images/deposite-icon-elite.png) top left no-repeat !important;
}

.loan-finance-icon {
	
	background: url(../images/l-f-icon-elite.png) top left no-repeat !important;
}

.gold-icon {

 background: url(../images/GoldIcon-elite.png) top left no-repeat !important;
}

.investment1-icon {

background: url(../images/inverstment-icon-elite.png) top left no-repeat !important;
}

.balance-link{
	background: url(../images/arrow-right1-elite.png) top center no-repeat;
    display:inline-block;
  
}

.rakmails-icon{
	background: url(../images/msg-icon-elite.png) top center no-repeat;

}

.moblie-button1 {

    background: url(../images/moblie-button-elite.png) no-repeat;
}

.rak-back-img{
	background: url(../images/back-arrow-elite@2x.png) top center no-repeat;
	 background-size: 19px;
 
}

.rakConfirmHeader {
    background-color: #7E3427;
    
}

.profilelanding li {
	background: url(../images/arrow-right1-elite.png) 99% center no-repeat;

	 background-size: 15px;
}

/* .rak-accordianList {
	
	background: url(../images/icon_1-elite.png) 99% 5px no-repeat;

	
} */

.homeCorner{
	background: url(../images/home-elite.png) 5px center no-repeat;

}


.rakEditImgWidth{
	background: url('../images/edit-img-elite.png') no-repeat 10px 1px;
   
}


.rakEditBenfImg{
	background: url('../images/edit-img-elite.png') no-repeat 10px 10px;
 
}

.nav-justified li.deals-icon3{
	background: url(../images/deals-icon-elite.png) 5px center no-repeat;

}

.input-body2-dropdown {
	
	background: url(../images/dropdown-icon-elite.png) no-repeat right center;
	background-position-x:98%;
	background-repeat: no-repeat !important;
	background-size: 14px;
}

.balance-link{
	background: url(../images/arrow-right1-elite.png) top center no-repeat;
    display:inline-block;
   
}

.moblie-button1 {
	background: url(../images/moblie-button-elite.png) no-repeat;
	background-size:19px;

}

.rakPullDown {
	background: url(../images/dropdown-icon-elite.png) no-repeat;
	
}

.rakPullDownNew {
	background: url(../images/dropdown-icon-elite.png) no-repeat;
	
}

.rakEditImg{

	background: url('../images/edit-img-elite.png') no-repeat 10px 1px;
  
}

.glyphicon-search {
	background: url(../images/search-elite@2x.png) left no-repeat;
	 background-size: 20px;
	
}

.forgotRAKTokenPIN{
	
color: #7E3427;

}

.raktouchIdOverviewButtonEnable{
	
    background-color: #7E3427;
   
}

.noHeaderBottom {
	
	 border-bottom: 1px solid #7E3427;
}

.bottom-border-conf-box
{
	border-bottom: 2px solid #7E3427;
}

.redButton
{
	
	background-color: #7E3427 !important;
    border: 0.1em solid #7E3427 !important;
}

.process-steps li.active { background: #7E3427 }

.rak-home-header>.homeCorner{
	width: 20px;
	height: 20px;
	background: url(../images/home-elite@2x.png)  no-repeat 2px -1px;
	background-size: 17px;
}

.rak-back-header>.homeCorner{
	width: 20px;
	height: 20px;
	background: url(../images/home-elite@2x.png)  no-repeat 2px -1px;
	background-size: 17px;
}

.rakTxnSearchIconExpnd{
	background: url(../images/collapse-icons-elite.png) right no-repeat;
	    background-size: 15px;
}

.rakTxnSearchIcon{	

	background: url(../images/collapsed-icons-elite.png) right no-repeat;
	background-size: 15px;
}

.setting-icon {
    background: url(../images/setting-elite.png) top center no-repeat;
    display:inline-block;

}

.rak-logout {
    background: url(../images/logout-elite.png) top center no-repeat;
  
}

.rak-swipe-msg {
	
	background: url(../images/swipe-icon-elite.png) top left no-repeat;

}

.rakCardIcoSuppliExpnd{
	background: url(../images/collapse-icons-elite.png) right no-repeat;
}

.rakCardIcoSuppli{	

	background: url(../images/collapsed-icons-elite.png) right no-repeat;

}

.rakSupplCardIcoExpnd{
	background: url(../images/collapse-icons-elite.png) right no-repeat;
	background-size:16px;
}

.nav-justified li.contact-icon{
		background: url(../images/call-elite.png) 5px center no-repeat;		
}

.nav-justified li.faq-icon{
	background: url(../images/faq-icon-elite.png) 5px center no-repeat;
}


.nav-justified li.home-icon{
	background: url(../images/home-elite.png) 5px center no-repeat;
}

.nav-justified li.notification-icon{
	background: url(../images/notification-elite.png) 5px center no-repeat;
}

.nav-justified li.accounts-icon{
	background: url(../images/account-icon-elite.png) 5px center no-repeat;
}


.nav-justified li.tradefinance-icon{
	background: url(../images/Trade-Finance-elite.png) 5px center no-repeat;
}

.nav-justified li.cards-icon{
	background: url(../images/cards-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.loans-finances-icon{
	background: url(../images/l-f-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.investments-icon{
	background: url(../images/inverstment-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.Rakvalue-icon{
	background: url(../images/Rakvalue-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.DA-icon{
	background: url(../images/DA-icon-elite.png) 5px center no-repeat;
}


.nav-justified li.deposits-icon1{
	background: url(../images/deposite-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.deposits-icon{
	background: url(../images/deposite-icon-elite.png) 5px center no-repeat;
}
.nav-justified li.deals-icon1{
	background: url(../images/deals-icon-elite.png) 5px center no-repeat;
}
.nav-justified li.insurance-icon{
	background: url(../images/insurence-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.apply-icon{
	background: url(../images/apply-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.service-requests-icon{
	background: url(../images/s-r-icon-elite.png) 5px center no-repeat;
}
.nav-justified li.service-requests-icon{
	background: url(../images/s-r-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.pendingAction-icon{
	background: url(../images/pendingAction-elite.png) 5px center no-repeat;
}
.locator-icon{
	background: url(../images/locate-us-elite.png) 5px center no-repeat;
}

.message{
	background: url(../images/message-elite.png)5px center no-repeat;
}
.nav-justified li.deals-icon2{
	background: url(../images/deals-icon-elite.png) 5px center no-repeat;
}

.nav-justified li.deals-icon3{
background: url(../images/deals-icon-elite.png) 5px center no-repeat;

}

.nav-justified li.faq-icon{
	background: url(../images/faq-icon-elite.png) 5px center no-repeat;
}
.nav-justified li.contact-icon{
		background: url(../images/call-elite.png) 5px center no-repeat;
		
}

.selfReg-main-form-heading {
    border-bottom: 2px solid #7E3427;
  
}

.unreadIcon{	
	background: url(../images/unread-elite.png) top left no-repeat;

}

.rakbackgroundRed {
    background-color: #7e3427;
    border: 0.1em solid #7e3427;
}

.addDet2 {
    color: #7e3427;
}

.custom_business_elite_termsNCondition
{
    font-family: 'open sans', sans-serif;
	text-align: left;
}

.custom_elite_Declaration 
{
    font-size: 1.3em;
    color: black;
    text-align: left;
    margin: 0;
    /* font-weight: bold; */
    font-family: 'open_sanssemibold';
    margin: 5px;
}
.eDirham-history-top-border
{
	border-top: 2px solid #7E3427;
    padding: 10px 0px;
}
.eDirham-setting-block li
{
	background: url(../images/arrow-right1-elite@2x.png) 99% center no-repeat;
    margin-right: 6px;
    background-size: 15px;
    height: 55px;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
}
.main-form-heading-eDirham {
	border-bottom: 2px solid #7E3427;
	width: 100%;
	padding-bottom: 0.5em;
	display: table;
    float: none;
    padding-top: 1em !important;
       
}
.main-form-heading-eDirham  h2
{
	background: rgba(0, 0, 0, 0) no-repeat scroll left center;
    color: #000;
    margin: 0 auto;
    width: auto;
    padding: 0px;
    float: left;
    font: 600 14px OpenSans;
    text-align: left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
	
	
		
	.app_logo_wrap {
	
		background: url("../images/logo_elite_rak@2x.png") no-repeat center;
		background-size: contain;
	
	}
	.account-icon {
		  
	    background: url(../images/account-icon-elite@2x.png) top left no-repeat !important;
	     background-size:19px !important;
	}
	
	.credit-icon {
	
		 background: url(../images/cards-icon-elite@2x.png) top left no-repeat !important;
		 background-size:19px !important;
		
	}
	
	.deposits-icon {
	
		background: url(../images/deposite-icon-elite@2x.png) top left no-repeat !important;
		 background-size:19px !important;
	}
	
	.loan-finance-icon {
	
		background: url(../images/l-f-icon-elite@2x.png) top left no-repeat !important;
		 background-size:19px !important;
	}
	
	.gold-icon {
	
	 background: url(../images/GoldIcon-elite@2x.png) top left no-repeat !important;
	  background-size:19px !important;
	}
	
	.investment1-icon {
	
	background: url(../images/inverstment-icon-elite@2x.png) top left no-repeat !important;
	 background-size:19px !important;
	}	
	.balance-link{
		background: url(../images/arrow-right1-elite@2x.png) top center no-repeat;
		background-size:19px;
	}
	
	.rakmails-icon{
			background: url(../images/msg-icon-elite@2x.png) top center no-repeat;
		   background-size:19px;
	}
	
	.moblie-button1 {
		background: url(../images/moblie-button-elite@2x.png) no-repeat;
		background-size:19px;
	
	}
	
	
	  .nav-justified li.home-icon{
        background: url(../images/home-elite@2x.png) 5px center no-repeat;
        background-size:19px;
        
    }
    
        .nav-justified li.notification-icon{
        background: url(../images/notification-elite@2x.png) 5px center no-repeat;
        background-size:19px;
        
    }
    
    .nav-justified li.accounts-icon{
        background: url(../images/account-icon-elite@2x.png) 5px center no-repeat;
        background-size:19px;
    }
    
     .nav-justified li.tradefinance-icon{
        background: url(../images/Trade-Finance-elite@2x.png) 5px center no-repeat;
        background-size:19px;
    }
    
    .nav-justified li.cards-icon{
        background: url(../images/cards-icon-elite@2x.png) 5px center no-repeat;
        background-size:19px;
    }
    
    .nav-justified li.loans-finances-icon{
        background: url(../images/l-f-icon-elite@2x.png) 5px center no-repeat;
        background-size:19px;
    }
    
    
	.nav-justified li.investments-icon{
		background: url(../images/inverstment-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
		.nav-justified li.DA-icon{
		background: url(../images/DA-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.Rakvalue-icon{
		background: url(../images/Rakvalue-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	.nav-justified li.deposits-icon1{
		background: url(../images/deposite-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.deposits-icon{
		background: url(../images/deposite-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	.nav-justified li.deals-icon1{
		background: url(../images/deals-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	.nav-justified li.insurance-icon{
		background: url(../images/insurence-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.apply-icon{
		background: url(../images/apply-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.service-requests-icon{
		background: url(../images/s-r-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	.nav-justified li.service-requests-icon{
		background: url(../images/s-r-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.pendingAction-icon{
		background: url(../images/pendingAction-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	
	.locator-icon{
		background: url(../images/locate-us-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.message{
		background: url(../images/message-elite@2x.png)5px center no-repeat;
		 background-size:19px;
	}
	.nav-justified li.deals-icon2{
		background: url(../images/deals-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.faq-icon{
		background: url(../images/faq-icon-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
	.nav-justified li.contact-icon{
		background: url(../images/call-elite@2x.png) 5px center no-repeat;
		 background-size:19px;
	}
	
		
	.rakSupplCardIco{	
	
	background: url(../images/collapsed-icons-elite@2x.png) right no-repeat;
	 background-size:16px;

	
	}
	.rakSupplCardIcoExpnd{
		background: url(../images/collapse-icons-elite@2x.png) right no-repeat;
		 background-size:16px;
		
	}
	
	.rakCardIcoSuppli{
		background: url(../images/collapsed-icons-elite@2x.png) right no-repeat;
		 background-size:19px;
		
	}
	
	.rakCardIcoSuppliExpnd{
		background: url(../images/collapse-icons-elite@2x.png) right no-repeat;
		 background-size:19px;
		
	}
	
	.rak-swipe-msg {
		
		background: url(../images/swipe-icon-elite@2x.png) top left no-repeat;
		 background-size:19px;
		
	}
	
	.rak-logout {
	    background: url(../images/logout-elite@2x.png) top center no-repeat;
	    background-size:19px;
	}
	
	.setting-icon {
	    background: url(../images/setting-elite@2x.png) top center no-repeat;
	    background-size:19px;
	}
	
	.rakTxnSearchIcon{	
	
	background: url(../images/collapsed-icons-elite@2x.png) right no-repeat;
	 background-size:15px;
	 
	
	}
	.rakTxnSearchIconExpnd{
		background: url(../images/collapse-icons-elite@2x.png) right no-repeat;
		 background-size:15px;
	 	
	}
	
	.glyphicon-search {
		background: url(../images/search-elite@2x.png) left no-repeat;
		 background-size:19px;
		 background-size: 20px;
	    width: 20px;
	    
	    margin-left: 9px;
	}
	
	.rakEditImg{
		background: url('../images/edit-img-elite@2x.png') no-repeat 10px 1px;
	  background-size:19px;
	}
		
		
	.rakPullDownNew {
		background: url(../images/dropdown-icon-elite@2x.png) no-repeat;
		background-size:15px;
		
	}
	.rakPullDown {
		background: url(../images/dropdown-icon-elite@2x.png) no-repeat;
		background-size:15px;
	
	}
	
	.input-body2-dropdown{
		background: url(../images/dropdown-icon-elite@2x.png) no-repeat right center;
		background-size:14px !important;
		background-position-x:98%;
	}
	
	.nav-justified li.deals-icon3{
	background: url(../images/deals-icon-elite@2x.png) 5px center no-repeat;
	background-size:19px;
	
	
	}
	
	.rakEditBenfImg{
		background: url('../images/edit-img-elite@2x.png') no-repeat 10px 10px;
		background-size:19px;
	   
	}
	
	
	.rakEditImgWidth{
		background: url('../images/edit-img-elite@2x.png') no-repeat 10px 1px;
		background-size:19px;
	   
	}
	
	.homeCorner{
		background: url('../images/home-elite@2x.png') no-repeat 10px -1px;
		background-size:17px;
		margin-top:1.2em;
	   
	}
	
	.rak-home-header>.homeCorner{
	width: 20px;
	height: 20px;
	background: url(../images/home-elite@2x.png)  no-repeat 2px -1px;
	background-size: 17px;
	}
	
	.rak-back-header>.homeCorner{
	width: 20px;
	height: 20px;
	background: url(../images/home-elite@2x.png)  no-repeat 2px -1px;
	background-size: 17px;
	}
	
	   
	
	.rak-accordianList {

		background: url('../images/icon_1-elite@2x.png') 100% 2px no-repeat;
		
		background-size:40px;
	} 
	
	.rak-accordianList.rakExpand{
		background: url(../images/icon_3-elite@2x.png) 99.5% 3px no-repeat;
		background-size:40px;
	}   
	
	.rak-back-img{
		background: url(../images/back-arrow-elite@2x.png) top center no-repeat;
	    background-size: 19px;
	}
	.profilelanding li {
		background: url(../images/arrow-right1-elite@2x.png) 99% center no-repeat;
	
		background-size: 15px;
	}
	
	.date-adjust {

    background: url(../images/calender_elite@2x.png) no-repeat right center;
	background-repeat-y: inherit;
	background-size: 29px;
}
	

}