
/* Stylesheet content from css/style.css in folder common */
@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0px; margin:0px;}
body img{ border:none;}
.BackgroundImg{ background:url(../images/mainappbg.jpg) no-repeat top center; min-height:702px; background-size:contain; opacity:0.8; }
.bgImgForCorp{ background:url(../images/mainappbgCorp.jpg) no-repeat top center;background-size: contain !important; }
.container{ width:100%; margin:0px auto; padding:0;position: fixed;top: 0;z-index: 99999;margin-top: 20%;}
.container1{ width:100%; margin:0px auto; padding:0; background:url(../images/2bg.jpg) no-repeat top center; height:702px; background-size:cover; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;}
.container2{ width:100%; margin:0px auto; padding:0; background:url(../images/3bg.jpg) no-repeat top center; height: 80%; background-size:cover; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;}
.container3{ width:100%; margin:0px auto; padding:0; background:url(../images/4bg.jpg) no-repeat top center; height:702px; background-size:cover; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;}
.container4{ width:100%; margin:0px auto; padding:0; background:url(../images/5bg.jpg) no-repeat top center; height:702px; background-size:cover; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;}
.container1corp{ width:100%; margin:0px auto; padding:0; background:url(../images/1bgcorp.png) no-repeat top center; background-color: white;height: 100vh !important; background-size:contain; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;background-size:100% 100% !important;}
.container2corp{ width:100%; margin:0px auto; padding:0; background:url(../images/2bgcorp.png) no-repeat top center; background-color: white;height: 100vh !important; background-size:contain; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;background-size:100% 100% !important;}
.container3corp{ width:100%; margin:0px auto; padding:0; background:url(../images/3bgcorp.png) no-repeat top center;background-color: white;height: 100vh !important; background-size:contain; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;background-size:100% 100% !important;}
.container4corp{ width:100%; margin:0px auto; padding:0; background:url(../images/4bgcorp.png) no-repeat top center;background-color: white; height: 100vh !important; background-size:contain; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;background-size:100% 100% !important;}
.container5corp{ width:100%; margin:0px auto; padding:0; background:url(../images/5bgcorp.png) no-repeat top center; background-color: white;height: 100vh !important; background-size:contain; vertical-align:top; display:table;position: fixed;top: 0;z-index: 99999;background-size:100% 100% !important;}

.SMEDemoPageOneBg{ background:url(../images/SMEDemoPage1.png) no-repeat top center;}
.SMEDemoPageTwoBg{ background:url(../images/SMEDemoPage2.png) no-repeat top center;}
.SMEDemoPageThreeBg{ background:url(../images/SMEDemoPage3.png) no-repeat top center;}
.SMEDemoPageFourBg{ background:url(../images/SMEDemoPage4.png) no-repeat top center;}
.SMEDemoPageFiveBg{ background:url(../images/SMEDemoPage5.jpg) no-repeat top center;}
.SMEDemoPageSixBg{ background:url(../images/SMEDemoPage1.png) no-repeat top center;background-size: contain !important; }

.Welcome{ width:98%; max-width:286px; background:#ffffff; border:2px #ffffff solid; top:0px;  -webkit-box-shadow: 0px 0px 113px -7px rgba(0,0,0,1); -moz-box-shadow: 0px 0px 113px -7px rgba(0,0,0,1);
box-shadow: 0px 0px 113px -7px rgba(0,0,0,1); margin:7% auto 0px auto; position:absolute; left:0px; right:0px; border:2px #ffffff solid;}
.WelcomeTop{ background:#ec1b23; padding:6px; text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#ffffff;}
.WelcomeBottom{ font-size:11px; color:#333333; font-family:Arial, Helvetica, sans-serif; padding:4% 3%; background:url(../images/screenbg.jpg) no-repeat right top; min-height:220px;}
.WelcomeBottom span{ font-weight:bold; display:block; padding-bottom:0px; padding-top:5px;}
.WelcomeBottom p{ max-width:159px; width:100%; line-height:14px; padding-bottom:9px;}
.Next{ margin-left:25px;}

.Product{ width:90%; max-width:320px; margin:0 auto; padding:3% 2%; color:#5d5d5d; font-size:11px; font-family:Arial, Helvetica, sans-serif; border-top:none}
.Product1{ width:100%; max-width:413px; margin:1% 14px 0 6%; float:right; padding:3% 2%; color:#5d5d5d; font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:justify; border-top:none;}
.ProMid{ padding:5px 0px;}

.ProLeft{ width:49%; text-align:left; font-size:16px; color:#ea2127; font-weight:bold; display:inline-block; vertical-align:top; padding-bottom:0px;}
.ProRight{ width:49%; text-align:right;  display:inline-block;}
.ProRight ul { width:48%; float: right; padding:0px; margin:0px;}
.ProRight ul li { list-style-type:none; display:inline-block; padding:0px;}
.ProBotMain{ background:#ffffff; border-right:2px #acacac solid; border-left:2px #acacac solid; border-bottom:2px #acacac solid; padding:4%;    margin-top: -5px;}


.ProBotMain1{ background:#ffffff; border-right:2px #acacac solid; border-left:2px #acacac solid; border-top:2px #acacac solid; padding:4%;}

.ProBOt{ width:100%; padding-top:3%;}
.ProbotL{ width:70%; display:inline-block;}
.ProbotR{ width:28%; display:inline-block; color:#dc1a22; font-size:12px; text-align:right; vertical-align:top; text-decoration:underline; padding-top:10px;}
.ProbotR a{  color:#dc1a22; font-size:12px;}
.ProTopArrow { width:100%;height: 16px;}
.ProTopArrowCorp { width:100%;height: 16px;margin-top: -3px;}
.ProTopArrow img{ width:100%;}
.ProTopArrow1{ background:url(../images/p3toparrow.png) no-repeat right bottom; min-height:12px;}
.ProTopArrow1 img{ width:100%;}
.ProbotL1{ width:80%; display:inline-block;}
.ProbotR1{ width:18%; display:inline-block; color:#dc1a22; font-size:12px; text-align:right; vertical-align:top; text-decoration:underline; padding-top:5px;}
.ProbotR1 a{  color:#dc1a22; font-size:12px;}

.Top{ margin-top:316px; float:inherit;}
.Top1{ margin-top:93%; float:inherit;}
.Top2{ margin-top:130px; float:inherit;}
.Top3{ margin-top:25px; float:inherit;}
.TopCorp{ margin: 0 auto;margin-top: 60%;float:inherit;} 
.Top1Corp{ margin-top:68%; margin-left:10px; float:inherit;}
.Top2Corp{ margin-top:14px; margin-left:46px; float:inherit;}
.Top4Corp{margin:0 auto;  margin-top:42px; float:inherit;margin-right:13%;}
.Top6Corp{margin-top: 74px; margin-left: 0px;float: inherit;}
.Top6Corp .ProTopArrow img {-webkit-transform: scaleX(-1); }
.sixthArrow {margin-top: 52px;margin-left: 0px;}
.container4corp .ProTopArrowCorp > img ,.container2corp .ProTopArrowCorp > img{max-width: 100%;}
.corrpDemoNextBtn{ float:right;}
.corpFootertooltip{
	position: fixed !important;
    padding-bottom: 0px !important;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%, 0);
}
.tradeFinanceToolTip{
	position: fixed;
    padding-bottom: 0px !important;
    bottom: 33%;
    left: 4%;
} 
.SMEDemoPageTwoBg .TopCorp{ margin-top: 85%;} 
.SMEDemoPageFourBg .Top4Corp{margin-top:32%; }
.SMEDemoPageFiveBg .ProTopArrow img{transform: scaleX(-1);}
.SMEDemoPageFiveBg .ProTopArrow {height: 11px;}
.SMEDemoPageFiveBg .ProBotMain1 {border-top: none; border-bottom: 2px #acacac solid;}
.SMEDemoPageFiveBg .Top1Corp {margin-top: 13%; margin-left: 0px;}
