
<!-- The following is included for maps -->
 


 <div class="rak-back-header" ng-hide='isUserLoggedIn && rakLocateUs.flagChk'
            ng-click='hideMarkerInfo();fields.isMapPage=true; fields.locationSearchText="";fields.isSearchInProgress=false; setEvent("onBackClick");'>
            <i class="rak-back-img"></i>
        </div>
        
        <div class="rak-back-header" ng-show='isUserLoggedIn && rakLocateUs.flagChk'
            ng-click='hideMarkerInfo();fields.isMapPage=true; fields.locationSearchText="";fields.isSearchInProgress=false; setEvent("onBackClick");'>
            <i class="rak-back-img"></i>
        </div>
        
        
        
 <div class="rak-back-header" ng-hide='isUserLoggedIn && !rakLocateUs.flagChk'
            ng-click='hideMarkerInfo();fields.isMapPage=true; fields.locationSearchText="";fields.isSearchInProgress=false; setGlobalEvent("onRakLocatorClick");'>
            <i class="rak-back-img"></i>
        </div>
          <div class="rak-back-header" ng-show='isUserLoggedIn && !rakLocateUs.flagChk'
            ng-click='hideMarkerInfo();fields.isMapPage=true; fields.locationSearchText="";fields.isSearchInProgress=false; setGlobalEvent("onRakPostLocatorClick");'>
            <i class="rak-back-img"></i>
        </div>
<div class="finacle-container rakLocateUsCont map-header-gradient " ng-init='rakLocateUs.resetRAKLocateUsSearchData();home.responseLocator(successResponse.responsesList);rakLocateUs.initRAKLocateUsSearchData(successResponse.responsesList);'>


    <div id="map-wrapper1">
        <fin-map id="map-wrapper1" location="fields.selectedLocation"></fin-map>
    </div>



   <!--  <div class="loc-info-wrap" ng-show="showMarkerInfoFlag" id="marker-info">

        <div>
            <div class="row info-detail-wrap">
                <div ng-click="hideMarkerInfo();loadMapFlag=false;setGlobalEvent('onLocatorCrossClick');" class="app app-cancel title-right"></div>
                <div class="col-sm-12 loc-km-wrap">
                    <p class="info-bank"> {{fields.selectedLocation.bank_name}} </p>
                    <p class="info-km"> {{fields.selectedLocation.distance.toFixed(2)}} </p>
                </div>
            </div>
        </div>

        <div class="row rakWidth100Percent">
                <div class="col-sm-11">
                    
                    <div class="info-address-wrap">
                    	<img src="{{markerImage}}" class="marker_image"/>
                        <p class="info-address"> {{fields.selectedLocation.postal_address}} </p>
                    </div>
                </div>

                <div ng-if="home.locateUs.branchName">
                <div class="col-sm-12 clear">
   					<span class="glyphicon glyphicon-time info-map-icon"></span> 
   					<p class="view-branch" ng-click="home.handlePullDown($event);"> View Branch Timings </p>
  						<ul class="PullDownMenu">
  							<li><a ng-click="home.handlePullDown($event);" class="app app-cancel" style="float:right"></a></li>
     						<li><strong style="margin-left:3em">Branch Timings</strong></li>
     						<li><a>Sunday : {{home.locateUs.Sunday}}</a></li>
    						<li><a>Monday : {{home.locateUs.Monday}}</a></li>    
    						<li><a>Tuesday : {{home.locateUs.Tuesday}}</a></li>       
    						<li><a>Wednesday : {{home.locateUs.Wednesday}}</a></li>
    						<li><a>Thursday : {{home.locateUs.Thursday}}</a></li>    
    						<li><a>Friday : {{home.locateUs.Friday}}</a></li>
    						<li><a>Saturday : {{home.locateUs.Saturday}}</a></li>    
  						</ul>
				</div>
				
               
			<div class="fin-txt"></div>
           
            <div class="help-line-wrap" ng-show="home.locateUs.ContactNumber || home.locateUs.Email">
                <div  class="help-line" ng-show="home.locateUs.ContactNumber">
                    <span class="glyphicon glyphicon-earphone phone-icon"></span>
                    <span class="ph-no"><a ng-href="tel:{{home.locateUs.ContactNumber}}" > {{home.locateUs.ContactNumber}} </a></span>
                </div>
                <div class="ph-bar" ng-show="home.locateUs.ContactNumber && home.locateUs.Email">
                    |
                </div>
                <div class="help-line" ng-show="home.locateUs.Email">
                    <span class="glyphicon glyphicon-envelope phone-icon"></span>
                    <span class="ph-no"><a ng-href="mailto:{{home.locateUs.Email}}" >{{home.locateUs.Email}}</a></span>
                </div>
            </div>
            </div>
            <div class="col-sm-12 clear">
   			<p class="btn--primary-btn" ng-click="showDirections();" style="padding-top:0.5em"> Get Directions </p>
   			</div>
            
        </div>
    </div>
 -->
</div>
